.secondary-sidebar{
    background:#fff;
    width:250px;
    float:left;
    padding-left:47px;
    height:100%;
    position:fixed;
    padding:20px 0
}



.horizontal-app-menu .secondary-sidebar{
    margin-left:-25px;
    /*border:1px solid rgba(0,0,0,.07)*/
}
.horizontal-app-menu .inner-content{
    margin-left:225px
}



.p-l-35{
    padding-left:35px!important
}





/*header{
    background:#2b303b;
    float:left;
    height:58px;
    position:fixed;
    width:100%;
    z-index:100
}*/


.sidebar{
    position:fixed;
    z-index:9999;
    height:calc(100% - 6px)
}
.sidebar .pg_scrollable{
    height:calc(100% - 58px);
    overflow-y:auto
}


.navbicon.scroll{
    position:fixed;
    top:15px
}
.sidebar li,.sidebar ul{
    list-style:none;
    margin:0;
    padding:0
}
.sidebar li{
    -moz-transition:all 200ms ease;
    -webkit-transition:all 200ms ease;
    transition:all 200ms ease
}
.sidebar>.navb>li:first-child{
    padding-top:23px
}
.sidebar li ul{
    margin-bottom:15px
}
.sidebar li ul li{
    border:0;
    position:relative
}
.sidebar .navb>li>h6{
    color:#4d4d4d;
    display:block;
    font-size:12px;
    font-weight:400;
    padding:10px 0 0;
    margin-bottom:10px;
    text-decoration:none;
    font-family:montserrat;
    text-transform:uppercase
}
.sidebar .navb .navb>li>a,.sidebar .navb>li>a{
    line-height:1.2;
    padding:7px 0;
    font-size:12px;
    color:#9199aa
}
.sidebar>.navb>li>a{
    padding:14px 0!important
}

.sidebar .navb .navb a:hover{
    background:#f0f0f0;
    border-left-color:transparent;
    color:#000;
    font-weight:400
}
.sidebar a:hover{
    color:#28affa!important;
    background-color:transparent!important
}
.sidebar .navb>.active:focus>a,.sidebar .navb>.active:hover>a,.sidebar .navb>.active>a{
    font-weight:600
}
.sidebar .navb .navb>.active:focus>a,.sidebar .navb .navb>.active:hover>a,.sidebar .navb .navb>.active>a{
    font-weight:400
}
.sidebar .navb>.active .active a,.sidebar .navb>.active .active a:hover{
    font-weight:600
}
.sidebar .navb>li>ul.navb{
    display:block
}


footer{
    position:fixed;
    margin-left:200px;
    bottom:8px;
    width:calc(100% - 200px);
    font-size:11px;
    padding:0 20px;
    text-align:right
}








.sidebar{
    width:255px;
    padding-left:50px
}
.sidebar.affix{
    position:fixed;
    top:70px;
    height:calc(100% - 84px);
    overflow-y:auto
}
.container-inner{
    max-width:1080px
}

.p-t-70{
    padding-top:70px
}
