<template>
	<v-layout>
		<modal-proposal-interest :show="showProposalInterest" @close="showProposalInterest = false" />
		<div class="proposal_show">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="entry-header pd-t-30-force">
							<div id="results-criteria">
								<div class="tx-30 d-inline tx-medium">{{ proposals.count }}</div>
								<h1 class="tx-30 d-inline">
                Manhattan Apartments For renting proposal
              </h1>
								<div class="tx-20 d-inline">- With 2 bedrooms</div>
							</div>
							<div class="row row-xs mg-b-10 pd-b-20">
								<div class="card-block pd-0">
									<div class="row row-sm mg-t-20 mg-b-0">
										<div class="col-md-6 col-lg-4"> <a href="javascript:;" class="btn btn-info tx-11 tx-spacing-1 tx-uppercase tx-semibold tx-mont pd-y-12 pd-x-30">Refine search</a>
										</div>
										<!-- col-3 -->
										<div class="col-md-6 col-lg-4 mg-t-10 mg-md-t-0">
											<div class="form-group mg-b-0"> <a href="javascript:;" class="btn btn-warning tx-11 tx-spacing-1 tx-uppercase tx-semibold tx-mont pd-y-12 pd-x-30">Save search</a>
											</div>
											<!-- form-group -->
										</div>
										<!-- col-3 -->
										<div class="col-md-6 col-lg-4 mg-t-10 mg-md-t-0">
											<div class="row no-gutters">
												<div class="col-5 col-sm-4 pd-t-10">Sort by:</div>
												<!-- col-4 -->
												<div class="col-7 col-sm-8">
													<div>
														<select name="sort_by" style="height: 34px;">
															<option selected="selected" value="listed_desc">Newest</option>
															<option value="interesting_desc">Recently updated</option>
															<option value="price_desc">Most expensive</option>
															<option value="price_asc">Least expensive</option>
															<option value="sqft_desc">Largest</option>
															<option value="sqft_asc">Smallest</option>
														</select>
													</div>
												</div>
												<!-- col-8 -->
											</div>
											<!-- row -->
										</div>
										<!-- col-3 -->
									</div>
									<!-- row -->
								</div>
								<!-- card-block -->
							</div>
						</div>
						<!-- .entry-header -->
						<!-- debut -->
						<div class="media-list bg-white rounded border">
							<div :key="proposal.id" v-for="proposal in proposals.content" class="media pd-20 pd-xs-20 border border-top-0 border-top-0 border-right-0 border-left-0 pos-relative">
								<!--img src="http://themepixels.me/bracketplus/img/img2.jpg" alt="" class="wd-40 rounded-circle"-->
								<div class="media-body">
									<div class="d-flex justify-content-between">
										<div>
											<h6 class="mg-b-2 tx-inverse tx-14">Louise Kate</h6>
											<span class="tx-12 tx-gray-500">@louisekate</span>
										</div> <span class="tx-12">2 minutes ago</span>
									</div>
									<!-- d-flex -->
									<div class="">
										<div class="header-info">
											<div class="not-interested-icon">zdf
<span class="fontello-cancel-circle fontello-icon tiptip_right" title=""></span>
												<span class="not-interested-label">fdsd</span>
											</div>
											<div class="mg-y-10">
												<div class="collapsed-listing-row">
													<div class="collapsed-title">Sales Development Representative</div>
													<div class="collapsed-compensation">$67K – $75K · 0.0% – 0.001% ·</div>
													<div class="collapsed-tags">Full Time</div>
												</div>
												<div class="collapsed-listing-row">
													<div class="collapsed-title">PR Intern</div>
													<div class="collapsed-compensation">$30K – $40K · 0.001% – 0.01% ·</div>
													<div class="collapsed-tags">Internship</div>
												</div>
												<div class="collapsed-listing-row">
													<div class="collapsed-title">Price</div>
													<div class="collapsed-compensation">$35K – $50K · 0.001% – 0.01% ·</div>
													<div class="collapsed-tags">Full Time</div>
												</div>
												<div class="collapsed-listing-row">
													<div class="collapsed-more">and 10 more</div>
												</div>
												<div class="cb"></div>
											</div>
											<div class="tag-row">
												<div class="tag active">
<span class="icon fontello-ok"></span>
													Active last week</div>
												<div class="tag applicants">
<span class="icon fontello-fire"></span>
													<strong>60</strong>
													applicants last week</div>
												<div class="tag locations tiptip" title="">
<span class="icon fontello-location"></span>
													San Francisco, San Francisco Bay Area</div>
												<div class="tag employees">
<span class="icon fontello-group"></span>
													51-200 employees</div>
											</div>
										</div>
										<div class="header-info">
											<div class="not-interested-icon">zdf
<span class="not-interested-label">fdsd</span>
											</div>
											<div class="mg-y-10">
												<div class="collapsed-listing-row"></div>
												<div class="cb"></div>
											</div>
											<div class="tag-row">
												<div class="tag active"><span class="icon fontello-ok"></span>
													Active last week</div>
												<div class="tag applicants"><span class="icon fontello-fire"></span>  <strong>60</strong>
													applicants last week</div>
												<div title="" class="tag locations tiptip"><span class="icon fontello-location"></span>
													San Francisco, San Francisco Bay Area</div>
												<div class="tag employees"><span class="icon fontello-group"></span>
													51-200 employees</div>
											</div>
										</div>
									</div>
									<div class="wd-100p d-block">
										<button class="button button1">bookmark</button>
										<button @click="showInterest" class="button button1">make a proposition</button>
										<button class="button button1">make a proposition</button>
									</div>
								</div>
								<!-- media-body -->
								<div class="wd-100p d-block">zfegr</div>
							</div>
							<!-- media -->
						</div>
						<!-- card -->
						<div class="bg-white pd-y-12 tx-center mg-t-15 mg-xs-t-30 shadow-base rounded wd-100p"> <a href="" class="tx-gray-600 hover-info">Load more</a>
						</div>
						<!-- fin -->
					</div>
					<!-- / .column-1 -->
					<div class="col-md-4 column-sidebar">
						<div class="">
							<div class="card shadow-base">
								<div class="card-header">
									<ul class="nav nav-tabs nav-fill card-header-tabs">
										<li class="nav-item"> <a class="nav-link active" href="#popular">Details</a>
										</li>
										<li class="nav-item"> <a class="nav-link" href="#recent">Map</a>
										</li>
									</ul>
								</div>
								<!-- card-header -->
								<div class="card-body">
									<v-map />
								</div>
							</div>
							<!-- card -->
							<div id="listing_sidebar_map-2" class="widget  widget_listing_sidebar_map"></div>
						</div>
						<div id="listing_sidebar_claim_listing-2" class="widget  widget_listing_sidebar_claim_listing is--independent">
							<h2 class="widget_sidebar_title"><div class="lwa">Is this your business?<span class="claim-verified">Verified Listing</span></div></h2><small class="listing-claim-description">Make sure your information are up to date.</small>
						</div>
					</div>
					<!-- / .column-2 -->
				</div>
			</div>
		</div>
	</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Dashboard'
  import moment from 'moment'

  export default {
    /**
     * The name of the page.
     */
    name: 'rent-list',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        loading: false,
        currentPage: 1,
        next: false,
        params: {},
        proposals: {
          content: []
        },
        showRefineSearch: false,
        showProposalInterest: false,
        showPricePackage: false
      }
    },

    created: function () {
      this.findAll(this.params)
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      // function to load cities
      findAll: function (payload) {
        payload.typeOfProposal = 'for_sale'
        this.isLoading = true
        this.$http.get('/api/proposals/list', {params: payload}).then(response => {
          // get status
          this.proposals.count = response.data.count
          this.proposals.content = this.proposals.content.concat(response.data.content)
        }, error => {
          // get failed
          console.log(error)
        })
      },
      showInterest: function (e) {
        this.showProposalInterest = true
        this.$root.$emit('find-properties')
        e.preventDefault()
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      },
      handleScroll: function (e) {
        let documentHeight = Math.max(document.body.scrollHeight, document.documentElement.scrollHeight, document.body.offsetHeight, document.documentElement.offsetHeight, document.body.clientHeight, document.documentElement.clientHeight)
        let scrollXY = document.documentElement.scrollTop + window.innerHeight

        // if (documentHeight - 10 <= scrollXY && this.next) {
        if (documentHeight - 10 <= scrollXY) {
          this.params.page = ++this.currentPage
          setTimeout(() => { this.findAll(this.params) }, 3000)
        }
      }
    },

    mounted () {
      window.addEventListener('scroll', this.handleScroll)
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
