<template>
   <v-layout>
     <div class=" container  container-fixed-lg">
     <div class="br-section-wrapper  pd-0 mg-y-40">
     <form @submit.prevent="submit(model)" autocomplete="off">
     <div class="br-section-header">
            <h6 class="br-section-label">New selling</h6>
             <p class="br-section-text">A form with a label on top of each form control.</p>
</div>

   <div class="br-section-body pd-70-force">

   <alert :alert="getMessage" />
             <div class="form-layout form-layout-1">
                     <div class="card card-transparent">
                        <div class="card-block">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="form-body">
                                    <div class="row">
                                       <div class="col-md-12">
                                          <h4 class="form-section"><i class="ft-map-pin"></i> Address Location</h4>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-md-12">
                                          <div class="form-group">
                                             <label>Choose your zone of selling</label>
                                             <multiselect
                                                v-model="selectedCities"
                                                id="ajax"
                                                label="name"
                                                track-by="id"
                                                placeholder="Type to search"
                                                open-direction="bottom"
                                                :custom-label="nameWithProvince"
                                                :clear-on-select="true"
                                                :options="cities"
                                                :multiple="true"
                                                :searchable="true"
                                                :loading="isLoading"
                                                :internal-search="false"
                                                :close-on-select="true"
                                                :options-limit="300"
                                                :max-height="600"
                                                :show-no-results="true"
                                                @search-change="onChangeLocation">
                                                <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
                                             </multiselect>
                                             <span class="help-block"> </span>
                                          </div>
                                       </div>
                                    </div>
                                    <h4 class="form-section"><i class="ft-box"></i> Property characteristics</h4>
                                    <div class="row">
                                       <div class="col-md-4">
                                          <div class="form-group">
                                             <label>Type of agent</label>
                                             <select class="form-control input-md">
                                                <option value="">Select a value</option>
                                                <option value="independant">independant</option>
                                                <option value="with_banner">with banner</option>
                                             </select>
                                             <span class="help-block"> </span>
                                          </div>
                                       </div>
                                       <div class="col-md-4">
                                          <div class="form-group">
                                             <label>Banner</label>
                                             <select class="form-control input-md">
                                                <option value="">Select a value</option>
                                                <option :key="banner"  v-for="banner in listOfBanner" :value="banner">{{banner}}</option>
                                             </select>
                                             <span class="help-block"> </span>
                                          </div>
                                       </div>
                                       <div class="col-md-4">
                                          <div class="form-group">
                                             <label>Accreditation number</label>
                                             <input type="text" placeholder="eg. St Catherine" class="form-control">
                                             <span class="help-block"> </span>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-md-4">
                                          <div class="form-group">
                                             <label>Receive pre-approved only?</label>
                                             <select v-model="model.isPreApproved" class="form-control input-md">
                                                <option value="">Select a value</option>
                                                <option value="true">yes</option>
                                                <option value="false">no</option>
                                                <option value="any">any type of client</option>
                                             </select>
                                             <span class="help-block"> </span>
                                          </div>
                                       </div>
                                       <div class="col-md-4">
                                          <div class="form-group">
                                             <label>Receive first buyer only?</label>
                                             <select v-model="model.isFirstBuyer" class="form-control input-md">
                                                <option value="">Select a value</option>
                                                <option value="true">yes</option>
                                                <option value="false">no</option>
                                                <option value="any">any type of buyer</option>
                                             </select>
                                             <span class="help-block"> </span>
                                          </div>
                                       </div>
                                       <div class="col-md-4">
                                          <div class="form-group">
                                             <label>Urgency of proposal</label>
                                             <select v-model="model.isUrgent" class="form-control input-md">
                                                <option value="">Select a value</option>
                                                <option v-for="urgencyOfProposal in listOfUrgencyOfProposal" :key="urgencyOfProposal" :value="urgencyOfProposal">{{urgencyOfProposal}}</option>
                                                <option value="any">any type of urgency</option>
                                             </select>
                                             <span class="help-block"> </span>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-md-4">
                                          <div class="form-group">
                                             <label>Category of property</label>
                                             <select v-model="model.categoryOfProperty" class="form-control input-md">
                                                <option value="">Select a value</option>
                                                <option value="is_new">new</option>
                                                <option value="is_used">is_used</option>
                                                <option value="commercial">commercial</option>
                                                <option value="land">land</option>
                                             </select>
                                             <span class="help-block"> </span>
                                          </div>
                                       </div>
                                       <div class="col-md-4">
                                          <div class="form-group">
                                             <label>Price of property min</label>
                                             <input type="text" v-model="model.ageOfProperty" placeholder="eg. St Catherine" class="form-control">
                                             <span class="help-block"> </span>
                                          </div>
                                       </div>
                                       <div class="col-md-4">
                                          <div class="form-group">
                                             <label>Price of property max</label>
                                             <input type="text" v-model="model.ageOfProperty" placeholder="eg. St Catherine" class="form-control">
                                             <span class="help-block"> </span>
                                          </div>
                                       </div>
                                    </div>
                                    <h4 class="form-section"><i class="ft-check-square"></i> Features</h4>
                                    <div class="form-group row">
                                       <div class="col-md-12">
                                          <label v-for="typeOfProperty in typeOfProperty" :key="typeOfProperty" class="custom-control custom-checkbox col-md-2">
                                          <input type="checkbox" class="custom-control-input" v-model="model.typeOfProperty" :value="typeOfProperty">
                                          <span class="custom-control-indicator"></span>
                                          <span class="custom-control-description">{{ typeOfProperty }}</span>
                                          </label>
                                       </div>
                                       <span class="help-block"> </span>
                                    </div>
                                    <h4 class="form-section"><i class="ft-check-square"></i> Amenities (near by)</h4>
                                    <div class="form-group row">
                                       <div class="col-md-12">
                                          <label v-for="amenities in listOfAmenities" :key="amenities" class="custom-control custom-checkbox col-md-3">
                                          <input type="checkbox" class="custom-control-input" v-model="propertyTypes" :value="amenities">
                                          <span class="custom-control-indicator"></span>
                                          <span class="custom-control-description">{{ amenities }}</span>
                                          </label>
                                       </div>
                                       <span class="help-block"> </span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
             </div><!-- form-layout -->
             </div>

                       <div class="br-section-footer">

                 <button id="seller_form" class="btn btn-info">Submit Form</button>
                 <button class="btn btn-secondary">Cancel</button>

             </div>



   </form>
           </div>
           </div>
   </v-layout>
</template>

<script>
  /* ============
   * Account Index Page
   * ============
   *
   * Page where the user can view the account information.
   */
import VLayout from '@/layouts/Dashboard'
import * as constants from '@/constants/index'
import Alert from '@/components/message/Alert'

export default {
    data () {
      return {
        model: {
          city: null,
          isPreApproved: '',
          isFirstBuyer: '',
          isUrgent: '',
          categoryOfProperty: '',
          typeOfProperty: [],
          amenity: [],
          priceMinimum: null,
          priceMaximum: null
        },
        isLoading: false,
        listOfUrgencyOfProposal: constants.URGENCY_OF_PROPOSAL,
        listOfAmenities: constants.AMENITIES,
        listOfBanner: constants.BANNER,
        propertyTypes: [],
        selectedCities: [],
        typeOfProperty: constants.TYPE_FOR_SALE,
        cities: []
      }
    },
    methods: {
      // ------------------------------------------------------------------------------------------------
      submit: function (payload) {
        payload = {method: 'post', url: '/api/seller/new', data: this.model, button: window.$('#seller_form')}
        this.$store.dispatch('global/submit', payload)
      },
      // function to load cities
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('rest/city', {params: query}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data
        }, response => {
          // get failed
          console.log(response)
        })
      },
      // function to display name of province and name of city
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      // function to start searching for cities after 3 characteres
      onChangeLocation: function (searchQuery) {
        // if the type query is equal or greater than 3 characteres
        // then load cities
        if (searchQuery.length >= 3) {
          let params = { q: searchQuery }
          this.asyncFind(params)
        }
      }
    },
    computed: {
      getMessage: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      }
    },
    /**
     * The components the page can use.
     */
    components: {
      Alert,
      VLayout
    }
}
</script>
