<template>
	<div class="col-md-9">
		<div class="bg-white pd-30 shadow-base rounded-5">
			<div class="bd-b pd-y-30 pd-x-0">
				<div class="pos-relative d-table wd-100p ht-100p">
					<div class="wd-100p align-middle d-table-row wd-100p d-flex justify-content-between">
						<div class="pos-relative ht-100p wd-70p align-top d-table-cell">
							<h2>
                        701 S Miami Ave                    </h2>
						</div>
						<div class="tx-right-force ht-100p wd-30p align-top pos-relative d-table-cell"> <span class="badge badge-info">
            For Rent        </span>
						</div>
					</div>
					<div class="d-table-row wd-100p valign-middle d-flex justify-content-between">
						<div class="clearfix">
							<div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light">August 25, 2017</div>
							<div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light"> <span class="tx-11 tx-spacing-8">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
    </span>
							</div>
							<div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light"> <span class="">
	<a href="javascript:void(0)" class="" data-property-id="431">
        <i class="fa fa-heart-o"></i>
        <span class="">
            3        </span>
								</a>
								</span>
							</div>
							<div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light"> <i class="lnr lnr-eye" aria-hidden="true"></i>
								<span class="">1070</span>
							</div>
							<div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light"></div>
						</div>
						<div class="d-table-cell ht-100p wd-30p tx-right valign-top"> <span class="tx-semibold">
                            Property ID:                        </span>
							<span class="tx-semibold tx-black">
                            1234                        </span>
						</div>
					</div>
				</div>
			</div>
			<div class="pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
				<div class="pos-relative ht-100p  align-top valign-middle c-table-cell">
					<h5>
            Specification       </h5>
				</div>
				<div class="clearfix wd-80p align-top pos-relative d-table-cell ht-100p valign-top valign-middle">
					<div class="row">
                        <div class="col-md-12">
						<widget-statistic-rate />
                        </div>
					</div>
				</div>
			</div>
            <div class="pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
				<div class="pos-relative ht-100p  align-top valign-middle c-table-cell">
					<h5>
            Specification       </h5>
				</div>
				<div class="clearfix wd-80p align-top pos-relative d-table-cell ht-100p valign-top valign-middle">
					<div class="row">
                        <div class="col-md-12">
						<widget-statistic-medium />
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Dashboard'
  import moment from 'moment'
  import transformer from '@/transformers/ProposalTransformer'
  import WidgetStatisticRate from '@/components/widget/WidgetStatisticRate'
  import WidgetStatisticMedium from '@/components/widget/WidgetStatisticMedium'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
      }
    },

    created: function () {
      // this.find()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      find: function () {
        let payload = {url: 'api/buy', data: this.$route.params.id, transformer: transformer}
        this.$store.dispatch('global/find', payload)
      },
      getLink: function (id, type) {
        let url = (type === 'for_sale') ? '/buy/' + id : '/rent/' + id
        return url
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      },
      getDate: function (time) {
        time = moment(time).format('DD MMM YYYY')
        return time
      }
    },

    computed: {
      proposal: function () {
        return this.$store.state.global.object
      },
      getTab: function () {
        return this.$route.query.tab ? this.$route.query.tab !== undefined : 'null'
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      WidgetStatisticMedium,
      WidgetStatisticRate,
      VLayout
    }
  }
</script>
