<template>
  <v-layout>
<div class="container">
  <div class="br-pagebody">
  <div class="row row-sm">
    <div class="col-sm-6 col-xl-3">
      <div class="bg-info rounded overflow-hidden">
        <div class="pd-x-20 pd-t-20 d-flex align-items-center">
          <i class="ion ion-earth tx-60 lh-0 tx-white op-7"></i>
          <div class="mg-l-20">
            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">Today's Visits</p>
            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">1,975,224</p>
            <span class="tx-11 tx-roboto tx-white-8">24% higher yesterday</span>
          </div>
        </div>
        <div id="ch1" class="ht-50 tr-y-1"></div>
      </div>
    </div><!-- col-3 -->
    <div class="col-sm-6 col-xl-3 mg-t-20 mg-sm-t-0">
      <div class="bg-purple rounded overflow-hidden">
        <div class="pd-x-20 pd-t-20 d-flex align-items-center">
          <i class="ion ion-bag tx-60 lh-0 tx-white op-7"></i>
          <div class="mg-l-20">
            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">Today Sales</p>
            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">$329,291</p>
            <span class="tx-11 tx-roboto tx-white-8">$390,212 before tax</span>
          </div>
        </div>
        <div id="ch3" class="ht-50 tr-y-1"></div>
      </div>
    </div><!-- col-3 -->
    <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
      <div class="bg-teal rounded overflow-hidden">
        <div class="pd-x-20 pd-t-20 d-flex align-items-center">
          <i class="ion ion-monitor tx-60 lh-0 tx-white op-7"></i>
          <div class="mg-l-20">
            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">% Unique Visits</p>
            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">54.45%</p>
            <span class="tx-11 tx-roboto tx-white-8">23% average duration</span>
          </div>
        </div>
        <div id="ch2" class="ht-50 tr-y-1"></div>
      </div>
    </div><!-- col-3 -->
    <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
      <div class="bg-primary rounded overflow-hidden">
        <div class="pd-x-20 pd-t-20 d-flex align-items-center">
          <i class="ion ion-clock tx-60 lh-0 tx-white op-7"></i>
          <div class="mg-l-20">
            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">Bounce Rate</p>
            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">32.16%</p>
            <span class="tx-11 tx-roboto tx-white-8">65.45% on average time</span>
          </div>
        </div>
        <div id="ch4" class="ht-50 tr-y-1"></div>
      </div>
    </div><!-- col-3 -->
  </div><!-- row -->
</div>

            <div class="row u-mb-large">
                <div class="col-sm-12">
                    <div class="c-table-responsive@desktop">
                      <div class="br-pagebody pd-x-20 pd-sm-x-30">
          <div class="card bd-0 shadow-base">
            <table class="table mg-b-0 table-contact">
              <thead>
                <tr>
                  <th class="wd-5p">
                    <label class="ckbox mg-b-0">
                      <input type="checkbox"><span></span>
                    </label>
                  </th>
                  <th class="tx-10-force tx-mont tx-medium">Name / Email</th>
                  <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Phone</th>
                  <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Salary</th>
                  <th class="wd-5p hidden-xs-down"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="valign-middle">
                    <label class="ckbox mg-b-0">
                      <input type="checkbox"><span></span>
                    </label>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="http://themepixels.me/bracketplus/img/img1.jpg" class="wd-40 rounded-circle" alt="">
                      <div class="mg-l-15">
                        <div class="tx-inverse">Katherine Lumaad</div>
                        <span class="tx-12">klumaad@themepixels.me</span>
                      </div>
                    </div>
                  </td>
                  <td class="valign-middle hidden-xs-down">+1 234 6789</td>
                  <td class="valign-middle hidden-xs-down">$23,000</td>
                  <td class="dropdown hidden-xs-down">
                    <a href="#" data-toggle="dropdown" class="btn pd-y-3 tx-gray-500 hover-info"><i class="icon ion-more"></i></a>
                    <div class="dropdown-menu dropdown-menu-right pd-10">
                      <nav class="nav nav-style-1 flex-column">
                        <a href="" class="nav-link">Info</a>
                        <a href="" class="nav-link">Email</a>
                        <a href="" class="nav-link">Edit</a>
                        <a href="" class="nav-link">Delete</a>
                      </nav>
                    </div><!-- dropdown-menu -->
                  </td>
                </tr>
                <tr>
                  <td class="valign-middle">
                    <label class="ckbox mg-b-0">
                      <input type="checkbox"><span></span>
                    </label>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="http://themepixels.me/bracketplus/img/img2.jpg" class="wd-40 rounded-circle" alt="">
                      <div class="mg-l-15">
                        <div class="tx-inverse">Gorgonia Magalpok</div>
                        <span class="tx-12">you@themepixels.me</span>
                      </div>
                    </div>
                  </td>
                  <td class="valign-middle hidden-xs-down">+1 743 2423</td>
                  <td class="valign-middle hidden-xs-down">$40,000</td>
                  <td class="dropdown hidden-xs-down">
                    <a href="#" data-toggle="dropdown" class="btn pd-y-3 tx-gray-500 hover-info"><i class="icon ion-more"></i></a>
                    <div class="dropdown-menu dropdown-menu-right pd-10">
                      <nav class="nav nav-style-1 flex-column">
                        <a href="" class="nav-link">Info</a>
                        <a href="" class="nav-link">Email</a>
                        <a href="" class="nav-link">Edit</a>
                        <a href="" class="nav-link">Delete</a>
                      </nav>
                    </div><!-- dropdown-menu -->
                  </td>
                </tr>
                <tr>
                  <td class="valign-middle">
                    <label class="ckbox mg-b-0">
                      <input type="checkbox"><span></span>
                    </label>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="http://themepixels.me/bracketplus/img/img3.jpg" class="wd-40 rounded-circle" alt="">
                      <div class="mg-l-15">
                        <div class="tx-inverse">Marilyn Tarter</div>
                        <span class="tx-12">mrilyn@themepixels.me</span>
                      </div>
                    </div>
                  </td>
                  <td class="valign-middle hidden-xs-down">+1 234 1211</td>
                  <td class="valign-middle hidden-xs-down">$23,000</td>
                  <td class="dropdown hidden-xs-down">
                    <a href="#" data-toggle="dropdown" class="btn pd-y-3 tx-gray-500 hover-info"><i class="icon ion-more"></i></a>
                    <div class="dropdown-menu dropdown-menu-right pd-10">
                      <nav class="nav nav-style-1 flex-column">
                        <a href="" class="nav-link">Info</a>
                        <a href="" class="nav-link">Email</a>
                        <a href="" class="nav-link">Edit</a>
                        <a href="" class="nav-link">Delete</a>
                      </nav>
                    </div><!-- dropdown-menu -->
                  </td>
                </tr>
                <tr>
                  <td class="valign-middle">
                    <label class="ckbox mg-b-0">
                      <input type="checkbox"><span></span>
                    </label>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="http://themepixels.me/bracketplus/img/img4.jpg" class="wd-40 rounded-circle" alt="">
                      <div class="mg-l-15">
                        <div class="tx-inverse">Belinda Connor</div>
                        <span class="tx-12">klumaad@themepixels.me</span>
                      </div>
                    </div>
                  </td>
                  <td class="valign-middle hidden-xs-down">+1 234 2222</td>
                  <td class="valign-middle hidden-xs-down">$23,000</td>
                  <td class="dropdown hidden-xs-down">
                    <a href="#" data-toggle="dropdown" class="btn pd-y-3 tx-gray-500 hover-info"><i class="icon ion-more"></i></a>
                    <div class="dropdown-menu dropdown-menu-right pd-10">
                      <nav class="nav nav-style-1 flex-column">
                        <a href="" class="nav-link">Info</a>
                        <a href="" class="nav-link">Email</a>
                        <a href="" class="nav-link">Edit</a>
                        <a href="" class="nav-link">Delete</a>
                      </nav>
                    </div><!-- dropdown-menu -->
                  </td>
                </tr>
                <tr>
                  <td class="valign-middle">
                    <label class="ckbox mg-b-0">
                      <input type="checkbox"><span></span>
                    </label>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="http://themepixels.me/bracketplus/img/img5.jpg" class="wd-40 rounded-circle" alt="">
                      <div class="mg-l-15">
                        <div class="tx-inverse">Brandon Lawrence</div>
                        <span class="tx-12">brandon@themepixels.me</span>
                      </div>
                    </div>
                  </td>
                  <td class="valign-middle hidden-xs-down">+1 111 6789</td>
                  <td class="valign-middle hidden-xs-down">$23,000</td>
                  <td class="dropdown hidden-xs-down">
                    <a href="#" data-toggle="dropdown" class="btn pd-y-3 tx-gray-500 hover-info"><i class="icon ion-more"></i></a>
                    <div class="dropdown-menu dropdown-menu-right pd-10">
                      <nav class="nav nav-style-1 flex-column">
                        <a href="" class="nav-link">Info</a>
                        <a href="" class="nav-link">Email</a>
                        <a href="" class="nav-link">Edit</a>
                        <a href="" class="nav-link">Delete</a>
                      </nav>
                    </div><!-- dropdown-menu -->
                  </td>
                </tr>
                <tr>
                  <td class="valign-middle">
                    <label class="ckbox mg-b-0">
                      <input type="checkbox"><span></span>
                    </label>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="http://themepixels.me/bracketplus/img/img1.jpg" class="wd-40 rounded-circle" alt="">
                      <div class="mg-l-15">
                        <div class="tx-inverse">Katherine Lumaad</div>
                        <span class="tx-12">klumaad@themepixels.me</span>
                      </div>
                    </div>
                  </td>
                  <td class="valign-middle hidden-xs-down">+1 234 6789</td>
                  <td class="valign-middle hidden-xs-down">$23,000</td>
                  <td class="dropdown hidden-xs-down">
                    <a href="#" data-toggle="dropdown" class="btn pd-y-3 tx-gray-500 hover-info"><i class="icon ion-more"></i></a>
                    <div class="dropdown-menu dropdown-menu-right pd-10">
                      <nav class="nav nav-style-1 flex-column">
                        <a href="" class="nav-link">Info</a>
                        <a href="" class="nav-link">Email</a>
                        <a href="" class="nav-link">Edit</a>
                        <a href="" class="nav-link">Delete</a>
                      </nav>
                    </div><!-- dropdown-menu -->
                  </td>
                </tr>
                <tr>
                  <td class="valign-middle">
                    <label class="ckbox mg-b-0">
                      <input type="checkbox"><span></span>
                    </label>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="http://themepixels.me/bracketplus/img/img2.jpg" class="wd-40 rounded-circle" alt="">
                      <div class="mg-l-15">
                        <div class="tx-inverse">Gorgonia Magalpok</div>
                        <span class="tx-12">you@themepixels.me</span>
                      </div>
                    </div>
                  </td>
                  <td class="valign-middle hidden-xs-down">+1 743 2423</td>
                  <td class="valign-middle hidden-xs-down">$40,000</td>
                  <td class="dropdown hidden-xs-down">
                    <a href="#" data-toggle="dropdown" class="btn pd-y-3 tx-gray-500 hover-info"><i class="icon ion-more"></i></a>
                    <div class="dropdown-menu dropdown-menu-right pd-10">
                      <nav class="nav nav-style-1 flex-column">
                        <a href="" class="nav-link">Info</a>
                        <a href="" class="nav-link">Email</a>
                        <a href="" class="nav-link">Edit</a>
                        <a href="" class="nav-link">Delete</a>
                      </nav>
                    </div><!-- dropdown-menu -->
                  </td>
                </tr>
                <tr>
                  <td class="valign-middle">
                    <label class="ckbox mg-b-0">
                      <input type="checkbox"><span></span>
                    </label>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="http://themepixels.me/bracketplus/img/img3.jpg" class="wd-40 rounded-circle" alt="">
                      <div class="mg-l-15">
                        <div class="tx-inverse">Marilyn Tarter</div>
                        <span class="tx-12">mrilyn@themepixels.me</span>
                      </div>
                    </div>
                  </td>
                  <td class="valign-middle hidden-xs-down">+1 234 1211</td>
                  <td class="valign-middle hidden-xs-down">$23,000</td>
                  <td class="dropdown hidden-xs-down">
                    <a href="#" data-toggle="dropdown" class="btn pd-y-3 tx-gray-500 hover-info"><i class="icon ion-more"></i></a>
                    <div class="dropdown-menu dropdown-menu-right pd-10">
                      <nav class="nav nav-style-1 flex-column">
                        <a href="" class="nav-link">Info</a>
                        <a href="" class="nav-link">Email</a>
                        <a href="" class="nav-link">Edit</a>
                        <a href="" class="nav-link">Delete</a>
                      </nav>
                    </div><!-- dropdown-menu -->
                  </td>
                </tr>
                <tr>
                  <td class="valign-middle">
                    <label class="ckbox mg-b-0">
                      <input type="checkbox"><span></span>
                    </label>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="http://themepixels.me/bracketplus/img/img4.jpg" class="wd-40 rounded-circle" alt="">
                      <div class="mg-l-15">
                        <div class="tx-inverse">Belinda Connor</div>
                        <span class="tx-12">klumaad@themepixels.me</span>
                      </div>
                    </div>
                  </td>
                  <td class="valign-middle hidden-xs-down">+1 234 2222</td>
                  <td class="valign-middle hidden-xs-down">$23,000</td>
                  <td class="dropdown hidden-xs-down">
                    <a href="#" data-toggle="dropdown" class="btn pd-y-3 tx-gray-500 hover-info"><i class="icon ion-more"></i></a>
                    <div class="dropdown-menu dropdown-menu-right pd-10">
                      <nav class="nav nav-style-1 flex-column">
                        <a href="" class="nav-link">Info</a>
                        <a href="" class="nav-link">Email</a>
                        <a href="" class="nav-link">Edit</a>
                        <a href="" class="nav-link">Delete</a>
                      </nav>
                    </div><!-- dropdown-menu -->
                  </td>
                </tr>
                <tr>
                  <td class="valign-middle">
                    <label class="ckbox mg-b-0">
                      <input type="checkbox"><span></span>
                    </label>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="http://themepixels.me/bracketplus/img/img5.jpg" class="wd-40 rounded-circle" alt="">
                      <div class="mg-l-15">
                        <div class="tx-inverse">Brandon Lawrence</div>
                        <span class="tx-12">brandon@themepixels.me</span>
                      </div>
                    </div>
                  </td>
                  <td class="valign-middle hidden-xs-down">+1 111 6789</td>
                  <td class="valign-middle hidden-xs-down">$23,000</td>
                  <td class="dropdown hidden-xs-down">
                    <a href="#" data-toggle="dropdown" class="btn pd-y-3 tx-gray-500 hover-info"><i class="icon ion-more"></i></a>
                    <div class="dropdown-menu dropdown-menu-right pd-10">
                      <nav class="nav nav-style-1 flex-column">
                        <a href="" class="nav-link">Info</a>
                        <a href="" class="nav-link">Email</a>
                        <a href="" class="nav-link">Edit</a>
                        <a href="" class="nav-link">Delete</a>
                      </nav>
                    </div><!-- dropdown-menu -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div><!-- br-pagebody -->
                    </div>

                    <nav class="c-pagination u-mt-small u-justify-between">
                        <a class="c-pagination__control" href="#">
                            <i class="fa fa-caret-left"></i>
                        </a>

                        <p class="c-pagination__counter">Page 2 of 3</p>

                        <a class="c-pagination__control" href="#">
                            <i class="fa fa-caret-right"></i>
                        </a>
                    </nav>
                </div>
            </div><!-- // .row -->
        </div><!-- // .container -->
      </v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */
  import VLayout from '@/layouts/Dashboard'

  export default {
    /**
     * The name of the page.
     */
    name: 'profile-notification',
    components: {
      VLayout
    }
  }
</script>
