<template>
  <v-layout>
<!-- ########## START: MAIN PANEL ########## -->
<main class="o-page__content">
         <header class="c-navbar u-mb-medium">
             <button class="c-sidebar-toggle u-mr-small">
                 <span class="c-sidebar-toggle__bar"></span>
                 <span class="c-sidebar-toggle__bar"></span>
                 <span class="c-sidebar-toggle__bar"></span>
             </button><!-- // .c-sidebar-toggle -->

             <h2 class="c-navbar__title u-mr-auto">Your Profile</h2>

             <div class="c-dropdown u-hidden-down@mobile">
                 <a class="c-notification dropdown-toggle" href="#" id="dropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <span class="c-notification__icon">
                         <i class="fa fa-user-o"></i>
                     </span>
                     <span class="c-notification__number">3</span>
                 </a>

                 <div class="c-dropdown__menu c-dropdown__menu--large dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuUser">
                     <a href="#" class="c-dropdown__item dropdown-item o-media">
                         <span class="o-media__img u-mr-xsmall">
                             <span class="c-avatar c-avatar--xsmall">
                                 <img class="c-avatar__img" src="img/avatar1-72.jpg" alt="User's Profile Picture">
                             </span>
                         </span>
                         <div class="o-media__body">
                             <h6 class="u-mb-zero">Someone mentioned you</h6>
                             <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                         </div>
                     </a>
                     <a href="#" class="c-dropdown__item dropdown-item o-media">
                         <span class="o-media__img u-mr-xsmall">
                             <span class="c-avatar c-avatar--xsmall">
                                 <img class="c-avatar__img" src="img/avatar2-72.jpg" alt="User's Profile Picture">
                             </span>
                         </span>
                         <div class="o-media__body">
                             <h6 class="u-mb-zero">Recieved a Payment</h6>
                             <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                         </div>
                     </a>
                     <a href="#" class="c-dropdown__item dropdown-item o-media">
                         <span class="o-media__img u-mr-xsmall">
                             <span class="c-avatar c-avatar--xsmall">
                                 <img class="c-avatar__img" src="img/avatar3-72.jpg" alt="User's Profile Picture">
                             </span>
                         </span>
                         <div class="o-media__body">
                             <h6 class="u-mb-zero">You got a promotion</h6>
                             <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                         </div>
                     </a>
                 </div>
             </div>

             <div class="c-dropdown dropdown u-mr-medium u-ml-small u-hidden-down@mobile">
                 <a class="c-notification dropdown-toggle" href="#" id="dropdownMenuAlerts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <span class="c-notification__icon">
                         <i class="fa fa-bell-o"></i>
                     </span>
                     <span class="c-notification__number">3</span>
                 </a>

                 <div class="c-dropdown__menu c-dropdown__menu--large dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAlerts">
                     <a href="#" class="c-dropdown__item dropdown-item o-media">
                         <span class="o-media__img u-mr-xsmall">
                             <span class="c-avatar c-avatar--xsmall">
                                 <span class="c-avatar__img u-bg-success u-flex u-justify-center u-align-items-center">
                                     <i class="fa fa-check u-text-large u-color-white"></i>
                                 </span>
                             </span>

                         </span>
                         <div class="o-media__body">
                             <h6 class="u-mb-zero">Completed a task</h6>
                             <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                         </div>
                     </a>

                     <a href="#" class="c-dropdown__item dropdown-item o-media">
                         <span class="o-media__img u-mr-xsmall">
                             <span class="c-avatar c-avatar--xsmall">
                                 <span class="c-avatar__img u-bg-fancy u-flex u-justify-center u-align-items-center">
                                     <i class="fa fa-calendar u-text-large u-color-white"></i>
                                 </span>
                             </span>

                         </span>
                         <div class="o-media__body">
                             <h6 class="u-mb-zero">Company meetup</h6>
                             <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                         </div>
                     </a>
                     <a href="#" class="c-dropdown__item dropdown-item o-media">
                         <span class="o-media__img u-mr-xsmall">
                             <span class="c-avatar c-avatar--xsmall">
                                 <span class="c-avatar__img u-bg-primary u-flex u-justify-center u-align-items-center">
                                     <i class="fa fa-info u-text-large u-color-white"></i>
                                 </span>
                             </span>

                         </span>
                         <div class="o-media__body">
                             <h6 class="u-mb-zero">Someone mentioned you</h6>
                             <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                         </div>
                     </a>
                 </div>
             </div>

             <div class="c-dropdown dropdown">
                 <a  class="c-avatar c-avatar--xsmall has-dropdown dropdown-toggle" href="#" id="dropdwonMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <img class="c-avatar__img" src="img/avatar-72.jpg" alt="User's Profile Picture">
                 </a>

                 <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdwonMenuAvatar">
                     <a class="c-dropdown__item dropdown-item" href="#">Edit Profile</a>
                     <a class="c-dropdown__item dropdown-item" href="#">View Activity</a>
                     <a class="c-dropdown__item dropdown-item" href="#">Manage Roles</a>
                 </div>
             </div>
         </header>

         <div class="container-fluid">
             <div class="row">
                 <div class="col-xl-7">

                        <ul class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
                             <li><a class="c-tabs__link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Activity</a></li>

                             <li><a class="c-tabs__link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Blocked Users</a></li>

                             <li><a class="c-tabs__link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">NDAs</a></li>

                             <li><a class="c-tabs__link u-hidden-down@tablet" id="nav-customer-tab" data-toggle="tab" href="#nav-customer" role="tab" aria-controls="nav-customer" aria-selected="false">Customer Invoices</a></li>
                         </ul>

                         <div class="c-tabs__content tab-content u-mb-large" id="nav-tabContent">
                             <div class="c-tabs__pane active u-pb-medium" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                                 <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Today</p>

                                 <div class="c-feed">
                                     <div class="c-feed__item c-feed__item--fancy">
                                         <p>Gerald Vaughn changed the status to QA on <strong>MA-86 - Retargeting Ads</strong></p>

                                         <p class="c-feed__comment">I’ve prepared all sizes for you. Can you take a look tonight so we can prepare my final invoice?</p>

                                         <span class="c-feed__meta">New Dashboard Design - 9:24PM</span>
                                     </div>

                                     <div class="c-feed__item c-feed__item--success">
                                         <p>Gerald Vaughn commented on <strong>DA-459 - Mediation: Demand Source Logo Size</strong></p>

                                         <span class="u-text-mute u-text-small">Portfolio Updates for Jason Carroll - 7:12PM</span>
                                     </div>

                                     <div class="c-feed__item c-feed__item--fancy">
                                         <p>Gerald Vaughn changed the status to QA on  <strong>MA-45 - Finish Prototype</strong></p>

                                         <span class="c-feed__meta">New Dashboard Design - 11:30AM</span>
                                     </div>
                                 </div><!-- // .c-feed -->

                                 <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Yesterday</p>

                                 <div class="c-feed">
                                     <div class="c-feed__item c-feed__item--info">
                                         <p>Gerald Vaughn attached 5 files to <strong>9054 - Find good stocks for our Instagram channel</strong></p>

                                         <div class="c-feed__gallery">

                                             <div class="c-feed__gallery-item">
                                                 <img src="img/feed1.jpg" alt="Images' title">
                                             </div>

                                             <div class="c-feed__gallery-item">
                                                 <img src="img/feed2.jpg" alt="Images' title">
                                             </div>

                                             <div class="c-feed__gallery-item">
                                                 <img src="img/feed3.jpg" alt="Images' title">
                                             </div>

                                             <div class="c-feed__gallery-item">
                                                 <img src="img/feed4.jpg" alt="Images' title">
                                             </div>

                                             <div class="c-feed__gallery-item">
                                                 <img src="img/feed5.jpg" alt="Images' title">
                                             </div>

                                         </div>

                                         <span class="c-feed__meta">Marketing Templates & Strategy - 7:59AM</span>
                                     </div>

                                     <div class="c-feed__item c-feed__item--success">
                                         <p>Gerald Vaughn commented on <strong>Find good stocks for our Instagram channel</strong></p>

                                         <p class="c-feed__comment">What do you think about these? Should I continue in this style?</p>

                                         <span class="c-feed__meta">Marketing Templates & Strategy - 7:58AM</span>
                                     </div>

                                     <div class="c-feed__item c-feed__item--fancy">
                                         <p>Gerald Vaughn changed the status to In Progress on <strong>Find good stocks for our Instagram channel</strong></p>
                                         <span class="c-feed__meta">Marketing Templates & Strategy - 6:30AM</span>
                                     </div>
                                 </div><!-- // .c-feed -->

                                 <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">28 January</p>

                                 <div class="c-feed u-mb-zero">
                                     <div class="c-feed__item c-feed__item--success">
                                         <p>Gerald Vaughn attached 6 files to <strong>1007 - Background Inspiration</strong></p>

                                         <div class="c-feed__gallery">

                                             <div class="c-feed__gallery-item">
                                                 <img src="img/feed7.jpg" alt="Images' title">
                                             </div>

                                             <div class="c-feed__gallery-item">
                                                 <img src="img/feed8.jpg" alt="Images' title">
                                             </div>

                                             <div class="c-feed__gallery-item">
                                                 <img src="img/feed9.jpg" alt="Images' title">
                                             </div>

                                             <div class="c-feed__gallery-item">
                                                 <img src="img/feed3.jpg" alt="Images' title">
                                             </div>

                                             <div class="c-feed__gallery-item">
                                                 <img src="img/feed2.jpg" alt="Images' title">
                                             </div>
                                             <div class="c-feed__gallery-item">
                                                 <img src="img/feed1.jpg" alt="Images' title">
                                             </div>

                                         </div>

                                         <span class="c-feed__meta">Templates & Inspiration - 11:50AM</span>
                                     </div>
                                 </div><!-- // .c-feed -->

                             </div>

                             <div class="c-tabs__pane u-pb-medium" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                 <p class="u-mb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem modi atque at aliquid expedita nemo incidunt exercitationem nihil sit. Laudantium suscipit id amet saepe ratione, accusamus. Voluptatum in, nam.</p>

                                 <p class="u-mb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptate nobis tenetur mollitia incidunt quod, est veniam, earum nemo! Alias rerum saepe aut sapiente minus sunt doloribus tempora corrupti in!</p>

                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea distinctio nostrum molestias assumenda, repudiandae consequuntur quae pariatur aut incidunt placeat doloremque doloribus! Recusandae nostrum dolore repudiandae libero mollitia, rem eveniet.</p>
                             </div>

                             <div class="c-tabs__pane u-pb-medium" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                 <p class="u-mb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem modi atque at aliquid expedita nemo incidunt exercitationem nihil sit. Laudantium suscipit id amet saepe ratione, accusamus. Voluptatum in, nam.</p>

                                 <p class="u-mb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptate nobis tenetur mollitia incidunt quod, est veniam, earum nemo! Alias rerum saepe aut sapiente minus sunt doloribus tempora corrupti in!</p>
                             </div>

                             <div class="c-tabs__pane u-pb-medium" id="nav-customer" role="tabpanel" aria-labelledby="nav-customer-tab">
                                 <p class="u-mb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem modi atque at aliquid expedita nemo incidunt exercitationem nihil sit. Laudantium suscipit id amet saepe ratione, accusamus. Voluptatum in, nam.</p>

                                 <p class="u-mb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptate nobis tenetur mollitia incidunt quod, est veniam, earum nemo! Alias rerum saepe aut sapiente minus sunt doloribus tempora corrupti in!</p>

                                 <p class="u-mb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptate nobis tenetur mollitia incidunt quod, est veniam, earum nemo! Alias rerum saepe aut sapiente minus sunt doloribus tempora corrupti in!</p>

                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem modi atque at aliquid expedita nemo incidunt exercitationem nihil sit. Laudantium suscipit id amet saepe ratione, accusamus. Voluptatum in, nam.</p>
                             </div>
                         </div>

                 </div>

                 <div class="col-xl-5">
                     <div class="c-card u-p-medium u-mb-medium">

                         <div class="u-text-center">
                             <div class="c-avatar c-avatar--large u-mb-small u-inline-flex">
                                 <img class="c-avatar__img" src="img/avatar-150.jpg" alt="Adam's Face">
                             </div>

                             <h3 class="u-h5">Gerald Vaughn</h3>
                             <p>Freelance Designer, Previously TapQ</p>
                             <span class="u-text-mute u-text-small">London, United Kingdom</span>
                         </div>

                         <div class="u-flex u-mt-medium">
                             <a class="c-btn c-btn--info c-btn--fullwidth u-mr-xsmall" href="#">Edit Profile</a>
                             <a class="c-btn c-btn--secondary c-btn--fullwidth" href="#">View Profile As</a>
                         </div>

                         <table class="c-table u-text-center u-pv-small u-mt-medium u-border-right-zero u-border-left-zero">
                             <thead>
                                 <tr>
                                     <th class="u-pt-small">

                                         <div class="c-rating">
                                             <i class="c-rating__icon is-active fa fa-star"></i>
                                             <i class="c-rating__icon is-active fa fa-star"></i>
                                             <i class="c-rating__icon is-active fa fa-star"></i>
                                             <i class="c-rating__icon is-active fa fa-star"></i>
                                             <i class="c-rating__icon fa fa-star"></i>
                                         </div>

                                     </th>
                                     <th class="u-pt-small u-color-primary">38</th>
                                     <th class="u-pt-small u-color-primary">54</th>
                                     <th class="u-pt-small u-color-primary">186</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                     <td class="u-text-mute u-text-xsmall u-pb-small u-text-uppercase">Rating</td>
                                     <td class="u-text-mute u-text-xsmall u-pb-small u-text-uppercase">Review</td>
                                     <td class="u-text-mute u-text-xsmall u-pb-small u-text-uppercase">Clients</td>
                                     <td class="u-text-mute u-text-xsmall u-pb-small u-text-uppercase">Finished Gigs</td>
                                 </tr>
                             </tbody>
                         </table>

                         <div class="c-feed has-icons u-mt-medium">
                             <div class="c-feed__item has-icon">
                                 <i class="c-feed__item-icon u-bg-info fa fa-tumblr"></i>
                                 <p>Product Designer</p>
                                 <span class="c-feed__meta">Tumblr- London, United Kingdom</span>
                             </div>

                             <div class="c-feed__item has-icon">
                                 <i class="c-feed__item-icon u-bg-fancy fa fa-dropbox"></i>
                                 <p>Intern</p>
                                 <p class="c-feed__meta">Dropbox - Berlin, Germany</p>
                             </div>
                         </div>

                         <div class="u-pt-medium u-border-top u-text-center">
                             <a class="u-text-mute u-text-small" href="https://workspace.com/geraldvaughn">
                                 <i class="fa fa-globe u-mr-xsmall"></i>https://workspace.com/geraldvaughn
                             </a>
                         </div>
                     </div>

                     <div class="c-card u-p-medium u-mb-medium">
                         <h5 class="u-mb-medium">Billing</h5>

                         <table class="c-table u-border-zero">
                             <thead class="c-table__head u-border-bottom">
                                 <tr>
                                     <th class="c-table__cell u-text-left u-p-zero u-pb-medium u-flex u-align-items-center">
                                         <img class="u-mr-xsmall" src="img/visa.png" alt="Credit Card">Ending **** 5896
                                     </th>
                                     <th class="c-table__cell u-text-right u-p-zero u-pb-medium">05 / 19</th>
                                     <th class="c-table__cell u-text-right u-p-zero u-pb-medium">
                                         <span class="u-text-mute">VISA</span>
                                     </th>
                                 </tr>
                             </thead>
                             <tbody class="u-pt-medium">
                                 <tr class="c-table__row u-border-zero">
                                     <td class="c-table__cell u-p-zero u-pb-xsmall u-pt-medium">PRO Package</td>
                                     <td class="c-table__cell u-p-zero u-pb-xsmall u-pt-medium">
                                         <span class="u-text-mute">Standard Payment</span>
                                     </td>
                                     <td class="c-table__cell u-p-zero u-pb-xsmall u-pt-medium u-text-right">
                                         <span class="u-text-mute">19 Jan 2018</span>
                                     </td>
                                 </tr>
                                 <tr class="c-table__row u-border-zero">
                                     <td class="c-table__cell u-p-zero u-pb-xsmall">Job Posted</td>
                                     <td class="c-table__cell u-p-zero u-pb-xsmall">
                                         <span class="u-text-mute">30-Days Recuring</span>
                                     </td>
                                     <td class="c-table__cell u-p-zero u-pb-xsmall u-text-right">
                                         <span class="u-text-mute">24 Nov 2017</span>
                                     </td>
                                 </tr>
                                 <tr class="c-table__row u-border-zero">
                                     <td class="c-table__cell u-p-zero u-pb-xsmall">PRO Package</td>
                                     <td class="c-table__cell u-p-zero u-pb-xsmall">
                                         <span class="u-text-mute">Gift</span>
                                     </td>
                                     <td class="c-table__cell u-p-zero u-pb-xsmall u-text-right">
                                         <span class="u-text-mute">7 Mar 2017</span>
                                     </td>
                                 </tr>
                             </tbody>
                         </table>
                     </div>
                 </div>

             </div>

         </div><!-- // .container-fluid -->

     </main><!-- // .o-page__content -->
   <!-- ########## END: MAIN PANEL ########## -->
 </v-layout>
</template>

<script>
  import VLayout from '@/layouts/Dashboard'
  export default {
    components: {
      VLayout
    }
  }
</script>
