<template>
  <canvas id="sparkline" :width="width" :height="height" ></canvas>
</template>

<script>
  /* ============
   * Line stack area Component
   * ============
   *
   * A basic panel component.
   *
   * Gives an idea how components work.
   */

/* eslint-disable no-new */
export default {
  /**
     * The name of the page.
     */
    name: 'sparkline-bar',

    props: {
      data: {
        type: Object,
        default: {}
      },
      width: {
        type: Number,
        default: 150
      },
      height: {
        type: Number,
        default: 50
      }
    },

    mounted: function () {
      this.loadData()
    },
    methods: {
      loadData: function () {
        this.data = this.data.map(function (d) {
          return parseFloat(d)
        })
        this.draw()
      },
      draw: function () {
        var canvas = document.getElementById('sparkline')
        var ctx = canvas.getContext('2d')
        var origW = canvas.width
        var origH = canvas.height
        canvas.width = canvas.width * window.devicePixelRatio
        canvas.height = canvas.height * window.devicePixelRatio
        canvas.style.width = origW + 'px'
        canvas.style.height = origH + 'px'
        var maxNum = Math.max.apply(null, this.data)
        var minNum = Math.min.apply(null, this.data)
        var linePerPixel = canvas.width / this.data.length
        var diff = maxNum - minNum
        var diffPerc = canvas.height / diff
        diffPerc -= 1.5
        if (diff < canvas.height) diffPerc = 1
        // add some padding
        var bottomPadding = 4
        ctx.beginPath()
        ctx.strokeStyle = 'rgb(78,141,235)'
        ctx.lineWidth = 3
        ctx.moveTo(0, this.data[0] * diffPerc)
        this.data.forEach(function (v, i) {
          console.log(v * diffPerc - minNum)
          ctx.lineTo(Math.round(i * linePerPixel), (v * diffPerc) - bottomPadding)
        })
        ctx.stroke()
      }
    }
  }
</script>
