<template>
              <div class="card overflow-hidden">
                <div class="card-header">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="#" class="btn active">Today</a>
                    <a href="#" class="btn">This Week</a>
                    <a href="#" class="btn">This Month</a>
                  </div>
                </div><!-- card-header -->
                <div class="card-body pd-0 bd-color-gray-lighter">
                  <div class="row no-gutters tx-center">
                    <div class="col-12 col-sm-4 pd-y-20 tx-left">
                      <p class="pd-l-20 tx-12 lh-8 mg-b-0">Note: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula...</p>
                    </div><!-- col-4 -->
                    <div class="col-6 col-sm-2 pd-y-20">
                      <h5 class="tx-inverse tx-lato tx-bold mg-b-5">1,343</h5>
                      <p class="tx-12 mg-b-0">Views</p>
                    </div><!-- col-2 -->
                    <div class="col-6 col-sm-2 pd-y-20 bd-l bd-color-gray-lighter">
                      <h5 class="tx-inverse tx-lato tx-bold mg-b-5">102</h5>
                      <p class="tx-12 mg-b-0">Likes</p>
                    </div><!-- col-2 -->
                    <div class="col-6 col-sm-2 pd-y-20 bd-l bd-color-gray-lighter">
                      <h5 class="tx-inverse tx-lato tx-bold mg-b-5">343</h5>
                      <p class="tx-12 mg-b-0">Comments</p>
                    </div><!-- col-2 -->
                    <div class="col-6 col-sm-2 pd-y-20 bd-l bd-color-gray-lighter">
                      <h5 class="tx-inverse tx-lato tx-bold mg-b-5">960</h5>
                      <p class="tx-12 mg-b-0">Shares</p>
                    </div><!-- col-2 -->
                  </div><!-- row -->
                </div><!-- card-body -->
                <div class="card-body pd-0">
                  <!--div ref="canvas" id="rickshaw" class="wd-100p ht-150 rounded-bottom"></div-->
                  <canvas ref="canvas"></canvas>
                </div><!-- card-body -->
              </div><!-- card -->
</template>

<script>
  /* ============
   * Line stack area Component
   * ============
   *
   * A basic panel component.
   *
   * Gives an idea how components work.
   */
import Chart from 'chart.js'

/* eslint-disable no-new */
export default {
  /**
     * The name of the page.
     */
    name: 'widget-statistic-medium',

    data () {
      return {
        labels: ['Active', 'In Development', 'Completed', 'On Hold', 'Canceled'],
        data: [3, 5, 2, 6, 10]
      }
    },
    props: ['identification', 'height'],
    mounted: function () {
      this.startPie(this.$refs.canvas, 'pie')
    },
    methods: {
      startPie: function (canvas, type) {
        // init chart.js
        new Chart(canvas, {
          type: type,
          data: {
            labels: this.labels,
            datasets: [
              {
                data: this.data,
                backgroundColor: [
                  '#e25039',
                  '#27a86e',
                  '#f39c12',
                  '#00c0ef',
                  '#428dbc'
                ],
                hoverBackgroundColor: [
                  '#FF6384',
                  '#36A2EB',
                  '#FFCE56'
                ]
              }]
          },
          options: {
            animation: {
              animateScale: true
            }
          }
        })
      }
    }
  }
</script>
