<template>
 <div class="card bd-0">
              <div class="d-md-flex justify-content-between pd-25">
                <div>
                  <h6 class="tx-13 tx-uppercase tx-inverse tx-semibold tx-spacing-1">Monthy views</h6>
                  <p>Past 30 Days — Last Updated Oct 14, 2018</p>
                </div>
                <div class="d-sm-flex">
                  <div>
                    <p class="mg-b-5 tx-uppercase tx-10 tx-mont tx-semibold">Bounce Rate</p>
                    <h4 class="tx-lato tx-inverse tx-bold mg-b-0">23.32%</h4>
                    <span class="tx-12 tx-success tx-roboto">2.7% increased</span>
                  </div>
                  <div class="bd-sm-l pd-sm-l-20 mg-sm-l-20 mg-t-20 mg-sm-t-0">
                    <p class="mg-b-5 tx-uppercase tx-10 tx-mont tx-semibold">Proposal Views</p>
                    <h4 class="tx-lato tx-inverse tx-bold mg-b-0">38.20%</h4>
                    <span class="tx-12 tx-danger tx-roboto">4.65% decreased</span>
                  </div>
                  <div class="bd-sm-l pd-sm-l-20 mg-sm-l-20 mg-t-20 mg-sm-t-0">
                    <p class="mg-b-5 tx-uppercase tx-10 tx-mont tx-semibold">Time On proposal</p>
                    <h4 class="tx-lato tx-inverse tx-bold mg-b-0">12:30</h4>
                    <span class="tx-12 tx-success tx-roboto">1.22% increased</span>
                  </div>
                </div><!-- d-flex -->
              </div><!-- d-flex -->

              <div class="pd-l-25 pd-r-15 pd-b-25">
                <canvas ref="canvas"></canvas>
              </div>
            </div><!-- card -->
</template>

<script>
  /* ============
   * Line stack area Component
   * ============
   *
   * A basic panel component.
   *
   * Gives an idea how components work.
   */
import Chart from 'chart.js'

/* eslint-disable no-new */
export default {
  /**
     * The name of the page.
     */
    name: 'widget-statistic-medium',

    data () {
      return {
        labels: ['Québec', 'Ontario', 'British Columbia', 'Alberta', 'Manitoba'],
        data: [2478, 5267, 734, 784, 433]
      }
    },
    props: ['identification', 'height'],
    mounted: function () {
      this.startPie(this.$refs.canvas, 'horizontalBar')
    },
    methods: {
      startPie: function (canvas, type) {
        // init chart.js
        new Chart(canvas, {
          type: type,
          data: {
            labels: this.labels,
            datasets: [
              {
                label: 'Views (millions)',
                backgroundColor: ['#3e95cd', '#8e5ea2', '#3cba9f', '#e8c3b9', '#c45850'],
                data: this.data
              }]
          },
          options: {
            animation: {
              animateScale: true
            }
          }
        })
      }
    }
  }
</script>
