<template>
	<v-layout>
    <div class="container">
      <div class="bg-white rounded-bottom rounded-5 pd-x-5 shadow-base">
<ul id="main-nav">
    <li>
      <router-link active-class="active" :to="{ name: 'rent.show.overview' }" class="nav-link overview-link" exact>
       <span class="wd-32 d-inline-block valign-middle">
                            <img src="/static/images/icons/info.svg" alt="Informations icon"/>
                        </span>
									<span class="mkdf-property-content valign-middle d-inline-block pd-l-10">
									<span class="tx-left d-block tx-semibold tx-black">
                               Overview                </span>
                  <span class="tx-left d-block tx-light">
                                Proposal informations                          </span>
									</span>
      </router-link></li>
    <li>
      <router-link active-class="active" :to="{ name: 'rent.show.propositions' }" class="nav-link overview-link" exact>
       <span class="wd-32 d-inline-block valign-middle">
                            <img src="/static/images/icons/proposition.svg" alt="Propositions icon"/>
                        </span>
									<span class="mkdf-property-content valign-middle d-inline-block pd-l-10">
									<span class="tx-left d-block tx-semibold tx-black">
                               Propositions                 </span>
                  <span class="tx-left d-block tx-light">
                                gather proposition listing                            </span>
									</span>
      </router-link></li>
    <li>
      <router-link active-class="active" :to="{ name: 'rent.show.statistics' }" class="nav-link overview-link" exact>
       <span class="wd-32 d-inline-block valign-middle">
                            <img src="/static/images/icons/bar-chart.svg" alt="Statistics icon"/>
                        </span>
									<span class="mkdf-property-content valign-middle d-inline-block pd-l-10">
									<span class="tx-left d-block tx-semibold tx-black">
                               Statistics                 </span>
                  <span class="tx-left d-block tx-light">
                                gather statistics informations                            </span>
									</span>
      </router-link></li>
    <li>
      <router-link active-class="active" :to="{ name: 'rent.show.settings' }" class="nav-link overview-link" exact>
       <span class="wd-32 d-inline-block valign-middle">
                            <img src="/static/images/icons/cogwheel-outline.svg" alt="Property heating icon"/>
                        </span>
									<span class="mkdf-property-content valign-middle d-inline-block pd-l-10">
									<span class="tx-left d-block tx-semibold tx-black">
                              Settings                       </span>
                  <span class="tx-left d-block tx-light">
                                Change settings                            </span>
									</span>
      </router-link></li>
</ul>
</div>
    </div>

		<div class="mkdf-property-single-holder" style="margin-top:30px">
			<!--div class="mkdf-property-basic-info-holder pd-y-10">
				<div class="wd-100p pos-relative">
					<div class="container bd-r bd-l">
							<div class="mkdf-property-basic-info-inner d-table wd-100p ht-100p pos-relative">
								
								<div class="wd-15p valign-middle pos-relative ht-100p pd-y-0 pd-x-15 d-table-cell  bd-r"> <span class="wd-32 d-inline-block valign-middle">
                            <img src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-size-large.png" alt="Property size icon"/>
                        </span>
									<span class="mkdf-property-content valign-middle d-inline-block pd-l-10">
                            
                               <span class="d-block tx-semibold tx-black"><a href="/">Overview</a></span>
									</span>
								</div>
								<div class="wd-15p valign-middle pos-relative ht-100p pd-y-0 pd-x-15 d-table-cell  bd-r"> <span class="wd-32 d-inline-block valign-middle">
                            <img src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-structure-large.png" alt="Property structure icon"/>
                        </span>
									<span class="mkdf-property-content valign-middle d-inline-block pd-l-10">
									<span class="d-block tx-semibold tx-black">
                               <a href="/">Propositions  </a>                          </span>
									</span>
								</div>
								<div class="wd-15p valign-middle pos-relative ht-100p pd-y-0 pd-x-15 d-table-cell  bd-r"> <span class="wd-32 d-inline-block valign-middle">
                            <img src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-accommodation-large.png" alt="Property accommodation icon"/>
                        </span>
									<span class="mkdf-property-content valign-middle d-inline-block pd-l-10">
									<span class="d-block tx-semibold tx-black">
                               <a href="/">Statistics    </a>                        </span>
									</span>
								</div>
								<div class="wd-15p valign-middle pos-relative ht-100p pd-y-0 pd-x-15 d-table-cell "> <span class="wd-32 d-inline-block valign-middle">
                            <img src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-heating-large.png" alt="Property heating icon"/>
                        </span>
									<span class="mkdf-property-content valign-middle d-inline-block pd-l-10">
									<span class="d-block tx-semibold tx-black">
                               <a href="/">Settings     </a>                       </span>
                  <span class="d-block tx-light">
                                Heating:                            </span>
									</span>
								</div>
							</div>
					</div>
				</div>
			</div-->
			<div class="container">
				<div class="row">
					<!-- big div-->
					<router-view />
					<!-- end div-->
					<div class="mkdf-sidebar-holder mkdf-grid-col-3 col-md-3">
						<aside class="mkdf-sidebar pos-relative mg-t-0 mg-r-0 mg-b-60">
							<div class="widget mkdf-contact-property-widget pd-t-20 pd-r-15 pd-b-20 rounded bg-white shadow-base">
								<div class="mkdf-contact-holder">
									<div class="mkdf-widget-title-holder">
										<h5 class="mkdf-widget-title">Contact Info</h5>
									</div>
									<div class="mkdf-contact-name"> <span class="mkdf-contact-icon icon-user"></span>
										<span class="mkdf-contact-label">
                             The Agency                        </span>
									</div>
									<div class="mkdf-contact-phone"> <span class="mkdf-contact-icon icon-call-end"></span>
										<span class="mkdf-contact-label">
                            <a href="tel:+12345678900" target="_self">
                                +12345678900                            </a>
                        </span>
									</div>
									<div class="mkdf-contact-link"> <span class="mkdf-contact-icon icon-envelope"></span>
										<span class="mkdf-contact-label">
                            <a href="mailto:theagency@example.com" target="_self">
                                theagency@example.com                            </a>
                        </span>
									</div>
									<div class="mkdf-contact-social">
										<h5 class="mkdf-contact-title">
                            Connect with us                        </h5>
										<div class="mkdf-contact-social-icons clearfix">
											<a itemprop="url" href="" target="_blank"> <span aria-hidden="true" class="mkdf-icon-font-elegant social_facebook mkdf-author-social-facebook mkdf-author-social-icon "></span> 
											</a>
											<a itemprop="url" href="" target="_blank"> <span aria-hidden="true" class="mkdf-icon-font-elegant social_twitter mkdf-author-social-twitter mkdf-author-social-icon "></span> 
											</a>
											<a itemprop="url" href="" target="_blank"> <span aria-hidden="true" class="mkdf-icon-font-elegant social_linkedin mkdf-author-social-linkedin mkdf-author-social-icon "></span> 
											</a>
											<a itemprop="url" href="" target="_blank"> <span aria-hidden="true" class="mkdf-icon-font-elegant social_instagram mkdf-author-social-instagram mkdf-author-social-icon "></span> 
											</a>
											<a itemprop="url" href="" target="_blank"> <span aria-hidden="true" class="mkdf-icon-font-elegant social_pinterest mkdf-author-social-pinterest mkdf-author-social-icon "></span> 
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="widget mkdf-mortgage-calculator-widget pd-t-20 pd-r-15 pd-b-20 rounded bg-white shadow-base">
								<div class="mkdf-widget-title-holder d-block bd-b pd-t-20 pd-r-15 pd-b-10">
									<h5 class="mkdf-widget-title">Mortgage Calculator</h5>
								</div>
								<div class="pd-l-20 pd-t-30 pd-r-15 pd-b-20">
									<div class="pd-t-30 pd-r-15 pd-b-20">
										<label>Sale price</label>
										<input type="text" name="price" id="price" placeholder="$" value="" />
									</div>
									<input type="submit" class="mkdf-btn mkdf-btn-solid" value="Calculate" />
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Dashboard'
  import ModalPricePackage from '@/components/modal/ModalPricePackage'
  import VMap from '@/components/map/Map'
  import moment from 'moment'
  import transformer from '@/transformers/ProposalTransformer'

  export default {
    /**
     * The name of the page.
     */
    name: 'buy-show',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        showPricePackage: false
      }
    },

    created: function () {
      this.find()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      find: function () {
        let payload = {url: 'api/proposal', data: this.$route.params.id, transformer: transformer}
        this.$store.dispatch('global/find', payload)
      },
      pricePackage: function (e) {
        this.showPricePackage = true
        e.preventDefault()
      },
      getDate: function (time) {
        time = moment(time).format('DD MMM YYYY')
        return time
      }
    },

    computed: {
      proposal: function () {
        return this.$store.state.global.object
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VMap,
      ModalPricePackage,
      VLayout
    }
  }
</script>
