<template>
    <div class="dropdown" ref="dropdownMenu">
           <a href="javascrip:;" @click="visible = !visible" class="nav-link nav-link-profile" data-toggle="dropdown">
              <slot name="dropdown__head"></slot>
            </a>
            
            <div :class="{'show': visible, '': !visible }" @clickout="visible = false" class="dropdown-menu dropdown-menu-header wd-250" style="position: absolute; transform: translate3d(-65px, 1px, 0px); top: 0px; left: 0px; will-change: transform;">
              <slot name="dropdown"></slot>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
</template>
<script>
  export default{
    data () {
      return {
        visible: false
      }
    },
    methods: {
      documentClick: function (e) {
        let el = this.$refs.dropdownMenu
        let target = e.target
        if ((el !== target) && !el.contains(target)) {
          this.visible = false
        }
      }
    },
    created () {
      document.addEventListener('click', this.documentClick)
    },
    destroyed () {
      // important to clean up!!
      document.removeEventListener('click', this.documentClick)
    }
  }
</script>