<template>
  <v-layout>
    <div class="hero" style="background: url('/static/images/defaultHeader.jpg');">
			<div class="wrapper" style="background-color: rgba(0, 74, 139, 0.5) ">
				<div class="container">
					<div class="row">
						<div class="mg-y-40-force rounded-5 bg-white m-auto">
							<div class="pos-relative overflow-hidden wd-100p tx-light m-auto tabs tabs-style-topline">
								<nav class="tx-center">
									<ul class="pos-relative d-flex m-auto">
										<li :class="{ 'tab-current': selectedCategory == 'buying' }" class="">
											<a href="javascript:;" @click="selectedCategory = 'buying'">
												<img src="/static/images/svg/for-sale.svg" width="30" class="m-auto d-block" /><span>Buying proposal</span>
											</a>
										</li>
										<li :class="{ 'tab-current': selectedCategory == 'renting' }" class="">
											<a href="javascript:;" @click="selectedCategory = 'renting'">
												<img src="/static/images/svg/for-rent.svg" width="30" class="m-auto d-block" /><span>Renting proposal</span>
											</a>
										</li>
										<li :class="{ 'tab-current': selectedCategory == 'selling' }" class="">
											<a href="javascript:;" @click="selectedCategory = 'selling'">
												<img src="/static/images/svg/seller.svg" width="30" class="m-auto d-block" /><span>Selling profile</span>
											</a>
										</li>
										<li :class="{ 'tab-current': selectedCategory == 'leasing' }" class="">
											<a href="javascript:;" @click="selectedCategory = 'leasing'">
												<img src="/static/images/svg/lessor.svg" width="30" class="m-auto d-block" /><span>Leasing profile</span>
											</a>
										</li>
									</ul>
								</nav>
								<div class="content-wrap tx-left">
									<section :class="{ 'content-current' : selectedCategory == 'buying' }" class="">
										<h5 class="tx-14 tx-uppercase tx-spacing-1 tx-semibold tx-inverse">Buying profile</h5>
										<div class="card-block pd-0">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label>Choose the buying zone</label>
														<multiselect v-model="selectedCities" id="ajax" label="name" track-by="id" placeholder="Type to search" open-direction="bottom" :custom-label="nameWithProvince" :clear-on-select="true" :options="cities" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :close-on-select="true" :options-limit="300" :max-height="600" :show-no-results="true" @search-change="onChangeLocation"> <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
														</multiselect> <span class="help-block"> </span>
													</div>
												</div>
											</div>
											<div class="row row-sm mg-t-20">
												<div class="col-md-6 col-lg-3">
													<div class="form-group mg-b-0">
														<label class="d-block">Type of agent</label>
														<select class="form-control wd-100p select2">
															<option value="sfo">type of Agent</option>
														</select>
													</div>
													<!-- form-group -->
												</div>
												<!-- col-3 -->
												<div class="col-md-6 col-lg-3 mg-t-10 mg-md-t-0">
													<div class="form-group mg-b-0">
														<label class="d-block">Banner</label>
														<div>
															<select class="form-control wd-100p select2">
																<option value="">Choose a banner</option>
															</select>
														</div>
													</div>
													<!-- form-group -->
												</div>
												<!-- col-3 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Acc number</label>
														<input type="text" class="form-control tx-14" placeholder="No. of passenger">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Pre-approved</label>
														<input type="text" class="form-control form-control-datepicker tx-14" data-language="en" placeholder="Date or origin">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Urgency</label>
														<input type="text" class="form-control form-control-datepicker tx-14" data-language="en" placeholder="Date of return">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
											</div>
											<!-- row --> <a href="" class="btn btn-info tx-11 tx-spacing-1 tx-uppercase tx-semibold tx-mont pd-y-12 pd-x-30 mg-t-30">Leasing profile</a>
										</div>
									</section>
									<section :class="{ 'content-current' : selectedCategory == 'renting' }" class="">
										<h5 class="tx-14 tx-uppercase tx-spacing-1 tx-semibold tx-inverse">Renting profile</h5>
										<div class="card-block pd-0">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label>Choose the renting zone</label>
														<multiselect v-model="selectedCities" id="ajax" label="name" track-by="id" placeholder="Type to search" open-direction="bottom" :custom-label="nameWithProvince" :clear-on-select="true" :options="cities" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :close-on-select="true" :options-limit="300" :max-height="600" :show-no-results="true" @search-change="onChangeLocation"> <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
														</multiselect> <span class="help-block"> </span>
													</div>
												</div>
											</div>
											<div class="row row-sm mg-t-20">
												<div class="col-md-6 col-lg-3">
													<div class="form-group mg-b-0">
														<label class="d-block">Type of agent</label>
														<select class="form-control wd-100p select2">
															<option value="sfo">type of Agent</option>
														</select>
													</div>
													<!-- form-group -->
												</div>
												<!-- col-3 -->
												<div class="col-md-6 col-lg-3 mg-t-10 mg-md-t-0">
													<div class="form-group mg-b-0">
														<label class="d-block">Banner</label>
														<div>
															<select class="form-control wd-100p select2">
																<option value="">Choose a banner</option>
															</select>
														</div>
													</div>
													<!-- form-group -->
												</div>
												<!-- col-3 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Acc number</label>
														<input type="text" class="form-control tx-14" placeholder="No. of passenger">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Pre-approved</label>
														<input type="text" class="form-control form-control-datepicker tx-14" data-language="en" placeholder="Date or origin">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Urgency</label>
														<input type="text" class="form-control form-control-datepicker tx-14" data-language="en" placeholder="Date of return">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
											</div>
											<!-- row --> <a href="" class="btn btn-info tx-11 tx-spacing-1 tx-uppercase tx-semibold tx-mont pd-y-12 pd-x-30 mg-t-30">Leasing profile</a>
										</div>
									</section>
									<section :class="{ 'content-current' : selectedCategory == 'selling' }" class="">
										<h5 class="tx-14 tx-uppercase tx-spacing-1 tx-semibold tx-inverse">Selling profile</h5>
										<div class="card-block pd-0">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label>Choose the selling zone</label>
														<multiselect v-model="selectedCities" id="ajax" label="name" track-by="id" placeholder="Type to search" open-direction="bottom" :custom-label="nameWithProvince" :clear-on-select="true" :options="cities" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :close-on-select="true" :options-limit="300" :max-height="600" :show-no-results="true" @search-change="onChangeLocation"> <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
														</multiselect> <span class="help-block"> </span>
													</div>
												</div>
											</div>
											<div class="row row-sm mg-t-20">
												<div class="col-md-6 col-lg-3">
													<div class="form-group mg-b-0">
														<label class="d-block">Type of agent</label>
														<select class="form-control wd-100p select2">
															<option value="sfo">type of Agent</option>
														</select>
													</div>
													<!-- form-group -->
												</div>
												<!-- col-3 -->
												<div class="col-md-6 col-lg-3 mg-t-10 mg-md-t-0">
													<div class="form-group mg-b-0">
														<label class="d-block">Banner</label>
														<div>
															<select class="form-control wd-100p select2">
																<option value="">Choose a banner</option>
															</select>
														</div>
													</div>
													<!-- form-group -->
												</div>
												<!-- col-3 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Acc number</label>
														<input type="text" class="form-control tx-14" placeholder="No. of passenger">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Pre-approved</label>
														<input type="text" class="form-control form-control-datepicker tx-14" data-language="en" placeholder="Date or origin">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Urgency</label>
														<input type="text" class="form-control form-control-datepicker tx-14" data-language="en" placeholder="Date of return">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
											</div>
											<!-- row --> <a href="" class="btn btn-info tx-11 tx-spacing-1 tx-uppercase tx-semibold tx-mont pd-y-12 pd-x-30 mg-t-30">Leasing profile</a>
										</div>
									</section>
									<section :class="{ 'content-current' : selectedCategory == 'leasing' }" class="">
										<h5 class="tx-14 tx-uppercase tx-spacing-1 tx-semibold tx-inverse">Leasing profile</h5>
										<div class="card-block pd-0">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label>Choose the leasing zone</label>
														<multiselect v-model="selectedCities" id="ajax" label="name" track-by="id" placeholder="Type to search" open-direction="bottom" :custom-label="nameWithProvince" :clear-on-select="true" :options="cities" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :close-on-select="true" :options-limit="300" :max-height="600" :show-no-results="true" @search-change="onChangeLocation"> <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
														</multiselect> <span class="help-block"> </span>
													</div>
												</div>
											</div>
											<div class="row row-sm mg-t-20">
												<div class="col-md-6 col-lg-3">
													<div class="form-group mg-b-0">
														<label class="d-block">Type of agent</label>
														<select class="form-control wd-100p select2">
															<option value="sfo">type of Agent</option>
														</select>
													</div>
													<!-- form-group -->
												</div>
												<!-- col-3 -->
												<div class="col-md-6 col-lg-3 mg-t-10 mg-md-t-0">
													<div class="form-group mg-b-0">
														<label class="d-block">Banner</label>
														<div>
															<select class="form-control wd-100p select2">
																<option value="">Choose a banner</option>
															</select>
														</div>
													</div>
													<!-- form-group -->
												</div>
												<!-- col-3 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Acc number</label>
														<input type="text" class="form-control tx-14" placeholder="No. of passenger">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Pre-approved</label>
														<input type="text" class="form-control form-control-datepicker tx-14" data-language="en" placeholder="Date or origin">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Urgency</label>
														<input type="text" class="form-control form-control-datepicker tx-14" data-language="en" placeholder="Date of return">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
											</div>
											<!-- row --> <a href="" class="btn btn-info tx-11 tx-spacing-1 tx-uppercase tx-semibold tx-mont pd-y-12 pd-x-30 mg-t-30">Leasing profile</a>
										</div>
										<!-- card-block -->
									</section>
								</div>
								<!-- /content -->
							</div>
							<!-- /tabs -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="section bg-white pd-y-40 bd-b bd-gray-200">
			<div class="container">
				<h1>How It Works</h1>
				<br />
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-xs-12 mg-xs-b-10">
						<div class="bg-white bd pd-20 rounded-5 shadow-base">
							<h2 class="value-multiplier pd-l-100"><img src="/static/images/svg/presentation.svg" style="width:100px;" /></h2>
							<h2 class="value-heading mg-y-15">Vone concept</h2>
							<p class="tx-15">Percentage of users more likely to purchase on mobile friendly site.</p> <a class="tx-14 mg-t-5" href="/vone-concept/">Find out more <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<div class="col-lg-4 col-xs-12 mg-xs-b-10">
						<div class="bg-white pd-20 bd rounded-5 shadow-base">
							<h2 class="value-multiplier pd-l-100"><img src="/static/images/svg/advantage.svg" style="width: 100px;" /></h2>
							<h2 class="value-heading mg-y-15">Vone advantage</h2>
							<p class="tx-15">Most of the world accesses the internet on multiple devices.</p> <a class="tx-14 mg-t-5" href="/vone-advantage/">Find out more <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<div class="col-lg-4 col-xs-12 mg-xs-b-10">
						<div class="bg-white pd-20 bd rounded-5 shadow-base">
							<h2 class="value-multiplier pd-l-100"><img src="/static/images/svg/relationship.svg" style="width: 100px;" /></h2>
							<h2 class="value-heading mg-y-15">Vone relationship</h2>
							<p class="tx-15">Percentage of users that are frustrated with page load times.</p> <a class="tx-14 mg-t-5" href="/vone-relationship/">Explore now <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-purple pd-y-40">
			<div class="container">
				<h1 class="tx-white">Statistics</h1>
				<div class="row">
					<div class="col-md-6">
						<p class="mg-t-50 tx-15 tx-left tx-white">The theme of this two-level luxury home is all about connecting indoor and outdoor living. Curtain walls of glass open the residence to outdoor spaces while an expansive central skylight floods both levels with light. The extravagant lower level is accessed via a dramatic floating staircase to reveal a full bar, glass-encased commercial wine cellar.</p>
					</div>
					<div class="col-md-6">
						<div class="wd-50p float-left d-flex align-items-center tx-semibold ">
							<div class="icon-box-icon pd-10 pd-l-0 tx-left">
								<img src="/static/images/png/price-tag.png" width="60">
							</div>
							<div class="icon-box-line1 pd-10 tx-white">	<span class="lh-2 tx-24 tx-left">$1,324,500</span>
								<span class="tx-left tx-white lh-2 tx-14 d-block">Median Listing Price</span>
							</div>
						</div>
						<div class="wd-50p float-left d-flex align-items-center tx-semibold ">
							<div class="icon-box-icon pd-10 pd-l-0 tx-left">
								<img src="/static/images/png/buyhouse.png" width="60">
							</div>
							<div class="icon-box-line1 pd-10 ">	<span class="tx-white lh-2 tx-24 tx-left">74543523</span>
								<span class="tx-white lh-2 tx-14 tx-left d-block">Buying proposal</span>
							</div>
						</div>
						<div class="wd-50p float-left d-flex align-items-center tx-semibold ">
							<div class="icon-box-icon pd-10 pd-l-0 tx-left">
								<img src="/static/images/png/renthouse.png" width="60">
							</div>
							<div class="icon-box-line1 pd-10 ">	<span class="lh-2 tx-white tx-24 tx-left">7446463</span>
								<span class="tx-white lh-2 tx-14 tx-left d-block">Renting proposal</span>
							</div>
						</div>
						<div class="wd-50p float-left d-flex align-items-center tx-semibold">
							<div class="icon-box-icon pd-10 pd-l-0 tx-left">
								<img src="/static/images/png/book.png" width="60">
							</div>
							<div class="icon-box-line1 pd-10">	<span class="tx-white lh-2 tx-24 tx-left">4563565</span>
								<span class="tx-white lh-2 tx-14 tx-left d-block">Articles and blogs for you</span>
							</div>
						</div>
						<div class="wd-50p float-left d-flex align-items-center tx-semibold ">
							<div class="icon-box-icon pd-10 pd-l-0 tx-left">
								<img src="/static/images/png/real-estate.png" width="60">
							</div>
							<div class="icon-box-line1 pd-10">	<span class="lh-2 tx-24 tx-left tx-white">76543754</span>
								<span class="tx-white lh-2 tx-14 tx-left d-block">Properties for sale</span>
							</div>
						</div>
						<div class="wd-50p float-left d-flex align-items-center tx-semibold">
							<div class="icon-box-icon pd-10 pd-l-0 tx-left ">
								<img src="/static/images/png/deal.png" width="60">
							</div>
							<div class="icon-box-line1 pd-10">	<span class="lh-2 tx-white tx-24 tx-left">4567</span>
								<span class="tx-white lh-2 tx-14 tx-left d-block">Transaction/day</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    
  </v-layout>
</template>

<script>
  /* ============
   * Home Index Page
   * ============
   *
   * The home index page.
   */

  import VLayout from '@/layouts/Default'

  export default {
    /**
     * The name of the page.
     */
    name: 'home-index',

    data () {
      return {
        selectedCategory: 'leasing',
        isLoading: false,
        selectedCities: [],
        cities: [],
        typeOfProposal: null
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      // function to load cities
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('api/city', {params: query}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data.content
        }, response => {
          // get failed
          console.log(response)
        })
      },
      // function to display name of province and name of city
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      // function to start searching for cities after 3 characteres
      onChangeLocation: function (searchQuery) {
        // if the type query is equal or greater than 3 characteres
        // then load cities
        if (searchQuery.length >= 3) {
          let params = { q: searchQuery }
          this.asyncFind(params)
        }
      }
    },

    /**
     * The components that the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
