<template>
    <div v-on:click="booleanValue = !booleanValue" class="dropdownBtn">
      <div v-bind:class="{ active : booleanValue }" class="dropdownBtn__title">
        <span>exploring</span>
      </div>
      <div v-show="booleanValue" class="dropdownBtn__content">
        <ul>
          <li @click="showProposition(data)">I'm interested</li>
          <li @click="deleteProposition(data)">I'm not interested</li>
        </ul>
      </div>
    </div>
</template>

<script>
  export default {
    props: ['menuVisible', 'data'],
    data: function () {
      return {
        booleanValue: this.menuVisible
      }
    },
    methods: {
      showProposition ($event) {
        // this.btnTitle = $event.title
        this.$emit('clicked', $event)
      },
      deleteProposition ($event) {
        let model = {id: $event.id, isInteresting: 'false'}
        let payload = {method: 'put', url: '/api/feed/update', data: model, form: window.$('#new_buy')}
        this.$store.dispatch('form/submit', payload)
        window.$('#feed-' + $event.id).hide()
      }
    }
  }
</script>