<template>
<v-layout>
<div class="row">
<div class="col-xl-7 col-lg-6 ">

<div class="card card-transparent">
<div class="card-block">
<h1>Please give us your payment details:</h1>
    <card class='stripe-card'
      :class='{ complete }'
      stripe='pk_test_VP6JcEFsWgxdGwT4lnLRu7lY'
      :options='stripeOptions'
      @change='complete = $event.complete'
    />
    <button class='pay-with-stripe' @click='pay' :disabled='!complete'>Pay with credit card</button>
</div>
</div>

</div>
<div class="col-xl-5 col-lg-6">

<div class="card card-transparent">
<div class="card-header ">
<div class="card-title">Validation
</div>
</div>
<div class="card-block">
<div id="paypal-button"></div>
<h3>Showcase and guide users with a <br>
better User Interface &amp; Experience.</h3>
<p>Forms are one of the most important components
<br> when it comes to a dashboard. Recognizing that fact, users are
<br>able work in a maximum content width.</p>
<br>
<p class="small hint-text m-t-5">VIA senior product manager
<br> for UI/UX at REVOX</p>
<button class="btn btn-primary btn-cons">More</button>
</div>
        </div>

      </div>
    </div>
  </v-layout>

</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */
  import paypal from 'paypal-checkout'
  import VLayout from '@/layouts/Dashboard'
  import {style} from '@/config/index'
  import { Card, createToken } from 'vue-stripe-elements-plus'

  export default {
    /**
     * The name of the page.
     */
    name: 'profilePaymentCard-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          description: 'mob',
          token: '',
          amount: 500
        },
        complete: false,
        stripeOptions: {
          style,
          hidePostalCode: true
          // see https://stripe.com/docs/stripe.js#element-options for details
        }
      }
    },
    methods: {
      submitCard: function (payload) {
        this.$http.post('/auth/payment/charge', this.model).then(response => {
          // get status
          console.log(response)
        }, response => {
          // get failed
          console.log(response)
        })
        // payload = {method: 'post', url: 'auth/payment/charge', data: this.model}
        // this.$store.dispatch('form/submit', payload)
      },
      submitPaypal: function (payload) {
        payload = {method: 'post', url: 'auth/payment/paypal', data: this.model}
        this.$store.dispatch('form/submit', payload)
      },
      pay () {
        // createToken returns a Promise which resolves in a result object with
        // either a token or an error key.
        // See https://stripe.com/docs/api#tokens for the token object.
        // See https://stripe.com/docs/api#errors for the error object.
        // More general https://stripe.com/docs/stripe.js#stripe-create-token.
        createToken().then(data => {
          this.model.token = data.token.id
          this.submitCard(this.model)
        }).catch(err => console.log(err))
      }
    },
    mounted () {
      paypal.Button.render({

        // Set your environment

        env: 'sandbox', // sandbox | production

        // Specify the style of the button

        style: {
          label: 'checkout',
          size: 'medium', // small | medium | large | responsive
          shape: 'rect', // pill | rect
          color: 'gold' // gold | blue | silver | black
        },

        // PayPal Client IDs - replace with your own
        // Create a PayPal app: https://developer.paypal.com/developer/applications/create

        client: {
          sandbox: 'ASSljN1X2fhtOalonExcpolVsWmMWGVBI-NiTSiQpkksE02CFoenGaBlT13DRxlJxG03g5UuKTuScwpj',
          production: '<insert production client id>'
        },

        payment: function (data, actions) {
          // Make a call to your server to set up the payment
          // let CREATE_URL = (process.env.NODE_ENV === 'development') ? '/server/auth/payment/paypal' : '/auth/payment/paypal'
          let CREATE_URL = '/auth/payment/paypal'
          return paypal.request.post(CREATE_URL).then(res => {
            return res.paymentID
          })
        },

        onAuthorize: function (data, actions) {
          // Set up a url on your server to execute the payment
          // let EXECUTE_URL = (process.env.NODE_ENV === 'development') ? '/server/auth/payment/payer' : '/auth/payment/payer'
          let EXECUTE_URL = '/auth/payment/payer'
          // Make a call to your server to execute the payment
          return paypal.request.post(EXECUTE_URL, {
            paymentID: data.paymentID,
            payerID: data.payerIDdata
          }).then(res => window.alert('Payment Complete!')).catch(err => console.log(err))
        }

      }, '#paypal-button')
    },
    /**
     * The components the page can use.
     */
    components: {
      Card,
      VLayout
    }
  }
</script>
