/*! jQuery UI - v1.10.3 - 2013-10-01
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2013 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}
.ui-selectable-helper {
	position: absolute;
	z-index: 100;
	border: 1px dotted black;
}
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
}
.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
	padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
}
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
.ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible; /* removes extra width in IE */
}
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
	text-decoration: none;
}
/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
	width: 2.2em;
}
/* button elements seem to need a little more width */
button.ui-button-icon-only {
	width: 2.4em;
}
.ui-button-icons-only {
	width: 3.4em;
}
button.ui-button-icons-only {
	width: 3.7em;
}

/* button text element */
.ui-button .ui-button-text {
	display: block;
	line-height: normal;
}
.ui-button-text-only .ui-button-text {
	padding: .4em 1em;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
	padding: .4em;
	text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 1em .4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 2.1em .4em 1em;
}
.ui-button-text-icons .ui-button-text {
	padding-left: 2.1em;
	padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
	padding: .4em 1em;
}

/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}
.ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
	left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
	right: .5em;
}

/* button sets */
.ui-buttonset {
	margin-right: 7px;
}
.ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: -.3em;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}
.ui-dialog {
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
}
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 21px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
	padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
.ui-dialog .ui-resizable-se {
	width: 12px;
	height: 12px;
	right: -5px;
	bottom: -5px;
	background-position: 16px 16px;
}
.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}
.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	outline: none;
}
.ui-menu .ui-menu {
	margin-top: -3px;
	position: absolute;
}
.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	width: 100%;
	/* support: IE10, see #8844 */
	list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
.ui-menu .ui-menu-divider {
	margin: 5px -2px 5px -2px;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: 2px .4em;
	line-height: 1.5;
	min-height: 0; /* support: IE7 */
	font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}

.ui-menu .ui-state-disabled {
	font-weight: normal;
	margin: .4em 0 .2em;
	line-height: 1.5;
}
.ui-menu .ui-state-disabled a {
	cursor: default;
}

/* icon support */
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item a {
	position: relative;
	padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	position: absolute;
	top: .2em;
	left: .2em;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	position: static;
	float: right;
}
.ui-progressbar {
	height: 2em;
	text-align: left;
	overflow: hidden;
}
.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%;
}
.ui-progressbar .ui-progressbar-overlay {
	height: 100%;
	filter: alpha(opacity=25);
	opacity: 0.25;
}
.ui-progressbar-indeterminate .ui-progressbar-value {
	background-image: none;
}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
.ui-spinner {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	vertical-align: middle;
}
.ui-spinner-input {
	border: none;
	background: none;
	color: inherit;
	padding: 0;
	margin: .2em 0;
	vertical-align: middle;
	margin-left: .4em;
	margin-right: 22px;
}
.ui-spinner-button {
	width: 16px;
	height: 50%;
	font-size: .5em;
	padding: 0;
	margin: 0;
	text-align: center;
	position: absolute;
	cursor: default;
	display: block;
	overflow: hidden;
	right: 0;
}
/* more specificity required here to overide default borders */
.ui-spinner a.ui-spinner-button {
	border-top: none;
	border-bottom: none;
	border-right: none;
}
/* vertical centre icon */
.ui-spinner .ui-icon {
	position: absolute;
	margin-top: -8px;
	top: 50%;
	left: 0;
}
.ui-spinner-up {
	top: 0;
}
.ui-spinner-down {
	bottom: 0;
}

/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
	/* need to fix icons sprite */
	background-position: -65px -16px;
}
.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
}

/* Component containers
----------------------------------*/
.dsidx-ui-widget.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.dsidx-ui-widget.ui-widget .ui-widget {
	font-size: 1em;
}
.dsidx-ui-widget.ui-widget input,
.dsidx-ui-widget.ui-widget select,
.dsidx-ui-widget.ui-widget textarea,
.dsidx-ui-widget.ui-widget button {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1em;
}
.dsidx-ui-widget.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff url(/images/dsIDXpress/Icons/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
	color: #222222;
}
.dsidx-ui-widget.ui-widget-content a {
	color: #222222;
}
.dsidx-ui-widget.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc url(/images/dsIDXpress/Icons/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
}
.dsidx-ui-widget.ui-widget-header a {
	color: #222222;
}

/* Interaction states
----------------------------------*/
.dsidx-ui-widget .ui-state-default,
.dsidx-ui-widget.ui-widget-content .ui-state-default,
.dsidx-ui-widget.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url(/images/dsIDXpress/Icons/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
}
.dsidx-ui-widget .ui-state-default a,
.dsidx-ui-widget .ui-state-default a:link,
.dsidx-ui-widget .ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
.dsidx-ui-widget .ui-state-hover,
.dsidx-ui-widget.ui-widget-content .ui-state-hover,
.dsidx-ui-widget.ui-widget-header .ui-state-hover,
.dsidx-ui-widget .ui-state-focus,
.dsidx-ui-widget.ui-widget-content .ui-state-focus,
.dsidx-ui-widget.ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #dadada url(/images/dsIDXpress/Icons/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.dsidx-ui-widget .ui-state-hover a,
.dsidx-ui-widget .ui-state-hover a:hover,
.dsidx-ui-widget .ui-state-hover a:link,
.dsidx-ui-widget .ui-state-hover a:visited {
	color: #212121;
	text-decoration: none;
}
.dsidx-ui-widget .ui-state-active,
.dsidx-ui-widget.ui-widget-content .ui-state-active,
.dsidx-ui-widget.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #ffffff url(/images/dsIDXpress/Icons/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.dsidx-ui-widget .ui-state-active a,
.dsidx-ui-widget .ui-state-active a:link,
.dsidx-ui-widget .ui-state-active a:visited {
	color: #212121;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.dsidx-ui-widget .ui-state-highlight,
.dsidx-ui-widget.ui-widget-content .ui-state-highlight,
.dsidx-ui-widget.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #fbf9ee url(/images/dsIDXpress/Icons/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
	color: #363636;
}
.dsidx-ui-widget .ui-state-highlight a,
.dsidx-ui-widget.ui-widget-content .ui-state-highlight a,
.dsidx-ui-widget.ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.dsidx-ui-widget .ui-state-error,
.dsidx-ui-widget.ui-widget-content .ui-state-error,
.dsidx-ui-widget.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec url(/images/dsIDXpress/Icons/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
	color: #cd0a0a;
}
.dsidx-ui-widget .ui-state-error a,
.dsidx-ui-widget.ui-widget-content .ui-state-error a,
.dsidx-ui-widget.ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}
.dsidx-ui-widget .ui-state-error-text,
.dsidx-ui-widget.ui-widget-content .ui-state-error-text,
.dsidx-ui-widget.ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}
.dsidx-ui-widget .ui-priority-primary,
.dsidx-ui-widget.ui-widget-content .ui-priority-primary,
.dsidx-ui-widget.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.dsidx-ui-widget .ui-priority-secondary,
.dsidx-ui-widget.ui-widget-content .ui-priority-secondary,
.dsidx-ui-widget.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.dsidx-ui-widget .ui-state-disabled,
.dsidx-ui-widget.ui-widget-content .ui-state-disabled,
.dsidx-ui-widget.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
.dsidx-ui-widget .ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.dsidx-ui-widget .ui-icon {
	width: 16px;
	height: 16px;
}
.dsidx-ui-widget .ui-icon,
.dsidx-ui-widget.ui-widget-content .ui-icon {
	background-image: url(/images/dsIDXpress/Icons/ui-icons_222222_256x240.png);
}
.dsidx-ui-widget.ui-widget-header .ui-icon {
	background-image: url(/images/dsIDXpress/Icons/ui-icons_222222_256x240.png);
}
.dsidx-ui-widget .ui-state-default .ui-icon {
	background-image: url(/images/dsIDXpress/Icons/ui-icons_888888_256x240.png);
}
.dsidx-ui-widget .ui-state-hover .ui-icon,
.dsidx-ui-widget .ui-state-focus .ui-icon {
	background-image: url(/images/dsIDXpress/Icons/ui-icons_454545_256x240.png);
}
.dsidx-ui-widget .ui-state-active .ui-icon {
	background-image: url(/images/dsIDXpress/Icons/ui-icons_454545_256x240.png);
}
.dsidx-ui-widget .ui-state-highlight .ui-icon {
	background-image: url(/images/dsIDXpress/Icons/ui-icons_2e83ff_256x240.png);
}
.dsidx-ui-widget .ui-state-error .ui-icon,
.dsidx-ui-widget .ui-state-error-text .ui-icon {
	background-image: url(/images/dsIDXpress/Icons/ui-icons_cd0a0a_256x240.png);
}

/* positioning */
.dsidx-ui-widget .ui-icon-blank { background-position: 16px 16px; }
.dsidx-ui-widget .ui-icon-carat-1-n { background-position: 0 0; }
.dsidx-ui-widget .ui-icon-carat-1-ne { background-position: -16px 0; }
.dsidx-ui-widget .ui-icon-carat-1-e { background-position: -32px 0; }
.dsidx-ui-widget .ui-icon-carat-1-se { background-position: -48px 0; }
.dsidx-ui-widget .ui-icon-carat-1-s { background-position: -64px 0; }
.dsidx-ui-widget .ui-icon-carat-1-sw { background-position: -80px 0; }
.dsidx-ui-widget .ui-icon-carat-1-w { background-position: -96px 0; }
.dsidx-ui-widget .ui-icon-carat-1-nw { background-position: -112px 0; }
.dsidx-ui-widget .ui-icon-carat-2-n-s { background-position: -128px 0; }
.dsidx-ui-widget .ui-icon-carat-2-e-w { background-position: -144px 0; }
.dsidx-ui-widget .ui-icon-triangle-1-n { background-position: 0 -16px; }
.dsidx-ui-widget .ui-icon-triangle-1-ne { background-position: -16px -16px; }
.dsidx-ui-widget .ui-icon-triangle-1-e { background-position: -32px -16px; }
.dsidx-ui-widget .ui-icon-triangle-1-se { background-position: -48px -16px; }
.dsidx-ui-widget .ui-icon-triangle-1-s { background-position: -64px -16px; }
.dsidx-ui-widget .ui-icon-triangle-1-sw { background-position: -80px -16px; }
.dsidx-ui-widget .ui-icon-triangle-1-w { background-position: -96px -16px; }
.dsidx-ui-widget .ui-icon-triangle-1-nw { background-position: -112px -16px; }
.dsidx-ui-widget .ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.dsidx-ui-widget .ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.dsidx-ui-widget .ui-icon-arrow-1-n { background-position: 0 -32px; }
.dsidx-ui-widget .ui-icon-arrow-1-ne { background-position: -16px -32px; }
.dsidx-ui-widget .ui-icon-arrow-1-e { background-position: -32px -32px; }
.dsidx-ui-widget .ui-icon-arrow-1-se { background-position: -48px -32px; }
.dsidx-ui-widget .ui-icon-arrow-1-s { background-position: -64px -32px; }
.dsidx-ui-widget .ui-icon-arrow-1-sw { background-position: -80px -32px; }
.dsidx-ui-widget .ui-icon-arrow-1-w { background-position: -96px -32px; }
.dsidx-ui-widget .ui-icon-arrow-1-nw { background-position: -112px -32px; }
.dsidx-ui-widget .ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.dsidx-ui-widget .ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.dsidx-ui-widget .ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.dsidx-ui-widget .ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.dsidx-ui-widget .ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.dsidx-ui-widget .ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.dsidx-ui-widget .ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.dsidx-ui-widget .ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.dsidx-ui-widget .ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.dsidx-ui-widget .ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.dsidx-ui-widget .ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.dsidx-ui-widget .ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.dsidx-ui-widget .ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.dsidx-ui-widget .ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.dsidx-ui-widget .ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.dsidx-ui-widget .ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.dsidx-ui-widget .ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.dsidx-ui-widget .ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.dsidx-ui-widget .ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.dsidx-ui-widget .ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.dsidx-ui-widget .ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.dsidx-ui-widget .ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.dsidx-ui-widget .ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.dsidx-ui-widget .ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.dsidx-ui-widget .ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.dsidx-ui-widget .ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.dsidx-ui-widget .ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.dsidx-ui-widget .ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.dsidx-ui-widget .ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.dsidx-ui-widget .ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.dsidx-ui-widget .ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.dsidx-ui-widget .ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.dsidx-ui-widget .ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.dsidx-ui-widget .ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.dsidx-ui-widget .ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.dsidx-ui-widget .ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.dsidx-ui-widget .ui-icon-arrow-4 { background-position: 0 -80px; }
.dsidx-ui-widget .ui-icon-arrow-4-diag { background-position: -16px -80px; }
.dsidx-ui-widget .ui-icon-extlink { background-position: -32px -80px; }
.dsidx-ui-widget .ui-icon-newwin { background-position: -48px -80px; }
.dsidx-ui-widget .ui-icon-refresh { background-position: -64px -80px; }
.dsidx-ui-widget .ui-icon-shuffle { background-position: -80px -80px; }
.dsidx-ui-widget .ui-icon-transfer-e-w { background-position: -96px -80px; }
.dsidx-ui-widget .ui-icon-transferthick-e-w { background-position: -112px -80px; }
.dsidx-ui-widget .ui-icon-folder-collapsed { background-position: 0 -96px; }
.dsidx-ui-widget .ui-icon-folder-open { background-position: -16px -96px; }
.dsidx-ui-widget .ui-icon-document { background-position: -32px -96px; }
.dsidx-ui-widget .ui-icon-document-b { background-position: -48px -96px; }
.dsidx-ui-widget .ui-icon-note { background-position: -64px -96px; }
.dsidx-ui-widget .ui-icon-mail-closed { background-position: -80px -96px; }
.dsidx-ui-widget .ui-icon-mail-open { background-position: -96px -96px; }
.dsidx-ui-widget .ui-icon-suitcase { background-position: -112px -96px; }
.dsidx-ui-widget .ui-icon-comment { background-position: -128px -96px; }
.dsidx-ui-widget .ui-icon-person { background-position: -144px -96px; }
.dsidx-ui-widget .ui-icon-print { background-position: -160px -96px; }
.dsidx-ui-widget .ui-icon-trash { background-position: -176px -96px; }
.dsidx-ui-widget .ui-icon-locked { background-position: -192px -96px; }
.dsidx-ui-widget .ui-icon-unlocked { background-position: -208px -96px; }
.dsidx-ui-widget .ui-icon-bookmark { background-position: -224px -96px; }
.dsidx-ui-widget .ui-icon-tag { background-position: -240px -96px; }
.dsidx-ui-widget .ui-icon-home { background-position: 0 -112px; }
.dsidx-ui-widget .ui-icon-flag { background-position: -16px -112px; }
.dsidx-ui-widget .ui-icon-calendar { background-position: -32px -112px; }
.dsidx-ui-widget .ui-icon-cart { background-position: -48px -112px; }
.dsidx-ui-widget .ui-icon-pencil { background-position: -64px -112px; }
.dsidx-ui-widget .ui-icon-clock { background-position: -80px -112px; }
.dsidx-ui-widget .ui-icon-disk { background-position: -96px -112px; }
.dsidx-ui-widget .ui-icon-calculator { background-position: -112px -112px; }
.dsidx-ui-widget .ui-icon-zoomin { background-position: -128px -112px; }
.dsidx-ui-widget .ui-icon-zoomout { background-position: -144px -112px; }
.dsidx-ui-widget .ui-icon-search { background-position: -160px -112px; }
.dsidx-ui-widget .ui-icon-wrench { background-position: -176px -112px; }
.dsidx-ui-widget .ui-icon-gear { background-position: -192px -112px; }
.dsidx-ui-widget .ui-icon-heart { background-position: -208px -112px; }
.dsidx-ui-widget .ui-icon-star { background-position: -224px -112px; }
.dsidx-ui-widget .ui-icon-link { background-position: -240px -112px; }
.dsidx-ui-widget .ui-icon-cancel { background-position: 0 -128px; }
.dsidx-ui-widget .ui-icon-plus { background-position: -16px -128px; }
.dsidx-ui-widget .ui-icon-plusthick { background-position: -32px -128px; }
.dsidx-ui-widget .ui-icon-minus { background-position: -48px -128px; }
.dsidx-ui-widget .ui-icon-minusthick { background-position: -64px -128px; }
.dsidx-ui-widget .ui-icon-close { background-position: -80px -128px; }
.dsidx-ui-widget .ui-icon-closethick { background-position: -96px -128px; }
.dsidx-ui-widget .ui-icon-key { background-position: -112px -128px; }
.dsidx-ui-widget .ui-icon-lightbulb { background-position: -128px -128px; }
.dsidx-ui-widget .ui-icon-scissors { background-position: -144px -128px; }
.dsidx-ui-widget .ui-icon-clipboard { background-position: -160px -128px; }
.dsidx-ui-widget .ui-icon-copy { background-position: -176px -128px; }
.dsidx-ui-widget .ui-icon-contact { background-position: -192px -128px; }
.dsidx-ui-widget .ui-icon-image { background-position: -208px -128px; }
.dsidx-ui-widget .ui-icon-video { background-position: -224px -128px; }
.dsidx-ui-widget .ui-icon-script { background-position: -240px -128px; }
.dsidx-ui-widget .ui-icon-alert { background-position: 0 -144px; }
.dsidx-ui-widget .ui-icon-info { background-position: -16px -144px; }
.dsidx-ui-widget .ui-icon-notice { background-position: -32px -144px; }
.dsidx-ui-widget .ui-icon-help { background-position: -48px -144px; }
.dsidx-ui-widget .ui-icon-check { background-position: -64px -144px; }
.dsidx-ui-widget .ui-icon-bullet { background-position: -80px -144px; }
.dsidx-ui-widget .ui-icon-radio-on { background-position: -96px -144px; }
.dsidx-ui-widget .ui-icon-radio-off { background-position: -112px -144px; }
.dsidx-ui-widget .ui-icon-pin-w { background-position: -128px -144px; }
.dsidx-ui-widget .ui-icon-pin-s { background-position: -144px -144px; }
.dsidx-ui-widget .ui-icon-play { background-position: 0 -160px; }
.dsidx-ui-widget .ui-icon-pause { background-position: -16px -160px; }
.dsidx-ui-widget .ui-icon-seek-next { background-position: -32px -160px; }
.dsidx-ui-widget .ui-icon-seek-prev { background-position: -48px -160px; }
.dsidx-ui-widget .ui-icon-seek-end { background-position: -64px -160px; }
.dsidx-ui-widget .ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.dsidx-ui-widget .ui-icon-seek-first { background-position: -80px -160px; }
.dsidx-ui-widget .ui-icon-stop { background-position: -96px -160px; }
.dsidx-ui-widget .ui-icon-eject { background-position: -112px -160px; }
.dsidx-ui-widget .ui-icon-volume-off { background-position: -128px -160px; }
.dsidx-ui-widget .ui-icon-volume-on { background-position: -144px -160px; }
.dsidx-ui-widget .ui-icon-power { background-position: 0 -176px; }
.dsidx-ui-widget .ui-icon-signal-diag { background-position: -16px -176px; }
.dsidx-ui-widget .ui-icon-signal { background-position: -32px -176px; }
.dsidx-ui-widget .ui-icon-battery-0 { background-position: -48px -176px; }
.dsidx-ui-widget .ui-icon-battery-1 { background-position: -64px -176px; }
.dsidx-ui-widget .ui-icon-battery-2 { background-position: -80px -176px; }
.dsidx-ui-widget .ui-icon-battery-3 { background-position: -96px -176px; }
.dsidx-ui-widget .ui-icon-circle-plus { background-position: 0 -192px; }
.dsidx-ui-widget .ui-icon-circle-minus { background-position: -16px -192px; }
.dsidx-ui-widget .ui-icon-circle-close { background-position: -32px -192px; }
.dsidx-ui-widget .ui-icon-circle-triangle-e { background-position: -48px -192px; }
.dsidx-ui-widget .ui-icon-circle-triangle-s { background-position: -64px -192px; }
.dsidx-ui-widget .ui-icon-circle-triangle-w { background-position: -80px -192px; }
.dsidx-ui-widget .ui-icon-circle-triangle-n { background-position: -96px -192px; }
.dsidx-ui-widget .ui-icon-circle-arrow-e { background-position: -112px -192px; }
.dsidx-ui-widget .ui-icon-circle-arrow-s { background-position: -128px -192px; }
.dsidx-ui-widget .ui-icon-circle-arrow-w { background-position: -144px -192px; }
.dsidx-ui-widget .ui-icon-circle-arrow-n { background-position: -160px -192px; }
.dsidx-ui-widget .ui-icon-circle-zoomin { background-position: -176px -192px; }
.dsidx-ui-widget .ui-icon-circle-zoomout { background-position: -192px -192px; }
.dsidx-ui-widget .ui-icon-circle-check { background-position: -208px -192px; }
.dsidx-ui-widget .ui-icon-circlesmall-plus { background-position: 0 -208px; }
.dsidx-ui-widget .ui-icon-circlesmall-minus { background-position: -16px -208px; }
.dsidx-ui-widget .ui-icon-circlesmall-close { background-position: -32px -208px; }
.dsidx-ui-widget .ui-icon-squaresmall-plus { background-position: -48px -208px; }
.dsidx-ui-widget .ui-icon-squaresmall-minus { background-position: -64px -208px; }
.dsidx-ui-widget .ui-icon-squaresmall-close { background-position: -80px -208px; }
.dsidx-ui-widget .ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.dsidx-ui-widget .ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.dsidx-ui-widget .ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.dsidx-ui-widget .ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.dsidx-ui-widget .ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.dsidx-ui-widget .ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.dsidx-ui-widget .ui-corner-all,
.dsidx-ui-widget .ui-corner-top,
.dsidx-ui-widget .ui-corner-left,
.dsidx-ui-widget .ui-corner-tl {
	border-top-left-radius: 4px;
}
.dsidx-ui-widget .ui-corner-all,
.dsidx-ui-widget .ui-corner-top,
.dsidx-ui-widget .ui-corner-right,
.dsidx-ui-widget .ui-corner-tr {
	border-top-right-radius: 4px;
}
.dsidx-ui-widget .ui-corner-all,
.dsidx-ui-widget .ui-corner-bottom,
.dsidx-ui-widget .ui-corner-left,
.dsidx-ui-widget .ui-corner-bl {
	border-bottom-left-radius: 4px;
}
.dsidx-ui-widget .ui-corner-all,
.dsidx-ui-widget .ui-corner-bottom,
.dsidx-ui-widget .ui-corner-right,
.dsidx-ui-widget .ui-corner-br {
	border-bottom-right-radius: 4px;
}

/* Overlays */
.dsidx-ui-widget.ui-widget-overlay {
	background: #aaaaaa url(/images/dsIDXpress/Icons/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=30);
}
.dsidx-ui-widget.ui-widget-shadow {
	margin: -8px 0 0 -8px;
	padding: 8px;
	background: #aaaaaa url(/images/dsIDXpress/Icons/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=30);
	border-radius: 8px;
}

/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.8.0r4
*/
/**
 * YUI Reset
 * @module reset
 * @namespace
 * @requires 
 */
#dsidx html {
	color: #000;
	background: #FFF;
}

.dsidx-details body,
.dsidx-details div,
.dsidx-details dl,
.dsidx-details dt,
.dsidx-details dd,
.dsidx-details ul,
.dsidx-details ol,
.dsidx-details li,
.dsidx-details h1,
.dsidx-details h2,
.dsidx-details h3,
.dsidx-details h4,
.dsidx-details h5,
.dsidx-details h6,
.dsidx-details pre,
.dsidx-details code,
.dsidx-details form,
.dsidx-details fieldset,
.dsidx-details legend,
.dsidx-details input,
.dsidx-details button,
.dsidx-details textarea,
.dsidx-details p,
.dsidx-details blockquote,
.dsidx-details th,
.dsidx-details td,
.dsidx-results body,
.dsidx-results div,
.dsidx-results dl,
.dsidx-results dt,
.dsidx-results dd,
.dsidx-results ul,
.dsidx-results ol,
.dsidx-results li,
.dsidx-results h1,
.dsidx-results h2,
.dsidx-results h3,
.dsidx-results h4,
.dsidx-results h5,
.dsidx-results h6,
.dsidx-results pre,
.dsidx-results code,
.dsidx-results form,
.dsidx-results fieldset,
.dsidx-results legend,
.dsidx-results input,
.dsidx-results button,
.dsidx-results textarea,
.dsidx-results p,
.dsidx-results blockquote,
.dsidx-results th,
.dsidx-results td {
	margin: 0;
	padding: 0;
}

#dsidx table {
	border-collapse: collapse;
	border-spacing: 0;
}

#dsidx fieldset,
#dsidx img {
	border: 0;
}

#dsidx address,
#dsidx caption,
#dsidx cite,
#dsidx vcode,
#dsidx dfn,
#dsidx em,
#dsidx strong,
#dsidx th,
#dsidx var,
#dsidx optgroup {
	font-style: inherit;
	font-weight: inherit;
}

#dsidx del,
#dsidx ins {
	text-decoration: none;
}

#dsidx li {
	list-style: none;
}

#dsidx caption,
#dsidx th {
	text-align: left;
}

#dsidx h1,
#dsidx h2,
#dsidx h3,
#dsidx h4,
#dsidx h5,
#dsidx h6 {
	font-size: 100%;
	font-weight: normal;
}

#dsidx q:before,
#dsidx q:after {
	content: '';
}

#dsidx abbr,
#dsidx acronym {
	border: 0;
	font-variant: normal;
}

#dsidx sup {
	vertical-align: baseline;
}

#dsidx sub {
	vertical-align: baseline;
}

/*because legend doesn't inherit in IE */
#dsidx legend {
	color: #000;
}

#dsidx input,
#dsidx button,
#dsidx textarea,
#dsidx select,
#dsidx optgroup,
#dsidx option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
#dsidx input,
#dsidx button,
#dsidx textarea,
#dsidx select {
	*font-size: 100%;
}



.dsidx-clear
{
	clear: both;
}
.dsidx-bold-text {
    font-weight: bold !important;
}
hr.dsidx-separator
{
	background-color: #ededed;
	height: 1px;
    border: 0;
	margin: 25px auto;
}
#dsidx
{
	position: relative;
}
#dsidx form
{
	display: inline;
}
#dsidx h3
{
	font-size: larger;
	font-weight: bold;
	width: 100%;
	border-bottom: 1px solid #f3f3f3;
	margin-top: 30px;
}
#dsidx table
{
	width: 100%;
	color: #666666;
}
#dsidx td, #dsidx th
{
	padding: 5px;
	vertical-align: top;
}
#dsidx strong
{
	font-weight: bold;
}
#dsidx p
{
	margin-bottom: 10px;
}
#dsidx .dsidx-secondary-row
{
	background-color: #f3f3f3;
}
#dsidx a
{
	text-decoration: none;
}
#dsidx a:hover
{
	text-decoration: underline;
}

#dsidx select,
#dsidx-search-form select
{
	height: auto;
    padding:2px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size:12px;
    line-height:12px;
    height:36px;
    min-width:15px;
    margin:0 !important;
    width:100%;
}
#dsidx select.dsidx-contact-form-schedule-date-month, #dsidx select.dsidx-contact-form-schedule-date-day {
    width:auto;
    min-width:80px;
}
#dsidx select.dsidx-contact-form-schedule-date-day {
    min-width: 40px;
}
#dsidx-search-garageparking {
    margin-bottom:10px !important;
}
/************* start enticement *************/

#dsidx .dsidx-enticement 
{
	margin: 10px 0 10px 0;
	border: solid 1px #ffd489;
	background-color: #faf8c2;
}

#dsidx .dsidx-enticement h3 
{
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	margin: 0 0 13px 0;
}

#dsidx .dsidx-enticement-data 
{
	padding: 12px 11px;
}

#dsidx .dsidx-enticement ul, #dsidx .dsidx-enticement li 
{
	margin: 0;
	padding: 0;
	list-style: none;
	height: 75px;
	overflow: hidden;
}

#dsidx .dsidx-enticement li 
{
	float: left;
	margin: 0 8px 0 0;
}

#dsidx .dsidx-enticement li img
{
	height: 75px;
}

#dsidx .dsidx-enticement-footer 
{
	border-top: solid 1px #ffd489;
	background-color: #fdf98e;
	
	padding: 12px 11px;
	
	color: #666666;
}

/************* end enticement *************/

/************* start generic-button *************/

#dsidx .dsidx-large-button,
body.dsidx .dsidx-large-button
{
	display: inline-block;
	padding: 0 8px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	position: relative;
	color: White;
	cursor:pointer;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Arial"; font-weight:bold; font-size: 12px;
	border: 2px solid #5FB520;
	border-radius: 2px;
	-moz-border-radius: 2px;
	
	background: #86D42D;
	background: -webkit-linear-gradient(top, #86D42D 0%, #389613 100%); /* Webkit */
	background: -ms-linear-gradient(top, #86D42D 0%, #389613 100%); /* IE10 */ 
	background: -moz-linear-gradient(top, #86D42D 0%, #389613 100%); /* Firefox */
}

#ds-idx .dsidx-large-button:hover,
body.dsidx .dsidx-large-button:hover
{
	background: #389613;
	background: -webkit-linear-gradient(top, #389613 0%, #86D42D 100%); /* Webkit */
	background: -ms-linear-gradient(top, #389613 0%, #86D42D 100%); /* IE10 */ 
	background: -moz-linear-gradient(top, #389613 0%, #86D42D 100%); /* Firefox */
	
	text-decoration: none;
}

/************* end generic-button *************/

/************* start tabs *************/
#dsidx ul.dsidx-tabs,
body.dsidx ul.dsidx-tabs 
{
	height: 24px;
	border-bottom: solid 1px #dedede;
	margin: 0 0 0 0;
	padding: 0 0 0 20px;
}

#dsidx ul.dsidx-tabs li.dsidx-tab,
body.dsidx ul.dsidx-tabs li.dsidx-tab
{
	float:left;
	height: 24px;
	padding: 0;
	margin: 0 12px 0 0;
	color: #666666;
	font-size: 12px;
	border-style: solid;
	border-color: #dedede;
	border-width: 1px 1px 0 1px;
	
	border-radius: 3px 3px 0 0;
	background: #ffffff;
	cursor:default;
}

#dsidx ul.dsidx-tabs li.dsidx-tab span,
body.dsidx ul.dsidx-tabs li.dsidx-tab span
{
	padding: 5px 6px 5px 6px;
	display:block;
}

#dsidx ul.dsidx-tabs li.dsidx-tab.dsidx-tab-disabled,
body.dsidx ul.dsidx-tabs li.dsidx-tab.dsidx-tab-disabled
{
	padding: 1px 1px 0 1px;
	height: 24px;
	border-width: 0;
	cursor:pointer;
	background-color: #ebebeb;
	background-color: rgba(0,0,0,.1);
}

#dsidx ul.dsidx-tabs li.dsidx-tab.dsidx-tab-disabled span,
body.dsidx ul.dsidx-tabs li.dsidx-tab.dsidx-tab-disabled span
{
	opacity: .5;
}
/************* end tabs *************/

/************* Geness framework doesn't properly handle entry meta for custom post types. Let's hide it. *************/
.ds-idx-listings-page .entry-meta {
    display:none !important;
}

/************* start top actions *************/
body.dsidx .dsidx-top-actions 
{
	float:left;
}
/************* end top actions *************/

/************* start content header area *************/

.dsidx-content-header 
{
	margin: 0px 0px 10px 0px;
}

/************* start content header area *************/
@media only screen and (max-width : 679px) {
    li.dsidx-prop-summary img {
        max-width: 140px !important;
    }
}
/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/

/* THIS IS CUSTOMIZED FOR OUR (DIVERSE SOLUTIONS) USE SO THAT IT DOES NOT INTERFERE WITH ANY OTHER
 * VERSION OF COLORBOX THAT MAY BE LOADED INTO THE PAGE. DO NOT UPGRADE WITHOUT RE-APPLYING dsidx_cbox NAMESPACE!
 */
 
#dsidx_colorbox, #dsidx_cboxOverlay, #dsidx_cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#dsidx_cboxOverlay{position:fixed; width:100%; height:100%;}
#dsidx_cboxMiddleLeft, #dsidx_cboxBottomLeft{clear:left;}
#dsidx_cboxContent{position:relative; overflow:hidden;}
#dsidx_cboxLoadedContent{overflow:auto;}
#dsidx_cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#dsidx_cboxTitle{margin:0;}
#dsidx_cboxLoadingOverlay, #dsidx_cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#dsidx_cboxPrevious, #dsidx_cboxNext, #dsidx_cboxClose, #dsidx_cboxSlideshow{cursor:pointer; border: none;}

img.dsidx_cboxPhoto{max-width: none;}
/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#dsidx_cboxOverlay{background:url(https://api-idx.diversesolutions.com/images/dsIDXpress/ds-colorbox/overlay.png) 0 0 repeat;}
#dsidx_colorbox{}
    #dsidx_cboxTopLeft{width:21px; height:21px; background:url(https://api-idx.diversesolutions.com/images/dsIDXpress/ds-colorbox/controls.png) -100px 0 no-repeat;}
    #dsidx_cboxTopRight{width:21px; height:21px; background:url(https://api-idx.diversesolutions.com/images/dsIDXpress/ds-colorbox/controls.png) -129px 0 no-repeat;}
    #dsidx_cboxBottomLeft{width:21px; height:21px; background:url(https://api-idx.diversesolutions.com/images/dsIDXpress/ds-colorbox/controls.png) -100px -29px no-repeat;}
    #dsidx_cboxBottomRight{width:21px; height:21px; background:url(https://api-idx.diversesolutions.com/images/dsIDXpress/ds-colorbox/controls.png) -129px -29px no-repeat;}
    #dsidx_cboxMiddleLeft{width:21px; background:url(https://api-idx.diversesolutions.com/images/dsIDXpress/ds-colorbox/controls.png) left top repeat-y;}
    #dsidx_cboxMiddleRight{width:21px; background:url(https://api-idx.diversesolutions.com/images/dsIDXpress/ds-colorbox/controls.png) right top repeat-y;}
    #dsidx_cboxTopCenter{height:21px; background:url(https://api-idx.diversesolutions.com/images/dsIDXpress/ds-colorbox/border.png) 0 0 repeat-x;}
    #dsidx_cboxBottomCenter{height:21px; background:url(https://api-idx.diversesolutions.com/images/dsIDXpress/ds-colorbox/border.png) 0 -29px repeat-x;}
    #dsidx_cboxContent{background:#fff;}
        #dsidx_cboxLoadedContent{margin-bottom:28px;}
        #dsidx_cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #dsidx_cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #dsidx_cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #dsidx_cboxPrevious{position:absolute; bottom:0; left:0px; background:url(https://api-idx.diversesolutions.com/images/dsIDXpress/ds-colorbox/controls.png) -75px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #dsidx_cboxPrevious.hover{background-position:-75px -25px;}
        #dsidx_cboxNext{position:absolute; bottom:0; left:27px; background:url(https://api-idx.diversesolutions.com/images/dsIDXpress/ds-colorbox/controls.png) -50px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #dsidx_cboxNext.hover{background-position:-50px -25px;}
        #dsidx_cboxLoadingOverlay{background:url(https://api-idx.diversesolutions.com/images/dsIDXpress/ds-colorbox/loading_background.png) center center no-repeat;}
        #dsidx_cboxLoadingGraphic{background:url(https://api-idx.diversesolutions.com/images/dsIDXpress/ds-colorbox/loading.gif) center center no-repeat;}
        #dsidx_cboxClose{position:absolute; bottom:0; right:0; background:url(https://api-idx.diversesolutions.com/images/dsIDXpress/ds-colorbox/controls.png) -25px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #dsidx_cboxClose.hover{background-position:-25px -25px;}

/************* Geness framework doesn't properly handle entry meta for custom post types. Let's hide it. *************/
.ds-idx-listings-page .post-info, .ds-idx-listings-page .post-meta, .ds-idx-listings-page .post-info, .ds-idx-listings-page .entry-meta{
    display: none;
}

.dsidx-results .dsidx-paging-control, #dsidx .dsidx-sorting-control
{
	font-size: smaller;
	text-align: right;
    margin-bottom: 1em;
}
.dsidx-results .dsidx-paging-control a, #dsidx .dsidx-sorting-control a
{
	text-decoration: underline;
}

.dsidx-results #dsidx-map
{
	display: none;
	height: 0;
	width: 0;
	margin: 10px 0;
	border: 1px solid #ededed;
	overflow: hidden;
}
#dsidx-map-hover
{
	position: absolute;
	display: none;
	height: 80px;
	overflow: hidden;
	font-family: Verdana;
	font-size: 11px;
	line-height: 12px;
	white-space: nowrap;
}
#dsidx-map-hover .dsidx-edge
{
	background-image: url(https://api-idx.diversesolutions.com/images/dsIDXpress/map-hover-container.png);
	position: absolute;
	height: 8px;
	width: 8px;
	overflow: hidden;
	background-repeat: repeat;
}
#dsidx-map-hover .dsidx-top-left
{
	top: 0;
	left: 0;
	width: 7px;
	height: 13px;
}
#dsidx-map-hover .dsidx-top-center
{
	top: 0;
	left: 7px;
	height: 1px;
	padding-right: 7px;
	background-position: -7px 0px;
}
#dsidx-map-hover .dsidx-top-right
{
	top: 0;
	right: 0;
	background-position: 8px 0;
}
#dsidx-map-hover .dsidx-middle-right
{
	top: 8px;
	right: 0;
	padding-bottom: 4px;
	background-position: 8px -8px;
}
#dsidx-map-hover .dsidx-bottom-right
{
	bottom: 0;
	right: 0;
	background-position: 8px 8px;
	z-index: 1;
}
#dsidx-map-hover .dsidx-bottom-center
{
	bottom: 0;
	left: 13px;
	background-position: -13px 8px;
}
#dsidx-map-hover .dsidx-bottom-left
{
	bottom: 0;
	left: 0;
	width: 13px;
	background-position: 0 8px;
}
#dsidx-map-hover .dsidx-middle-left
{
	top: 13px;
	left: 0;
	width: 7px;
	background-position: 0 -13px;
}

/************* map *************/
#dsidx-map-hover .dsidx-container
{
	padding: 1px 8px 8px 7px;
}
#dsidx-map-hover .dsidx-container .dsidx-inner-container
{
	background-image: url(https://api-idx.diversesolutions.com/images/dsIDXpress/map-hover-container.png);
	background-position: -7px -1px;
	color: #000000;
}
#dsidx-map-hover .dsidx-container .dsidx-photo
{
	width: 100px;
	height: 75px;
	overflow: hidden;
	margin: 5px 0 0 5px;
	border: 1px solid #FFFFFF;
	float: left;
	text-align: center;
}
#dsidx-map-hover .dsidx-container .dsidx-photo img
{
	height: 75px;
}
#dsidx-map-hover .dsidx-container .dsidx-text
{
	float: left;
	margin-left: 7px;
}
#dsidx-map-hover .dsidx-container .dsidx-text div
{
	padding: 2px 7px 3px 0;
}
#dsidx-map-hover .dsidx-container .dsidx-text .dsidx-header
{
	font-weight: bold;
	padding-bottom: 5px;
}
#dsidx-map-hover .dsidx-container .dsidx-icon-container
{
	position: absolute;
	width: 120px;
	height: 40px;
	bottom: 0;
	left: 0;
}
#dsidx-map-hover .dsidx-container .dsidx-icon-container
{
	width: 120px;
	height: 40px;
}

/************* end map *************/

/************* start listings *************/

ol#dsidx-listings
{
	clear: both;
	padding: 10px 0px;
	margin: 0;
}
#dsidx-listings .dsidx-listings-grid-clear
{
	display:none;
}
#dsidx-listings li.dsidx-listing-container 
{
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
}
#dsidx-listings .dsidx-listing
{
	margin: 0;
	overflow: hidden;
	position: relative;
}

#dsidx-listings .dsidx-listing 
{
	border-bottom: solid 1px #ededed;
	border-radius: 0px;
	background: #ffffff;
	/*box-shadow: 0 1px 1px 0 rgba(0,0,0,.25);*/
}

#dsidx-listings .dsidx-listing:hover
{
	cursor:pointer;
	
	/*border-bottom: solid 2px #efefef;*/
	background: #ffffff;
	
	/* background: #e7f3f7; /* Old browsers */
    
	/* background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%); /* FF3.6+ */
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	/* background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	/* background: -o-linear-gradient(top, #ffffff 0%,#dddddd 100%); /* Opera 11.10+ */
	/* background: -ms-linear-gradient(top, #ffffff 0%,#dddddd 100%); /* IE10+ */
	/* background: linear-gradient(top, #ffffff 0%,#ededed 100%); /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    
}

#dsidx-listings .dsidx-listing .dsidx-data 
{
	margin: 9px 8px 9px 282px;
    line-height:18px;
}

#dsidx-listings .dsidx-listing:hover .dsidx-data 
{
	/*margin: 8px 7px 8px 281px;*/ /** Adjust margin to accomodate for change in border-width on hover **/
}

#dsidx-listings .dsidx-listing .dsidx-media 
{
	float: left;
	/*width: 262px;*/
	padding: 6px;
	margin: 15px 8px;
	background: #ededed;
	text-align: center;
}

#dsidx-listings .dsidx-listing:hover .dsidx-media 
{
	/*margin: 8px 7px;*/
}

#dsidx-listings .dsidx-listing .dsidx-media .dsidx-photo
{
	/*width: 250px;*/
	margin: 0;
	border:solid 1px #ffffff;
	background: #eaeaea;
	text-align: center;
	font-size: 0px;
	line-height: 0px;
	position: relative;
}

#dsidx-listings .dsidx-listing .dsidx-media .dsidx-photo a 
{
	font-size: 0px;
}

#dsidx-listings .dsidx-listing .dsidx-media .dsidx-photo a img
{
	font-size: 0px;
	/*max-width: 248px;
	max-height: 225px;*/
	padding: 0;
	margin: 0;
    border-radius: 0;
    padding:0px !important;
}

#dsidx-listings .dsidx-listing .dsidx-media .dsidx-photo .dsidx-photo-count
{
	position: absolute;
	left: 1px;
	bottom: 1px;
	opacity: .7;
	background: #999999 url(https://api-idx.diversesolutions.com/images/dsidxpress/icons/photo-count.png) 3px 3px no-repeat;
	color: White;
	font-size: 12px;
	padding: 1px 3px 1px 27px;
	border-radius: 0 2px 0 0;
}

#dsidx-listings .dsidx-listing .dsidx-primary-data
{
	padding: 9px 0 13px 0;
	border-bottom: solid 1px #e5e5e5;
}

#dsidx-listings .dsidx-listing .dsidx-primary-data .dsidx-address
{
	float:left;
}

#dsidx-listings .dsidx-listing .dsidx-primary-data .dsidx-address a
{
	font-size: 16px;
	font-weight: bold;
	color: #333333;
}

#dsidx-listings .dsidx-listing .dsidx-primary-data .dsidx-address a span
{
	display: block;
	font-size: 13px;
	font-weight: normal;
	color: #999999;
}

#dsidx-listings .dsidx-listing .dsidx-primary-data .dsidx-price,
#dsidx-listings .dsidx-listing .dsidx-primary-data .dsidx-price-sold
{
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	padding: 7px 8px;
	background: #666666;
	margin-left: 5px;
	float:right;
    position:relative !important;
    top:0px !important;
    left:0px !important;
    clear:none !important;
}
#dsidx-listings .dsidx-listing .dsidx-primary-data .dsidx-price-sold {
    background: none repeat scroll 0 0 #666666;
    color: #FFCCCC;
}
.dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-data .dsidx-primary-data .dsidx-price-sold {
    border-bottom: 1px solid #333333;
    font-size: 14px;
    height: 16px;
    left: -4px;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    float: none;
}
#dsidx-listings .dsidx-listing .dsidx-secondary-data 
{
	padding: 13px 0 0 0;
	font-size: 14px;
	font-weight: normal;
	color: #999999;
}
#dsidx-listings .dsidx-secondary-data .dsidx-secondary-data-attribution
{
	color: #333;
}
#dsidx-listings .dsidx-listing .dsidx-media img.dsidx-idx-icon {
	position: absolute;
	top: 1px;
	right: 1px;
}
#dsidx-listings .dsidx-listing .dsidx-secondary-data img.dsidx-idx-icon {
	position: absolute;
	bottom: 3px;
	right: 3px;
}
#dsidx-listings .dsidx-listing:hover .dsidx-secondary-data img.dsidx-idx-icon {
	bottom: 2px;
	right: 2px;
}
#dsidx-listings .dsidx-listing .dsidx-secondary-data img.dsidx-idx-icon.dsidx-idx-icon-left
{
	position:static;
}
#dsidx-listings .dsidx-listing .dsidx-secondary-data div.dsidx-secondary-data-line
{
	margin-bottom: 5px;
}

#dsidx-listings .dsidx-listing .dsidx-secondary-data span
{
	font-size: 16px;
	font-weight: bold;
	color: #333333;
}

#dsidx-listings .dsidx-listing .dsidx-listing-tag
{
	float: right;
	padding: 3px 6px;
	margin: 0 0 4px 5px;
	font-size: 13px;
	font-weight: bold;
	line-height: 1em;
	color: #fff;
	background: #666;
	clear: right;
}
#dsidx-listings .dsidx-listing .dsidx-listing-tag.dsidx-tag-price-drop
{
	background: #690;
}

#dsidx-listings .dsidx-listing .dsidx-listing-tag.dsidx-tag-open-house
{
	background: #069;
}

#dsidx-listings .dsidx-listing .dsidx-listing-tag.dsidx-tag-reo,
#dsidx-listings .dsidx-listing .dsidx-listing-tag.dsidx-tag-pre-foreclosure
{
	background: #d81;
}
#dsidx-listings .dsidx-listing .dsidx-listing-tag.dsidx-tag-pre-foreclosure { text-align: right; }
#dsidx .dsidx-empty-result-notice 
{
	margin: 15px 0;
	font-weight: bold;
}
/************* end listings *************/

/************* media queries ********/
@media only screen and (max-width: 500px)  {
    #dsidx-listings .dsidx-listing {
        margin-bottom: 25px;
        border-bottom: 0;
    }
     #dsidx-listings .dsidx-listing, #dsidx-listings .dsidx-listing .dsidx-media, #dsidx-listings .dsidx-listing .dsidx-media .dsidx-photo, .dsidx-media, #dsidx-listings .dsidx-listing .dsidx-media .dsidx-photo a img {
        width: 100%;
        max-width:400px; 
        box-sizing: border-box;
    }
    #dsidx-listings .dsidx-listing .dsidx-data {
        clear: both;
        margin: 9px !important;
    }

    #dsidx-listings .dsidx-listing .dsidx-media {
        margin: 0px !important;
    }
    #dsidx-listings .dsidx-listing:hover{
        border-width: 1px;
    }

    #dsidx ul.dsidx-tabs, body.dsidx ul.dsidx-tabs {
        margin-left: 0px;
        padding-left: 0px;
        clear: both;
    }
    #dsidx ul.dsidx-tabs li.dsidx-tab, body.dsidx ul.dsidx-tabs li.dsidx-tab {
            margin-right:3px;
    }
    #dsidx .dsidx-sorting-control {
        float: none;
        margin: 10px 0px;
    }

    #dsidx .dsidx-sorting-control select {
        height: 36px;
    }

    ol#dsidx-listings {
        padding: 10px 0px;
    }
    .dsidx-results-grid #dsidx-listings li.dsidx-listing-container {
        float: none;
        width: 100%;
    }
    .dsidx-results-grid #dsidx-listings .dsidx-listing {
        margin: 0px;
    }
    #dsidx-listings .dsidx-listing .dsidx-primary-data {
        margin-bottom: 9px;
    }
    #dsidx-listings .dsidx-listing .dsidx-secondary-data {
        padding: 0;
    }
    .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-data {
        padding: 0px !important;
         margin: 0px 9px 9px 9px !important;  
    }
    .dsidx-results-grid #dsidx-listings .dsidx-listing,  .dsidx-results-grid #dsidx-listings .dsidx-listing:hover {
        margin-bottom: 15px;
        border-width: 0px;
        border: solid 1px #ededed;
    }
    #dsidx-listings .dsidx-listing .dsidx-media {
        padding: 5px !important;
    }
    .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-media .dsidx-photo {
        box-shadow: none;
        left: 0px;
        overflow: visible;
    }
    .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-media .dsidx-photo a img {
        max-height: none;
        width: 100%;
    }
    .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-primary-data .dsidx-address {
        float: left;
    }
    .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-secondary-data .dsidx-secondary-data-mls-number, .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-secondary-data .dsidx-secondary-data-lot-size, .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-listing-tag {
        display: block;
    }
    .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-primary-data .dsidx-address a {
        font-size: 16px;
    }
    .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-secondary-data .dsidx-secondary-data-line, .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-secondary-data-mls-number {
        padding: 0;
        font-size:14px; 
    }
    .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-secondary-data span {
        font-size: 16px;
    }
    .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-primary-data .dsidx-address a span {
        display: block;
    }
    .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-data .dsidx-primary-data .dsidx-price, .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-data .dsidx-primary-data .dsidx-price-sold {
        float: right;
        height: initial;
        font-size: 18px;
        font-weight: bold;
        padding: 7px 8px !important;
        border-bottom: initial;
        margin:initial;
    }
    .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-primary-data {
        padding: 9px 0 13px 0;
        border-bottom: solid 1px #e5e5e5;
    }
    .dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-media .dsidx-photo .dsidx-photo-count {
        padding: 11px 6px 5px 2px !important;
        left: -1px;
        bottom: -1px;
        line-height: 0px;
    }
}

div.dsidx-results-widget
{
	overflow: hidden;
}
div.dsidx-results-widget, div.dsidx-results-widget p
{
	line-height: 19px !important;
	margin: 0px !important;
	padding: 0px !important;
	font-size: 11px !important;
	font-family: Verdana !important;
	text-align: left !important;
}
div.dsidx-results-widget .dsidx-panel
{
	position: relative;
	overflow: hidden;
    display:none;
}
div.dsidx-results-widget .dsidx-panel .dsidx-photo 
{
	float: left;
	margin-right: 5px;
}
div.dsidx-results-widget .featured-listing
{
	overflow: hidden;	
	white-space: normal;
	margin: 15px 0;
}
div.dsidx-results-widget .featured-listing .dsidx-logo 
{
	bottom: 0;
	position: absolute;
	right: 90;
}
div.dsidx-results-widget .featured-listing .price
{
	font-weight: bold;
	display: block;
}
div.dsidx-results-widget .featured-listing .sold-price 
{
	color: #C42424;
}
div.dsidx-results-widget .dsidx-slideshow, div.dsidx-results-widget .dsidx-map
{
	display: none;
}
div.dsidx-results-widget .dsidx-list ul, div.dsidx-results-widget .dsidx-list li {
    margin: 0 !important;
    padding: 0 !important;
}
div.dsidx-results-widget .dsidx-list li
{
	position: relative;
	list-style-type: none !important;
	background-image: none !important;
	margin-left: 0 !important;
	padding: 0 !important;
    background: none !important;
}
div.dsidx-results-widget.dsidx-taller .dsidx-map
{
	height: 320px;
}
div.dsidx-results-widget .dsidx-map .dsidx-results-widget-map-details
{
	margin: 0;
	padding: 0;
    height:200px;
}

div.dsidx-results-widget .dsidx-map .dsidx-results-widget-map-details .featured-listing {
    padding-top:10px;
}

div.dsidx-results-widget .dsidx-map .dsidx-container
{
	height: 250px;
	border: 1px solid #999999;
}
div.dsidx-results-widget .dsidx-slideshow, div.dsidx-results-widget .dsidx-slideshow ul, div.dsidx-results-widget .dsidx-slideshow li
{
	height: 170px;
	overflow: hidden;
}
div.dsidx-results-widget .dsidx-slideshow
{
	padding: 25px 0;
}
div.dsidx-results-widget .dsidx-slideshow p span
{
	display: inline-block;
}
div.dsidx-results-widget .dsidx-slideshow-control
{
	background-color: #e3e3e3;
	color: #000000;
	height: 20px;
	position: absolute;
	width: 100%;
	text-align: center;
	font-weight: bold;
	display: block;
	border: 1px solid #ededed;
	outline: none;
}
div.dsidx-results-widget .dsidx-slideshow-control:hover
{
	background-color: #eeeeee;
}
div.dsidx-results-widget .dsidx-slideshow-control.dsidx-move-up
{
	top: 0;
	color: #999999;
}
div.dsidx-results-widget .dsidx-slideshow-control.dsidx-move-down
{
	bottom: 0;
}
div.dsidx-results-widget .dsidx-slideshow ul, div.dsidx-results-widget .dsidx-slideshow ul li
{
	list-style-type: none !important;
	margin: 0 !important;
	padding: 0 !important;
	position: relative;
}
div.dsidx-results-widget .dsidx-slideshow ul li {
    padding:10px 0px !important;
    background: none;
    background-image: none;
}
div.dsidx-results-widget .dsidx-slideshow ul li .dsidx-idx-icon
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 120px;
	height: 40px;
}
div.dsidx-results-widget .dsidx-slideshow adsidx-details
{
	display: inline;
	padding: 0;
}
div.dsidx-results-widget .dsidx-slideshow a.dsidx-photo
{
	border-style: none;
}
div.dsidx-results-widget .dsidx-slideshow a.dsidx-photo:hover
{
	background-color: inherit;
}
div.dsidx-results-widget .dsidx-slideshow .dsidx-photo img
{
	border: 1px solid #999999;
	height: 75px;
	padding: 0 !important;
}
div.dsidx-results-widget .dsidx-expanded ul 
{
	margin: 5px 0;
}
div.dsidx-results-widget .dsidx-expanded li
{
	list-style: none;
	display: inline-block;
}
div.dsidx-results-widget .dsidx-controls
{
	text-align: right;
}
div.dsidx-results-widget .dsidx-controls a
{
	outline: none;
}
div.dsidx-results-widget .dsidx-listing-idx-icon 
{
	height: 20px;
	position: absolute;
	right: 0;
    bottom:50%;
    margin-bottom:-8px;
}

ul.dsidx-list.dsidx-panel li {
	/*border-top: 1px dotted #ededed;
	line-height:20px;
	padding:0 !important;
    font-size:11px;*/
}
ul.dsidx-list.dsidx-panel li:first-child{
	border-top:0;
}
ul.dsidx-list.dsidx-panel li a{
	padding: 5px 0px;
	text-decoration: none;
	display:block;
	opacity: 0.8;
}

ul.dsidx-list.dsidx-panel li.dsisx-has-mls-icon a {
    padding-right: 60px !important;
}
div.dsidx-results-widget .featured-listing{
	/*border-top: 1px dotted #ddd;*/
	padding-top:20px;
	margin:0px 0px 10px 0px !important;
    position:relative;
}
div.dsidx-results-widget .featured-listing .dsidx-logo, .dsidx-results-widget-map-details .featured-listing .dsidx-logo {
    position: absolute;
    right: 0px;
    bottom: 2px;
    height: 20px;
}
div.dsidx-results-widget .dsidx-slideshow .featured-listing .dsidx-logo {
    bottom: 22px;
}
div.dsidx-results-widget .featured-listing:first-child{
	border-top: none;
}
div.dsidx-results-widget ul, div.dsidx-results-widget ul li, div.dsidx-results-widget h4, div.dsidx-results-widget p {
	margin: 0px !important;
	display: block;
    clear: none;
    line-height: 16px !important;
    position:relative;
    margin: 0;
    margin-left: 110px !important;
	padding: 0;
    font-size:11px !important;
    background:none;
    background-image:none;
}
div.dsidx-results-widget ul.dsidx-list, div.dsidx-results-widget ul.dsidx-list li {
    margin-left:0px !important;
}
div.dsidx-results-widget h4 a {
    font-size:14px !important;
    text-transform:uppercase;
}
div.dsidx-results-widget .featured-listing ul li {
    margin-left:0 !important;
}
div.dsidx-results-widget .dsidx-map .dsidx-details {
    height:100px;
}
div.dsidx-results-widget .dsidx-panel .dsidx-photo {
	width:100px;
    position:absolute;
	left:0px;
    top:25px;
    padding:0px;
}
div.dsidx-results-widget .dsidx-results-widget-map-details .dsidx-photo {
    top: 10px;
}
div.dsidx-results-widget .dsidx-panel .dsidx-photo img {
    border: solid #ededed 1px;
    max-width: 100px !important;
}
div.dsidx-slideshow .featured-listing {
    border-top:0 !important;
}
div.dsidx-slideshow .featured-listing .dsidx-photo{
    position:relative;
    top:3px;
    clear:both;
}
div.dsidx-results-widget h4 {
    font-weight:bold !important;
    /*border-bottom: dotted 1px #ededed;*/
    margin-bottom: 3px !important;
    padding-bottom: 3px !important;
    background:none !important;
    width: auto !important;
    height: auto !important;
}
div.dsidx-results-widget a {
    text-decoration:none !important;
}
ul.dsidx-list.dsidx-panel li a:hover{
	opacity: 1;
}
div.dsidx-results-widget .dsidx-controls{
	padding: 10px 0px;
	text-align:center !important;
    margin-top:8px;
	/*border-top: 1px dotted #ededed;*/
}
img.jb-thm-thumb-image {
    max-width: none !important;
}

.dsidx-details #dsidx-header
{
	position:relative;
    clear: both;
}
.dsidx-details #dsidx-header table {
    width: 100%;
}
.dsidx-details #dsidx-header table td
{
	padding: 4px;
    display:block;
	width:100%;
	box-sizing: border-box;
}
.dsidx-details #dsidx-primary-data
{
	width: 100%;
	margin: 0;
}
#dsidx-primary-data td, #dsidx-secondary-data td,  #dsidx-secondary-data th, .dsidx-supplemental-data td, .dsidx-details #dsidx-primary-data th, .dsidx-supplemental-data th
{
    border: 0;
    border-top: 0 !important;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}
.dsidx-details #dsidx-primary-data th
{
	white-space: nowrap;
	padding-right: 10px;
}
.dsidx-details #dsidx-primary-data #dsidx-price
{
	font-weight: bold;
	font-size: larger;
}
.dsidx-details #dsidx-media
{
	height: 500px !important;
    max-width:600px;
	margin: 0 auto;
	text-align:center;
	opacity: 0.99; /* partially fixes juicebox controls from showing on top of visitor profile window. */
}
.dsidx-details #dsidx-media-td
{
	/*width: 255px;*/
	vertical-align: middle;
}
#dsidx-photos img
{
	max-width: 600px;
    max-height: 400px;
	border: 1px solid #999999;
}
#dsidx-tiny-photos
{
	text-align: center;
}
#dsidx-tiny-photos img
{
	border: 1px solid #999999;
	margin-top: 5px;
	max-width: 40px;
	max-height: 40px;
	vertical-align: middle;
}
.dsidx-details #dsidx-description
{
	background-image:none;
	clear:both;
	margin:5px 0 15px;
	position:relative;
}
.dsidx-details #dsidx-quit-yelling
{
	position: absolute;
	bottom: -20px;
	right: 0;
	display: block;
	font-size: smaller;
}
.dsidx-details #dsidx-tiny-photos
{
	margin-bottom: 25px;
}
.dsidx-details #dsidx-property-types
{
	margin-bottom: 5px;
}
.dsidx-details #dsidx-secondary-data
{
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
}
.dsidx-details #dsidx-secondary-data th,
.dsidx-details #dsidx-secondary-data td
{
	width: 25%;
}
.dsidx-details #dsidx-schools th,
.dsidx-details #dsidx-price-history th
{
	width: 200px;
}
.dsidx-details #dsidx-features th
{
	white-space: nowrap;
}
.dsidx-details #dsidx-map
{
	height: 300px;
	border: 1px solid #f3f3f3;
}
.dsidx-details .dsidx-idx-icon
{
	display: block;
	height: 40px;
	left: -60px;
	margin: 0 auto;
	position: relative;
	vertical-align: bottom;
	width: 120px;
}
.gm-style img {
	max-width: none !important;
}
.dsidx-details #dsidx-listing-source,
.dsidx-details #dsidx-disclaimer
{
	margin-top: 20px;
	text-align: left;
}
#dsidx-listing-source.large-text {
    font-size: 1.2em;
    font-weight: bold;
}
#dsidx.dsidx-details .dsidx-contact-form table
{
	margin: 10px 0;
}

#dsidx.dsidx-details .dsidx-contact-form
{
	margin-bottom: 20px;
}

.dsidx-details .dsidx-contact-form table td
{
	text-align: left;
}

.dsidx-details .dsidx-contact-form table td.column-one
{
	width: 50%;
}

.dsidx-details .dsidx-contact-form table td.column-two
{
	width: 50%;
}

#dsidx.dsidx-details .dsidx-contact-form table textarea
{
	box-sizing: border-box;
	width: 100%;
	height: 120px;
	padding: 2px;
}

#dsidx.dsidx-details .dsidx-contact-form table input.dsidx-text
{
	box-sizing: border-box;
	width: 100%;
	padding: 2px;
}

.dsidx-details .dsidx-contact-form .dsidx-contact-form-schedule-yesno
{
	width: auto;
}

.dsidx-details .dsidx-contact-form .dsidx-contact-form-schedule-date-day
{
	width: 45px;
}

.dsidx-details .dsidx-contact-form-schedule-date-month
{
	width: 85px;
}

#dsidx-contact-form select
{
	font-family: Arial;
	font-size: 11px;
	margin: 0;
}

#dsidx-contact-form-human-question
{
	padding: 3px;
	background-color: #FFF196;
	border: solid 1px #FFAF38;
	margin: 0 4px 0 0;
}

#dsidx input#dsidx-contact-form-human
{
	width: 25px;
	padding:2px;
}
#dsidx-actions .dsidx-actions-button
{
	margin-right: 8px;
}
#dsidx-actions .dsidx-actions-button img 
{
	margin:0 3px 0 0;
	vertical-align:-3px;
	width: 16px;
}

#dsidx-actions
{
	margin: 4px 0;
}

#dsidx-actions a, #dsidx-actions a:link
{
	text-decoration: none;
}

#dsidx-actions a:hover
{
	text-decoration: underline;
}
.dsidx-feed-rep {
    margin-bottom: 5px !important;
}

/* Schools */
body.dsidx .details-tab-schoolinfo-districts-disclaimer
{
	font-size: 12px;
	text-align:center;
	font-style: italic;
	color: #444444;
	margin: 8px 0 0 0;
}
#details-tab-schoolinfo h3
{
	margin: 10px 0;
}
.dsidx-schoolinfo-container 
{
	padding: 10px 0 0 0;
}
#details-tab-schoolinfo-districts-container {
	background-color: #FFFFFF;
}
#details-tab-schoolinfo-districts {
	border: 1px solid #ededed;
}
#details-tab-schoolinfo-schools-container {
	background-color: #FFFFFF;
}
#details-tab-schoolinfo-schools {
	border: 1px solid #ededed;
}
.dsidx-schools-block {
	border: 1px solid #ededed;
	width: 100%;
	background-color: #FFFFFF;
}
.dsidx-schoolinfo-container .school-container,
.dsidx-schoolinfo-container .district-container
{
	font-size: 11px;
	display:block;
	position:relative;
	width: 50%;
	float: left;
}
.dsidx-schoolinfo-container .school,
.dsidx-schoolinfo-container .district
{
	padding: 15px 0 15px 20px;
}
.dsidx-schoolinfo-container .school .school-name,
.dsidx-schoolinfo-container .district .district-name
{
	font-size: 14px;
	font-weight: bold;
}
.dsidx-schoolinfo-container .school .school-indent,
.dsidx-schoolinfo-container .district .district-indent
{
	line-height: 22px;
}
.dsidx-district-secondary-display,
.dsidx-school-secondary-display {
	background-color: #f2f2f2;
}
.dsidx-schoolinfo-container .school .school-rating
{
	float:left;
	width: 22px;
	height: 22px;
	margin: 0 5px 0 0 !important;
	
	background-color: transparent;
	background-image: url(/images/dsIDXpress/great-schools-rating.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

.dsidx-schoolinfo-container .school .great-schools-rating-na { background-position: 0px 0px; }
.dsidx-schoolinfo-container .school .great-schools-rating-1 { background-position: 0px -30px; }
.dsidx-schoolinfo-container .school .great-schools-rating-2 { background-position: 0px -60px; }
.dsidx-schoolinfo-container .school .great-schools-rating-3 { background-position: 0px -90px; }
.dsidx-schoolinfo-container .school .great-schools-rating-4 { background-position: 0px -120px; }
.dsidx-schoolinfo-container .school .great-schools-rating-5 { background-position: 0px -150px; }
.dsidx-schoolinfo-container .school .great-schools-rating-6 { background-position: 0px -180px; }
.dsidx-schoolinfo-container .school .great-schools-rating-7 { background-position: 0px -210px; }
.dsidx-schoolinfo-container .school .great-schools-rating-8 { background-position: 0px -240px; }
.dsidx-schoolinfo-container .school .great-schools-rating-9 { background-position: 0px -270px; }
.dsidx-schoolinfo-container .school .great-schools-rating-10 { background-position: 0px -300px; }
.dsidx-schoolinfo-container .school .great-schools-rating-preschool { background-position: 0px -330px; }
.dsidx-schoolinfo-container .school .great-schools-rating-private { background-position: 0px -360px; }

.dsidx-schoolinfo-container .school .great-schools-community-rating
{
	width: 69px;
	height: 13px;
	display: inline-block;
	
	background-color: transparent;
	background-image: url(/images/dsIDXpress/great-schools-community.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

.dsidx-schoolinfo-container .school .great-schools-community-rating-0 { background-position: 0px 0px; }
.dsidx-schoolinfo-container .school .great-schools-community-rating-1 { background-position: 0px -20px; }
.dsidx-schoolinfo-container .school .great-schools-community-rating-2 { background-position: 0px -40px; }
.dsidx-schoolinfo-container .school .great-schools-community-rating-3 { background-position: 0px -60px; }
.dsidx-schoolinfo-container .school .great-schools-community-rating-4 { background-position: 0px -80px; }
.dsidx-schoolinfo-container .school .great-schools-community-rating-5 { background-position: 0px -100px; }
/* End Schools */

/* Cross Screen Alerts */
.dsidx-alert-color {
	border-radius: 5px;
	-moz-border-radius: 5px;
	float: left;
	display: inline;
	width: 100%;
	height: 30px;
}
.dsidx-alert-message {
	color: #333333;
	float: left;
	padding: 5px 0 5px 5px !important;
	line-height: 20px;
}
.dsidx-alert-message span {
	color: #405979;
}
.dsidx-alert-label {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	color: #FFFFFF !important;
	float: left;
	padding: 5px 10px !important;
	height: 20px;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}
.dsidx-alert-text {
	font-family: "Arial";
	font-weight: bold !important;
	font-size: 13pt;
	line-height: 20px;
	padding-left: 5px;
	color: #FFFFFF;
}
.dsidx-alert-triangle {
	width: 0px;
	height: 0px;
	border-top: 15px solid transparent;
	border-bottom: 16px solid transparent;
	position: relative;
	float: left;
}
#dsidx-open-house {
	border: 1px solid #FFCC33;
	background-color: #FFFFCC;
}
#dsidx-open-house-label {
	background-color: #FFCC33;
}
#dsidx-open-house-triangle {
	border-left: 10px solid #FFCC33;
}
#dsidx-shortsale {
	border: 1px solid #FF9933;
	background-color: #FFFFCC;
}
#dsidx-shortsale-notice {
	background-color: #FF9933;
}
#dsidx-foreclosure-triangle {
	border-left: 10px solid #FF9933;
}
/* End Cross Screen Alerts */
.dsidx-table-right-border {
	border-right: 1px solid #ededed;
}
/* Call to Action */
#dsidx .dsidx-call-to-action {
	padding: 10px;
	text-align: center;
	background: transparent url(/images/dsidxpress/listing-grid-bg.png) left top repeat;
}
/* End Call to Action */
.dsidx-details .dsidx-table-header {
	border: 1px solid #ededed;
	background: transparent url(/images/dsidxpress/listing-grid-bg.png) left top repeat;
}
.dsidx-details .dsidx-headerbar {
	border-top: 1px solid #ededed;
	border-right: 1px solid #ededed;
	border-left: 1px solid #ededed;
	background: transparent url(/images/dsidxpress/listing-grid-bg.png) left top repeat;
	line-height: 27px;
}
.dsidx-details .dsidx-headerbar-green {
	border-top: 1px solid #0d6e0d;
	border-right: 1px solid #0d6e0d;
	border-left: 1px solid #0d6e0d;
	background: transparent url(/images/dsidxpress/listing-grid-bg-green.png) left top repeat;
	line-height: 27px;
}
.dsidx-header-title {
	color: #666666 !important;
	font-family: "Arial";
	font-size: 13px;
	font-weight: bold;
	padding-left: 5px;
}
table .dsidx-header-title 
{
	padding-left: 0px;
}
.dsidx-details #dsidx-price-history {
	border-collapse: collapse;
	border: 1px solid #ededed;
}
.dsidx-details #dsidx-price-history td {
	color: #333333;
}
.dsidx-supplemental-data {
	background-color: #FFFFFF;
}
/* SimilarProperties styles */
.one-col {
	float: left;
	width: 48%;
	margin: 0 2px 0 0;
	
}
.one-col.right-col 
{
	float: right;
	margin: 0;
}
.two-cols {
	width:100%;
}
.dsidx-one-col-results .dsidx-result {
	background-color: #FFFFFF;
	max-height: 81px;
	overflow: hidden;
	white-space: nowrap;
}
.dsidx-two-col-results .dsidx-result {
	float: left;
	background-color: #FFFFFF;
	width: 49%;
	max-height: 81px;
	overflow: hidden;
	white-space: nowrap;
	border: 1px solid #ccc;
}
#dsidx-similar-listings {
	padding-right: 10px;
}
body.dsidx #dsidx-similar-listings .dsidx-small-listing-alt,
body.dsidx #dsidx-sold-listings .dsidx-small-listing-alt {
	background-color: transparent;
}
body.dsidx #dsidx-similar-listings .dsidx-secondary-row,
body.dsidx #dsidx-sold-listings .dsidx-secondary-row {
	background: #F2F2F2;
}
body.dsidx #dsidx-similar-listings .dsidx-small-listing .dsidx-address,
body.dsidx #dsidx-sold-listings .dsidx-small-listing .dsidx-address {
	border: 0;
}
.dsidx-one-col-results {
	border: 1px solid #ccc;
}
.dsidx-two-col-results {
	float: left;
	width: 100%;
}
.dsidx-two-col-header {
	width: 98%;
}
.dsidx-result-line-small {
	line-height: 12px;
}
#dsidx-virtual-tour-container {
	text-align: center;
	margin: 5px 10px 10px;
}
/* End SimilarProperties styles */

@media only screen and (max-width : 960px) {
    .dsidx-details #dsidx-media {
        height: 450px !important;
    }
}

@media only screen and (max-width : 800px) {
    .dsidx-details #dsidx-media {
        height: 400px !important;
    }
}

@media only screen and (max-width : 679px) {
    .dsidx-details #dsidx-media {
        height: 375px !important;
    }
}

@media only screen and (max-width : 400px) {
    .dsidx-details #dsidx-media {
        height: 300px !important;
    }
}
/* The below CSS removes the error message when a widget can't be loaded. * 
 * This should improve the look of the site when the widget is configured */
.dsidx-widget-affordability > p.dsidx-error,
.dsidx-widget-areastats > p.dsidx-error,
.dsidx-widget-openhouse > p.dsidx-error {
	visibility: hidden;
	display: none;
}

.dsidx-widget-single-listing {
	width: 260px;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	background: #2c2c2c;
	border: 1px solid #ccc;
	margin: 0 auto;
}
.dsidx-widget-single-listing h3.widget-title {
	padding: 9px;
	margin: 0 !important;
	text-transform: none !important;
	color: #fff !important;
}
.dsidx-widget-single-listing h3.widget-title a {
	color: #fff;
}
.dsidx-widget-single-listing .dsidx-widget-single-listing-photos {
	position: relative;
	overflow: hidden;
}
.dsidx-widget-single-listing .dsidx-widget-single-listing-slideshow {
	height: 190px;
	white-space: nowrap;
	background: #444;
	margin-left: 0;
	font-size: 0 !important;
	-moz-transition: margin-left 0.3s;
	-webkit-transition: margin-left 0.3s;
	-o-transition: margin-left 0.3s;
	-ms-transition: margin-left 0.3s;
	transition: margin-left 0.3s;
}
.dsidx-widget-single-listing .dsidx-widget-single-listing-slideshow .dsidx-widget-single-listing-photo {
	display: inline-block;
	width: 260px;
	height: 190px;
	line-height: 190px;
	text-align: center;
}
.dsidx-widget-single-listing .dsidx-widget-single-listing-slideshow .dsidx-widget-single-listing-photo img {
	margin: 0;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}
.dsidx-widget-single-listing .dsidx-widget-single-listing-slideshow .dsidx-widget-single-listing-photo span.img-placeholder {
	padding: 1px;
	zoom: 1;
}
.dsidx-widget-single-listing .dsidx-widget-single-listing-photos .dsidx-widget-single-listing-slideshow-control {
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 23px;
	margin-top: -12px;
	background: #000 url(https://api-idx.diversesolutions.com/images/dsidxpress/slideshow-leftright.png) no-repeat left top;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.dsidx-widget-single-listing .dsidx-widget-single-listing-photos .dsidx-widget-single-listing-slideshow-next {
	left: auto;
	right: 0;
	background-position: -25px top;
}
.dsidx-widget-single-listing .dsidx-widget-single-listing-meta {
	position: relative;
	font-size: 16px;
	font-weight: bold;
	background: -moz-linear-gradient(top, rgba(106,106,106,0.02) 0%, rgba(255,255,255,0.02) 49%, rgba(0,0,0,0.02) 51%);
	
	background: -webkit-linear-gradient(top, rgba(106,106,106,0.02) 0%, rgba(255,255,255,0.02) 49%, rgba(0,0,0,0.02) 51%);
	background: -o-linear-gradient(top, rgba(106,106,106,0.02) 0%, rgba(255,255,255,0.02) 49%, rgba(0,0,0,0.02) 51%);
	background: -ms-linear-gradient(top, rgba(106,106,106,0.02) 0%, rgba(255,255,255,0.02) 49%, rgba(0,0,0,0.02) 51%);
	
}
.dsidx-widget-single-listing .dsidx-widget-single-listing-meta div {
	padding: 5px 8px;
	min-height: 1px;
}
.dsidx-widget-single-listing .dsidx-widget-single-listing-meta span.dsidx-widget-single-listing-detail {
	float: left;
	margin-right: 12px;
}
.dsidx-widget-single-listing .dsidx-widget-single-listing-meta span.dsidx-widget-single-listing-detail-description {
	color: #858585;
	font-size: 12px;
	font-weight: normal;
	vertical-align: 10%;
}
.dsidx-widget-single-listing .dsidx-widget-single-listing-meta .dsidx-widget-single-listing-price {
	color: #8baf41;
}
.dsidx-widget-single-listing .dsidx-widget-single-listing-meta .dsidx-widget-single-listing-photo-count {
	position: absolute;
	top: 50%;
	right: 0;
	padding: 3px 5px 3px 27px;
	margin-top: -9px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1;
	color: #bebebe;
	background: #5c5c5c url(https://api-idx.diversesolutions.com/images/dsidxpress/icons/photo-count.png) no-repeat 4px 3px;
	border-radius: 3px 0 0 3px;
}
.dsidx-widget-single-listing .dsidx-widget-single-listing-meta div:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* reset */
.dsidx-widget-affordability table,
.dsidx-widget-areastats table,
.dsidx-widget-mapsearch table,
.dsidx-widget-openhouse table,
.dsidx-widget-recentstatus table,
.dsidx-widget-slideshow table{
	border: none;
	border-collapse: initial;
	border-spacing: initial;
	margin: 0!important;
}
.dsidx-widget-affordability td,
.dsidx-widget-areastats td,
.dsidx-widget-mapsearch td,
.dsidx-widget-openhouse td,
.dsidx-widget-recentstatus td,
.dsidx-widget-slideshow td{
	border: none;
	padding: 0;
}

/* affordability */
.dsidx-widget-affordability table,
.dsidx-widget-affordability thead,
.dsidx-widget-affordability tbody,
.dsidx-widget-affordability tfoot,
.dsidx-widget-affordability tr,
.dsidx-widget-affordability th,
.dsidx-widget-affordability td{
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}
.dsidx-widget-affordability th,
.dsidx-widget-affordability td{
    display: inline;
}

/* area stats */
.dsidx-widget-areastats .historicalchart_div{
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}

/* open house */
.dsidx-widget-openhouse .openhouse_div_internal{
    max-width: 100%;
}
.dsidx-widget-openhouse .slideshow_master_table{
    background-size: cover!important;
}
.dsidx-widget-openhouse .slideshow_address_cell{
    width: auto;
}
.dsidx-widget-openhouse .slideshow_data_table{
    width: 100%;
}
.dsidx-widget-openhouse .slideshow_data_table td.widget_slideshow_label{
    padding-left: 2px;
}
.dsidx-widget-openhouse .slideshow_data_table td:nth-of-type(1),
.dsidx-widget-openhouse .slideshow_data_table td:nth-of-type(2),
.dsidx-widget-openhouse .slideshow_data_table td:nth-of-type(3),
.dsidx-widget-openhouse .slideshow_data_table td:nth-of-type(4){
    width: 8%;
}
.dsidx-widget-openhouse .slideshow_data_table td:nth-of-type(5){
    width: 20%;
}
.dsidx-widget-openhouse .slideshow_data_table td:nth-of-type(6){
    width: 14%;
}
.dsidx-widget-openhouse .slideshow_data_table td:nth-of-type(7){
    text-align: right;
    width: 34%;
}

/* recent */
.dsidx-widget-recentstatus .recentstatus_table_item_bg > tbody > tr > td:nth-of-type(1),
.dsidx-widget-recentstatus .recentstatus_table_item_bg_alt > tbody > tr > td:nth-of-type(1){
    width: 0;
}
.dsidx-widget-recentstatus .recentstatus_table_item_bg > tbody > tr:nth-of-type(1) > td:nth-of-type(2),
.dsidx-widget-recentstatus .recentstatus_table_item_bg_alt > tbody > tr:nth-of-type(1) > td:nth-of-type(2){
    width: 5%;
}
.dsidx-widget-recentstatus .recentstatus_table_item_bg > tbody > tr:nth-of-type(1) > td:nth-of-type(3),
.dsidx-widget-recentstatus .recentstatus_table_item_bg_alt > tbody > tr:nth-of-type(1) > td:nth-of-type(3){
    width: 10%;
}
.dsidx-widget-recentstatus .recentstatus_table_item_bg > tbody > tr:nth-of-type(1) > td:nth-of-type(4),
.dsidx-widget-recentstatus .recentstatus_table_item_bg_alt > tbody > tr:nth-of-type(1) > td:nth-of-type(4){
    width: 5%;
}
.dsidx-widget-recentstatus .recentstatus_table_item_bg > tbody > tr > td:nth-of-type(5),
.dsidx-widget-recentstatus .recentstatus_table_item_bg_alt > tbody > tr > td:nth-of-type(5){
    width: 10%;
}
.dsidx-widget-recentstatus .recentstatus_table_item_bg > tbody > tr > td:nth-of-type(6),
.dsidx-widget-recentstatus .recentstatus_table_item_bg_alt > tbody > tr > td:nth-of-type(6){
    width: 20%;
}
.dsidx-widget-recentstatus .recentstatus_table_item_bg > tbody > tr > td:nth-of-type(7),
.dsidx-widget-recentstatus .recentstatus_table_item_bg_alt > tbody > tr > td:nth-of-type(7){
    width: 20%;
}
.dsidx-widget-recentstatus .recentstatus_table_item_bg > tbody > tr > td:nth-of-type(8),
.dsidx-widget-recentstatus .recentstatus_table_item_bg_alt > tbody > tr > td:nth-of-type(8){
    width: 0;
}
.dsidx-widget-recentstatus .recentstatus_table_item_bg > tbody > tr > td:nth-of-type(9),
.dsidx-widget-recentstatus .recentstatus_table_item_bg_alt > tbody > tr > td:nth-of-type(9){
    width: 30%;
}

/* slideshow */
.dsixd-widget-slideshow .gallery_main_table{
    table-layout: fixed;
    width: 100%;
}
.dsidx-widget-slideshow .gallery_master_table{
    background-size: cover!important;
    background-position: center center;
    width: 100%;
}
.dsidx-widget-slideshow .gallery_image_toggle_cell_table{
    width: 100%;
}
.dsidx-widget-slideshow .gallery_image_arrow_cell{
    padding: 0 5px;
}
.dsidx-widget-slideshow .gallery_address_span{
    overflow: hidden;
    white-space: nowrap;
}
.dsidx-widget-slideshow .gallery_listing_data_row td.gallery_slideshow_value{
    text-align: right;
    width: 18%;
}
.dsidx-widget-slideshow .gallery_listing_data_row td.gallery_slideshow_label{
    padding-left: 2px;
    width: 9%;
}
.dsidx-widget-slideshow .gallery_listing_data_row td.gallery_slideshow_label:last-child{
    width: 18%;
}
.dsidx-widget-slideshow .gallery_listing_data_row_alt table td.gallery_slideshow_price{
    text-align: center;
}
.dsidx-widget-slideshow *[align="right"]{
    text-align: right;
}
.widget.dsidx-widget-mapsearch td {
    padding: 0;
}

.widget.dsidx-widget-mapsearch table {
    width: auto;
}

.dsidx-resp-search-box:after {
    display: block;
    content: "";
    clear: both;
}
.dsidx-resp-search-form fieldset {
    border: 0;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.dsidx-resp-area {
    float: left !important;
    padding: 0px 5px;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    clear: none;
}
.dsidx-resp-search-form .dsidx-resp-area:first-child {
    padding-left: 0px;
}

.dsidx-resp-search-form .dsidx-resp-area:last-child {
    padding-right: 0px;
}

.dsidx-resp-location-area {
    width: 30%;
}
.dsidx-resp-type-area {
    width: 25%;
}
.dsidx-resp-area-half.dsidx-quick-resp-price-area {
    width: 14% !important;
}
.dsidx-resp-area-submit {
    text-align: center;
    padding-right: 0;
    width: 17%;
}
.dsidx-resp-area-submit input[type="submit"] {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    margin: 0;
}
.dsidx-resp-area-half.dsidx-quick-resp-min-beds-area, .dsidx-resp-area-half.dsidx-quick-resp-min-baths-area {
    display: none;
}
.dsidx-resp-area input[type="text"], .dsidx-resp-area select {
    width: 100% !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
    word-wrap: normal;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
.dsidx-resp-area label {
    display: block !important;
    text-align: left;
}

/**
Vertical format (same as media query below).
We will add the "dsidx-resp-area" class if user
selects vertical format in the widget config.
We will auto apply these styles if the sidebar
containging the widget uses "sidebar" class.
**/

.sidebar .dsidx-resp-area-half.dsidx-quick-resp-min-beds-area,
.sidebar .dsidx-resp-area-half.dsidx-quick-resp-min-baths-area,
.dsidx-resp-vertical .dsidx-resp-area-half.dsidx-quick-resp-min-beds-area,
.dsidx-resp-vertical .dsidx-resp-area-half.dsidx-quick-resp-min-baths-area {
    display: block;
}

.sidebar .dsidx-resp-area, .dsidx-resp-vertical .dsidx-resp-area{
    float: none !important;
    width: auto !important;
    padding: 0px;
}
.sidebar .dsidx-resp-area.dsidx-resp-area-half, .dsidx-resp-vertical .dsidx-resp-area.dsidx-resp-area-half {
    float: left !important;
    width: 50% !important;
}
.sidebar .dsidx-resp-area.dsidx-resp-area-half.dsidx-resp-area-right, .dsidx-resp-vertical .dsidx-resp-area.dsidx-resp-area-half.dsidx-resp-area-right {
    padding-left: 5px !important;
}
.sidebar .dsidx-resp-area.dsidx-resp-area-half.dsidx-resp-area-left, .dsidx-resp-vertical .dsidx-resp-area.dsidx-resp-area-half.dsidx-resp-area-left {
    padding-right: 5px !important;
}
.sidebar .dsidx-resp-area-submit label, .dsidx-resp-vertical .dsidx-resp-area-submit label {
    display: none !important;
}

.sidebar .dsidx-resp-area-submit input[type="submit"], .dsidx-resp-vertical .dsidx-resp-area-submit input[type="submit"] {
    width: initial;
}

/* Use media query to force vertical format */
@media (max-width: 679px){
   .dsidx-resp-area {
        float: none !important;
        width: auto !important;
        padding: 0px;
    }
   .dsidx-resp-area-half.dsidx-quick-resp-min-beds-area, .dsidx-resp-area-half.dsidx-quick-resp-min-baths-area {
        display: block;
    }
    .dsidx-resp-area.dsidx-resp-area-half {
       float: left !important;
        width: 50% !important;
    }
    .dsidx-resp-area.dsidx-resp-area-half.dsidx-resp-area-right {
        padding-left: 5px !important;
    }
    .dsidx-resp-area.dsidx-resp-area-half.dsidx-resp-area-left {
        padding-right: 5px !important;
    }
    .dsidx-resp-area-submit label {
        display: none !important;
    }
    .dsidx-resp-area-submit input[type="submit"] {
        width: initial;
    }
}

/** Some special style considerations for commonly used themes **/

/** AgentPress Two **/
.top-search .dsidx-resp-area input, .top-search .dsidx-resp-area select {
    height: 32px;
    padding: 0px 10px;
    border: none;
    border-radius: 0px;
}
.top-search .dsidx-resp-area input[type="text"], .top-search .dsidx-resp-area select {
     background: #fff;
}

/** Genesis framework base **/
.header-widget-area  .dsidx-resp-area input, .header-widget-area .dsidx-resp-area select {
    display: inline-block;
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}
.dsidx-share-dialog
{
	z-index: 1100;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);  
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);  
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
}

.dsidx-share-dialog .ui-dialog-titlebar
{
	background:Transparent none;
	border: 0;
}

#dsidx-share
{
	display:none;
	font-size: 12px;
}
#dsidx-share a img
{
	border: 0;
	vertical-align:middle;
}
#dsidx-share-choose 
{
	margin-top: 8px;
}

#dsidx-share a, #dsidx-share a:link, #dsidx-share a:visited, #dsidx-share a:active
{
	text-decoration: none;
}

#dsidx-share a:hover
{
	text-decoration: underline;
}

#dsidx-share table
{
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: Black;
	margin-top: 6px;
}

#dsidx-share td
{
	text-align:left;
	width: 50%;
	padding: 4px;
	white-space:nowrap;
}

#dsidx-share .dsidx-share-title
{
	font-weight:bold;
	text-shadow: -1px 0px 0px #aaa;
}

#dsidx .dsidx-share-dialog.ui-dialog .ui-dialog-titlebar
{
	background: none;
	padding: 5px;
	border: none;
}

.dsidx-share-dialog.ui-dialog .ui-dialog-content
{
	padding:0 1em 0.5em 1em;
}

#dsidx-share-email
{
	display:none;
}

#dsidx-share-email .dsidx-text, #dsidx-share-email textarea
{
	width: 222px;
	padding: 2px;
}

#dsidx-share-email table
{
}

#dsidx-share-email table td
{
	width: auto;
}

.dsidx-share-email-submit
{
	text-align:right;
}

#dsidx-share-email .dsidx-submit
{
	font-weight:bold;
}

#dsidx-share-email-human-question
{
	padding: 3px;
	background-color: #FFF196;
	border: solid 1px #FFAF38;
	margin: 0 4px 0 0;
}

#dsidx-share-email-human-proof
{
	width: 25px;
}

#dsidx-share-email td.dsidx-share-email-human
{
	text-align:right;
}

#dsidx-share-email td.dsidx-share-email-message-row
{
	display:none;
}
#not-found-dsidx {
	margin-top: 10px;
	margin-bottom: 10px;
}
#not-found-dsidx .not-found-area {
	margin: 22px 11px 0px 0px;
	float: left;
}
#not-found-dsidx .heading h2 { 
	font:17px/21px 'chunkfive', Arial, Verdana, Helvetica, sans-serif;
	color:#757575;
	margin: 0px;
}
#not-found-dsidx #not-found-scroll-to {
	text-decoration: none;
}
/* 404 Text */
#not-found-dsidx #not-found-img {
	float: left;
}
#not-found-dsidx #not-found-page-title {
	width: 450px;
	font-size: 12px;
	margin-left: 75px;
	padding-top: 15px;
	line-height: 22px;
}
#not-found-dsidx #not-found-page-title #not-found-sub-title {
	font-weight: bold;
	position: relative;
}
#not-found-dsidx #not-found-page-message {
	padding-top: 15px;
	display:block;
	position: relative;
	line-height: 22px;
}
/* End 404 Text */
/* Form Elements */
#not-found-dsidx #not-found-search-form {
	background: none;
	width: 580px;
}
#not-found-dsidx #not-found-search-form .row,
#not-found-dsidx #dsidx-contact-form .row {
	overflow:hidden;
}
#not-found-dsidx #not-found-search-form .text,
#not-found-dsidx #dsidx-contact-form .text {
	float:left;
	margin:0;
	outline:none;
	width:233px;
	padding:9px 10px 8px;
	font-size:12px;
	line-height:15px;
	border:1px solid #d9d9d9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background:#fff;
}
#not-found-dsidx #not-found-search-form select,
#not-found-dsidx #dsidx-contact-form select {
	float:left;
	width:150px;
	margin:0;
	padding:0;
	padding:8px 10px 7px;
	font-size:12px;
	line-height:15px;
	border:1px solid #d9d9d9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background:#fff;
}
#not-found-dsidx #not-found-search-form .submit,
#not-found-dsidx #dsidx-contact-form .submit {
	float:left;
	width:168px;
	height:34px;
	background: #405a79;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:0;
	margin:22px 0 0 0;
	padding:0;
	outline:none;
	cursor:pointer;
	color:#fff;
	text-shadow:0 1px 0 #000;
	font:12px/14px 'CabinBold', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
/* End Search Form */
/* Contact Form */
#not-found-dsidx #dsidx-contact-form #contact-form-textarea {
	width: 230px;
	height: 150px;	
}
#not-found-dsidx #dsidx-contact-form {
	width: 560px;
	overflow: hidden;
}
#not-found-dsidx #dsidx-contact-form #dsidx-contact-form-submit-holder {
	float:left;
}
#not-found-dsidx #dsidx-contact-form .dsidx-contact-form-message {
	font: 14px Arial, Helvetica, sans-serif;
	color: #666666;
	padding: 22px 5px 5px 20px;
	line-height: 34px;
	float: left;
	font-weight: bold;
}
/* End Contact Form */
