<template>
<v-layout>
<div class="row" style=" margin-top: 20px;">
<div class="col-lg-3">fewfea</div>
<div class="col-lg-9">

<div class="row">


<div class="ui link cards">
      <div v-for="increment in $store.state.form.formObj.content" class="card">
        <div class="image">
          <img src="/images/avatar2/large/matthew.png">
        </div>
        <div class="content">
          <div class="header">Matt Giampietro</div>
          <div class="meta">
            <a>Friends</a>
          </div>
          <div class="description">
            Matthew is an interior designer living in New York.
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2013
          </span>
          <span>
            <i class="user icon"></i>
            75 Friends
          </span>
        </div>
      </div>
    
    </div>



                        
                          
                        </div>

</div>


</div>
</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Dashboard'
  import * as constants from '@/constants/index'
  import moment from 'moment'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          location: [],
          status: '',
          urgent: '',
          ageOfProperty: '',
          bathrooms: '',
          bedrooms: '',
          typeOfProperty: [],
          typeOfProposal: 'for_sale',
          priceMinimum: null,
          priceMaximum: null,
          size: null
        },
        showModal: false,
        isLoading: false,
        cities: []
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    created: function () {
      this.findAll()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      findAll: function () {
        let payload = {url: 'api/account/list', parameters: {role: 'ROLE_SELLER,ROLE_LESSOR'}}
        this.$store.dispatch('form/findAll', payload)
      },
      getLink: function (id, type) {
        let url = (type === 'for_sale') ? '/buy/' + id : '/rent/' + id
        return url
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      }
    },

    computed: {
      isActivated: function () {
        return constants.IS_ACTIVATED
      },
      typeOfProperty: function () {
        return constants.TYPE_FOR_SALE
      },
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
