<template>
  <v-layout>

            <div class="overview">
                <div class="container container--slim">
                    <div class="br-msg-header pd-y-20 d-flex justify-content-between">
                      <div class="media align-items-center">
          <img src="http://themetrace.com/templates/bracketplus/img/img4.jpg" class="wd-100 rounded-circle" alt="">
          <div class="media-body mg-l-10">
            <p class="tx-inverse tx-medium mg-b-0">Louise Kate Lumaad</p>
            <p class="tx-inverse tx-light tx-medium mg-b-0">@LouiseKateLumaad</p>
            <p class="d-flex align-items-center">
              <span class="tx-lato tx-medium mg-r-10">4.3</span>
              <span class="tx-14">
                <i class="icon-star icons tx-warning"></i>
                <i class="icon-star icons tx-warning"></i>
                <i class="icon-star icons tx-warning"></i>
                <i class="icon-star icons tx-warning"></i>
                <i class="icon-star icons tx-gray-500"></i>
              </span>
              <a class="mg-l-10" href="#">Check the reviews</a>
            </p>
            <p><button class="btn btn-outline-primary"><i class="fa fa-send mg-r-10"></i> Send Message</button>
            <button class="btn btn-outline-primary"><i class="fa fa-send mg-r-10"></i> Send Message</button>
              </p>
          </div><!-- media-body -->
        </div><!-- media -->

        <nav class="nav nav-inline tx-size-24 mg-b-0 lh-0">
          <a href="" class="nav-link tx-gray-light hover-inverse pd-x-5"><i class="fa fa-pencil-square"></i></a>
          <a href="" class="nav-link tx-gray-light hover-inverse pd-x-5"><i class="fa fa-pencil-square"></i></a>
          <a href="" class="nav-link tx-gray-light hover-inverse pd-x-5"><i class="fa fa-pencil-square"></i></a>
          <a href="" class="nav-link tx-gray-light hover-inverse pd-x-5"><i class="fa fa-pencil-square"></i></a>
          <a id="closeMail" href="" class="nav-link pd-x-5 mg-l-15 hidden-xl-up">
            <i class="icon ion-close"></i>
          </a>
        </nav>
        <nav class="nav nav-inline tx-size-24 mg-b-0 lh-0">
          <a href="" class="nav-link tx-gray-light hover-inverse pd-x-5"><i class="fa fa-globe"></i></a>
          <a href="" class="nav-link tx-gray-light hover-inverse pd-x-5"><i class="fa fa-globe"></i></a>
          <a href="" class="nav-link tx-gray-light hover-inverse pd-x-5"><i class="fa fa-globe"></i></a>
          <a href="" class="nav-link tx-gray-light hover-inverse pd-x-5"><i class="fa fa-globe"></i></a>
          <a id="closeMail" href="" class="nav-link pd-x-5 mg-l-15 hidden-xl-up">
            <i class="icon ion-close"></i>
          </a>
        </nav>

                        
                    </div>
                </div>

                <div class="tab-nav-wrap">
                    <div class="container container--slim">
                        <nav class="tab-nav">
							<router-link :to="{ name: 'account.show.index' }" class="tab-nav__item" exact>Overview</router-link>
                            <router-link :to="{ name: 'account.show.activity' }" class="tab-nav__item" exact>Activities</router-link>
                            <router-link :to="{ name: 'account.show.property' }" class="tab-nav__item" exact>Properties listing</router-link>
                            <router-link :to="{ name: 'account.show.rent' }" class="tab-nav__item" exact>Renting proposal listing</router-link>
                            <router-link :to="{ name: 'account.show.buy' }" class="tab-nav__item" exact>Buying proposal listing</router-link>
                            <router-link :to="{ name: 'account.show.review' }" class="tab-nav__item" exact>Reviews</router-link>
                        </nav>
                    </div>
                </div>

            </div>


    <!-- big div-->
					<router-view />
					<!-- end div-->        


 </v-layout>
</template>


<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Dashboard'
  import * as constants from '@/constants/index'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          location: [],
          status: '',
          urgent: '',
          ageOfProperty: '',
          bathrooms: '',
          bedrooms: '',
          typeOfProperty: [],
          typeOfProposal: 'for_sale',
          priceMinimum: null,
          priceMaximum: null,
          size: null
        },
        showModal: false,
        isLoading: false,
        cities: []
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    created: function () {
      this.findOne()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      findOne: function () {
        let payload = {url: 'api/account/33', parameters: {role: 'ROLE_SELLER,ROLE_LESSOR'}}
        this.$store.dispatch('form/findAll', payload)
      }
    },

    computed: {
      isActivated: function () {
        return constants.IS_ACTIVATED
      },
      typeOfProperty: function () {
        return constants.TYPE_FOR_SALE
      },
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
