<template>
<!--Header-->
<header class="layout_default">
   <div class="topbar">
      <div class="container">
         <div class="row">
            <div class="col-md-5">
               <p>We are Best in Town With 40 years of Experience.</p>
            </div>
            <div class="col-md-7 text-right">
               <ul class="breadcrumb_top text-right">
                  <li><router-link :to="{ name: 'aboutus.index' }"><i class="icon-icons43"></i>About us</router-link></li>
                  <li><router-link :to="{ name: 'voneconcept.index' }"><i class="icon-icons215"></i>Vone concept</router-link></li>
                  <li><router-link :to="{ name: 'voneadvantage.index' }"><i class="icon-icons215"></i>Vone advantage</router-link></li>
                  <li><router-link :to="{ name: 'vonerelationship.index' }"><i class="icon-icons215"></i>Vone relationship</router-link></li>
                  <li><router-link :to="{ name: 'socialmedia.index' }"><i class="icon-icons215"></i>Social media blog</router-link></li>
               </ul>
            </div>
         </div>
      </div>
   </div>

   <!-- ########## START: HEAD PANEL ########## -->
   <div class="header bg-dark">
	<div class="container">
		
	<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Buyer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tenant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lessor</a>
        </li>
      </ul>
      <form class="form-inline">
        <a href="/login" class="btn btn-outline-info mr-sm-2">Login</a>
        <a href="/register" class="btn btn-outline-info my-sm-0">Register</a>
      </form>
    </div>
  </nav>
	</div>
	<!-- container -->
	
</div>
<!-- header -->
<!-- ########## END: HEAD PANEL ########## -->

</header>
<!--Header Ends-->

</template>

<script>
  /* ============
   * Menu Layout
   * ============
   *
   * Used for the register and login pages.
   *
   * Layouts are used to store a lot of shared code.
   * This way the app stays clean.
   */

  export default {
    /**
     * The name of the layout.
     */
    name: 'menu-layout',

    data: function () {
      return {
        visible: false
      }
    },

    props: {
      context: {
        type: String,
        default: 'default'
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    mounted: function () {
      // var el = document.querySelector('.dropdowntoggle')
      // el.addEventListener('click', this.activate)
    },

    /**
     * The methods that the layout can use.
     */
    methods: {
      activate: function (e) {
        console.log('e')
      },
      toggleDropdown: function (event) {
        console.log(event.currentTarget.parentNode.classList('show'))
      },
      /**
       * Will log the user out.
       */
      logout: function () {
        this.$store.dispatch('auth/logout')
      }
    },
    computed: {
      auth: function () {
        let auth = this.$store.state.auth
        return auth
      }
    }
  }
</script>
