<template>
<v-layout>
<div class=" container  container-fixed-lg">
  <div class="row mg-y-40">
<div class="col-lg-8 br-section-wrapper pd-0">
<form @submit.prevent="submit(model)" autocomplete="off">
<div class="br-section-header">
            <h6 class="br-section-label">Edit password</h6>
          <p>A form with a label on top of each form control.</p>
</div>
<div class="br-section-body pd-70-force">
<alert :alert="getMessage" />
          <div class="form-layout form-layout-1">
            <div class="row mg-b-25">
              <div class="col-lg-12">
                <div class="form-group" id="oldPassword">
                  <label class="form-control-label">Old password: <span class="tx-danger">*</span></label>
                  <input class="form-control" type="password" v-model="model.oldPassword" placeholder="Enter current password" />
                  <span class="error"></span>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group" id="password">
                  <label class="form-control-label">New password: <span class="tx-danger">*</span></label>
                  <input class="form-control" type="password" v-model="model.password" placeholder="Enter new password" />
                  <span class="error"></span>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group" id="rePassword">
                  <label class="form-control-label">Confirm new password: <span class="tx-danger">*</span></label>
                  <input class="form-control" type="password" v-model="model.rePassword" placeholder="Confirm new password" />
                  <span class="error"></span>
                </div>
              </div><!-- col-4 -->
            </div><!-- row -->
          </div><!-- form-layout -->

          </div>
          <div class="br-section-footer">

              <button id="edit_password" class="btn btn-info">Submit Form</button>
              <button class="btn btn-secondary">Cancel</button>

          </div>
</form>
        </div>
<div class="col-sm-6 col-lg-4 mg-t-20 mg-sm-t-0 mg-y-40">
            <div class="card bd-gray-400">
              <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Sales Monitoring</h6>
                <span class="tx-12 tx-uppercase">March 2017</span>
              </div><!-- card-header -->
              <div class="card-body">
                <p class="tx-sm tx-inverse tx-medium mg-b-0">Bracket Online Store</p>
                <p class="tx-12"><a href="">http://bracketstore.com</a></p>
                <div class="row align-items-center">
                  <div class="col-3 tx-12 tx-bold">Men</div><!-- col-3 -->
                  <div class="col-9">
                    <div class="progress rounded-0 mg-b-0">
                      <div class="progress-bar bg-teal wd-50p lh-3" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                    </div><!-- progress -->
                  </div><!-- col-9 -->
                </div><!-- row -->
                <div class="row align-items-center mg-t-5">
                  <div class="col-3 tx-12 tx-bold">Women</div><!-- col-3 -->
                  <div class="col-9">
                    <div class="progress rounded-0 mg-b-0">
                      <div class="progress-bar bg-info wd-45p lh-3" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                    </div><!-- progress -->
                  </div><!-- col-9 -->
                </div><!-- row -->
                <p class="tx-11 mg-b-0 mg-t-15">Notice: Lorem ipsum dolor sit amet.</p>
              </div><!-- card-body -->
              <div class="card-body">
                <p class="tx-sm tx-inverse tx-medium mg-b-0">Bracket Online Store</p>
                <p class="tx-12"><a href="">http://bracketstore.com</a></p>
                <div class="row align-items-center">
                  <div class="col-3 tx-12 tx-bold">Men</div><!-- col-3 -->
                  <div class="col-9">
                    <div class="progress rounded-0 mg-b-0">
                      <div class="progress-bar bg-teal wd-50p lh-3" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                    </div><!-- progress -->
                  </div><!-- col-9 -->
                </div><!-- row -->
                <div class="row align-items-center mg-t-5">
                  <div class="col-3 tx-12 tx-bold">Women</div><!-- col-3 -->
                  <div class="col-9">
                    <div class="progress rounded-0 mg-b-0">
                      <div class="progress-bar bg-info wd-45p lh-3" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                    </div><!-- progress -->
                  </div><!-- col-9 -->
                </div><!-- row -->
                <p class="tx-11 mg-b-0 mg-t-15">Notice: Lorem ipsum dolor sit amet.</p>
              </div><!-- card-body -->
              <div class="card-body">
                <p class="tx-sm tx-inverse tx-medium mg-b-0">Bracket Online Store</p>
                <p class="tx-12"><a href="">http://bracketstore.com</a></p>
                <div class="row align-items-center">
                  <div class="col-3 tx-12 tx-bold">Men</div><!-- col-3 -->
                  <div class="col-9">
                    <div class="progress rounded-0 mg-b-0">
                      <div class="progress-bar bg-teal wd-50p lh-3" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                    </div><!-- progress -->
                  </div><!-- col-9 -->
                </div><!-- row -->
                <div class="row align-items-center mg-t-5">
                  <div class="col-3 tx-12 tx-bold">Women</div><!-- col-3 -->
                  <div class="col-9">
                    <div class="progress rounded-0 mg-b-0">
                      <div class="progress-bar bg-info wd-45p lh-3" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                    </div><!-- progress -->
                  </div><!-- col-9 -->
                </div><!-- row -->
                <p class="tx-11 mg-b-0 mg-t-15">Notice: Lorem ipsum dolor sit amet.</p>
              </div><!-- card-body -->
            </div><!-- card -->
          </div><!-- col-4 -->
          </div>

      </div>


</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Dashboard'
  import Alert from '@/components/message/Alert'

  export default {
    /**
     * The name of the page.
     */
    name: 'profile-editPassword',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          oldPassword: null,
          password: null,
          rePassword: null
        }
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'post', url: '/api/profile/edit/password', data: this.model, button: window.$('#edit_password')}
        this.$store.dispatch('global/submit', payload)
      }
    },

    /**
     * The computed the page going to use
     */
    computed: {
      /**
       * Will display the message wether its true or false
       */
      getMessage: function () {
        if (this.$store.state.message.object.status) {
          this.model = {password: null, rePassword: null, oldPassword: null}
        }
        return this.$store.state.message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout,
      Alert
    }
  }
</script>
