<template>
  <v-layout>
    <div class="row" style=" margin-top: 20px;">
      <div class="col-lg-3">fewfea</div>
      <div class="col-lg-9">

        <div class="row">
          <div v-for="increment in $store.state.form.formObj.content" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a :href="getLink(increment.id)" class="card" id="card-309">
              <div class="figure">
                <!--div class="featured-label">
                                    <div class="featured-label-left"></div>
                                    <div class="featured-label-content"><span class="fa fa-star"></span></div>
                                    <div class="featured-label-right"></div>
                                    <div class="clearfix"></div>
                                </div-->
                <div class="img" style="background-image:url(http://mariusn.com/themes/reales-wp/wp-content/uploads/2015/02/img-prop-600x400.jpg);"></div>
                <div class="figCaption">
                  <div>${{ increment.price }}</div>
                  <span><span class="icon-eye"></span> 9999+</span>
                  <span><span class="icon-heart"></span> 0</span>
                  <span><span class="icon-bubble"></span> 1</span>
                </div>
                <div class="figView"><span class="icon-eye"></span>
                </div>
                <div class="figType">{{ increment.saleType }}</div>
              </div>
              <h2>{{ increment.type }}</h2>
              <div class="cardAddress">
                {{ increment.location.address }}, {{ increment.location.city.name }}, {{ increment.location.province.name }}
                <br>CA, {{ increment.location.postalCode }}, {{ increment.location.country.name }} </div>
              <ul class="cardFeat">
                <li><span class="fa fa-moon-o"></span> 2</li>
                <li><span class="icon-drop"></span> 3</li>
                <li><span class="icon-frame"></span> {{ increment.size }} sq ft</li>
              </ul>
              <div class="clearfix"></div>
            </a>
          </div>

        </div>

      </div>

    </div>
  </v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Dashboard'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
      }
    },

    created: function () {
      this.findAll()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      findAll: function () {
        let payload = {url: 'api/property/list', parameters: {status: 'is_actived', saleType: 'for_rent'}}
        this.$store.dispatch('form/findAll', payload)
      },
      getLink: function (id) {
        let url = '/property/' + id
        return url
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
