<template>
<v-layout>
<div class="row">
<div class="col-xl-7 col-lg-6 ">

<div class="card card-transparent">
<div class="card-block">
<div class="row clearfix">
<div class="col-md-12">
<div id="paypal-button"></div>
</div>
</div>
</div>
</div>

</div>
<div class="col-xl-5 col-lg-6">

  <!-- Payment Methods Accordion -->
  			<div class="payment">

  				<div class="payment-tab payment-tab-active">
  					<div class="payment-tab-trigger">
  						<input checked id="paypal" name="cardType" type="radio" value="paypal">
  						<label for="paypal">PayPal</label>
  						<img class="payment-logo paypal" src="https://i.imgur.com/ApBxkXU.png" alt="">
  					</div>

  					<div class="payment-tab-content">
  						<p>You will be redirected to PayPal to complete payment.</p>
  					</div>
  				</div>


  				<div class="payment-tab">
  					<div class="payment-tab-trigger">
  						<input type="radio" name="cardType" id="creditCart" value="creditCard">
  						<label for="creditCart">Credit / Debit Card</label>
  						<img class="payment-logo" src="https://i.imgur.com/IHEKLgm.png" alt="">
  					</div>

  					<div class="payment-tab-content">
  						<div class="row">

  							<div class="col-md-6">
  								<div class="card-label">
  									<label for="nameOnCard">Name on Card</label>
  									<input id="nameOnCard" name="nameOnCard" required type="text">
  								</div>
  							</div>

  							<div class="col-md-6">
  								<div class="card-label">
  									<label for="cardNumber">Card Number</label>
  									<input id="cardNumber" name="cardNumber" placeholder="1234  5678  9876  5432" required type="text">
  								</div>
  							</div>

  							<div class="col-md-4">
  								<div class="card-label">
  									<label for="expirynDate">Expiry Month</label>
  									<input id="expiryDate" placeholder="MM" required type="text">
  								</div>
  							</div>

  							<div class="col-md-4">
  								<div class="card-label">
  									<label for="expiryDate">Expiry Year</label>
  									<input id="expirynDate" placeholder="YY" required type="text">
  								</div>
  							</div>

  							<div class="col-md-4">
  								<div class="card-label">
  									<label for="cvv">CVV</label>
  									<input id="cvv" required type="text">
  								</div>
  							</div>

  						</div>
  					</div>
  				</div>

  			</div>
  			<!-- Payment Methods Accordion / End -->

      </div>
    </div>
  </v-layout>

</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */
  import paypal from 'paypal-checkout'
  import VLayout from '@/layouts/Dashboard'

  export default {
    /**
     * The name of the page.
     */
    name: 'profilePaymentPaypal-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          emailContact: 'mob'
        }
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'post', url: 'auth/payment/paypal', data: this.model}
        this.$store.dispatch('form/submit', payload)
      }
    },
    mounted () {
      paypal.Button.render({

        // Set your environment

        env: 'sandbox', // sandbox | production

        // Specify the style of the button

        style: {
          label: 'checkout',
          size: 'medium', // small | medium | large | responsive
          shape: 'rect', // pill | rect
          color: 'gold' // gold | blue | silver | black
        },

        // PayPal Client IDs - replace with your own
        // Create a PayPal app: https://developer.paypal.com/developer/applications/create

        client: {
          sandbox: 'ASSljN1X2fhtOalonExcpolVsWmMWGVBI-NiTSiQpkksE02CFoenGaBlT13DRxlJxG03g5UuKTuScwpj',
          production: '<insert production client id>'
        },

        payment: function (data, actions) {
          // Make a call to your server to set up the payment
          let CREATE_URL = (process.env.NODE_ENV === 'development') ? '/server/auth/payment/paypal' : '/auth/payment/paypal'
          return paypal.request.post(CREATE_URL).then(res => {
            return res.paymentID
          })
        },

        onAuthorize: function (data, actions) {
          // Set up a url on your server to execute the payment
          let EXECUTE_URL = (process.env.NODE_ENV === 'development') ? '/server/auth/payment/payer' : '/auth/payment/payer'
          // Make a call to your server to execute the payment
          return paypal.request.post(EXECUTE_URL, {
            paymentID: data.paymentID,
            payerID: data.payerIDdata
          }).then(res => window.alert('Payment Complete!')).catch(err => console.log(err))
        }

      }, '#paypal-button')
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
