<template>
	<v-layout>
		<modal-price-package :show="showPricePackage" @close="showPricePackage = false" />
		<!--modal-proposal-interest :show="showProposalInterest" @close="showProposalInterest = false" /-->
		<div class="proposal_show">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="entry-header pd-t-30-force">
							<div id="results-criteria">
								<div class="tx-30 d-inline tx-medium">{{ list.count }}</div>
								<h1 class="tx-30 d-inline">
                Manhattan Apartments For buying proposal
              </h1>
								<div class="tx-20 d-inline">- With 2 bedrooms</div>
							</div>
							<div class="row row-xs mg-b-10 pd-b-20">
								<div class="card-block pd-0">
									<div class="row row-sm mg-t-20 mg-b-0">
										<div class="col-md-6 col-lg-4"> <a href="javascript:;" class="btn btn-info tx-11 tx-spacing-1 tx-uppercase tx-semibold tx-mont pd-y-12 pd-x-30">Refine search</a>
										</div>
										<!-- col-3 -->
										<div class="col-md-6 col-lg-4 mg-t-10 mg-md-t-0">
											<div class="form-group mg-b-0"> <a href="javascript:;" class="btn btn-warning tx-11 tx-spacing-1 tx-uppercase tx-semibold tx-mont pd-y-12 pd-x-30">Save search</a>
											</div>
											<!-- form-group -->
										</div>
										<!-- col-3 -->
										<div class="col-md-6 col-lg-4 mg-t-10 mg-md-t-0">
											<div class="row no-gutters">
												<div class="col-5 col-sm-4 pd-t-10">Sort by:</div>
												<!-- col-4 -->
												<div class="col-7 col-sm-8">
													<div>
														<select name="sort_by" style="height: 34px;">
															<option selected="selected" value="listed_desc">Newest</option>
															<option value="interesting_desc">Recently updated</option>
															<option value="price_desc">Most expensive</option>
															<option value="price_asc">Least expensive</option>
															<option value="sqft_desc">Largest</option>
															<option value="sqft_asc">Smallest</option>
														</select>
													</div>
												</div>
												<!-- col-8 -->
											</div>
											<!-- row -->
										</div>
										<!-- col-3 -->
									</div>
									<!-- row -->
								</div>
								<!-- card-block -->
							</div>
						</div>
						<!-- .entry-header -->
						<!-- debut -->
						<div class="media-list bg-white rounded border">
							<a :href="'/buy/' + proposal.id" :key="proposal.id" v-for="proposal in list.content" class="media pd-20 pd-xs-20 border border-top-0 border-top-0 border-right-0 border-left-0 pos-relative">
								<!--img src="http://themepixels.me/bracketplus/img/img2.jpg" alt="" class="wd-40 rounded-circle"-->
								<div class="media-body">
									<div class="d-flex justify-content-between">
										<div>
											<h6 class="mg-b-2 tx-inverse tx-14">Louise Kate</h6>
											<span class="tx-12 tx-gray-500">@louisekate</span>
										</div> <span class="tx-12">2 minutes ago</span>
									</div>
									<!-- d-flex -->
									<div class="">
										<div class="header-info float-left wd-100p">
											<div class="not-interested-icon"> <span class="tx-12">{{ proposal.type_of_proposal }}</span>
											</div>
											<div class="row tx-12 tx-gray-600 mg-y-15">
												<div class="col-md-3">
<span><img src="/static/images/svg/bed.svg" class="mg-r-5" width="20"></span>
													Bedroom: > {{ proposal.bedrooms }}</div>
												<div class=" col-md-3">
<span><img src="/static/images/svg/toilet.svg" class="mg-r-5" width="20"></span>
													Bathroom: > {{ proposal.bathrooms }}</div>
												<div class="col-md-3">
<span>
  <img v-if="proposal.is_urgent" src="/static/images/svg/alarm_on.svg" class="mg-r-5" width="20">
  <img v-if="!proposal.is_urgent" src="/static/images/svg/alarm_off.svg" class="mg-r-5" width="20">
</span>
													is urgent: {{ proposal.is_urgent }}</div>
												<div class="col-md-3 tiptip" title="">
<span class="icon fontello-location"></span>
													<span><peity :type="'bar'" :data="'5,3,9,6,5,9,7,3,5,2'"></peity></span>
													Stats of views</div>
											</div>
											<div class="tx-gray-800 tx-13">
												<div class="collapsed-listing-row mg-b-8">
													<div class="tx-bold mg-r-10 tx-gray-900 d-inline">Id of renting proposal</div>
													<div class="d-inline">{{ proposal.id }}</div>
												</div>
												<div class="collapsed-listing-row mg-b-8">
													<div class="tx-bold mg-r-10 tx-gray-900 d-inline">PR Intern</div>
													<div class="d-inline">$30K – $40K · 0.001% – 0.01% ·</div>
												</div>
												<div class="collapsed-listing-row mg-b-8">
													<div class="tx-bold mg-r-10 tx-gray-900 d-inline">Price</div>
													<div class="d-inline">${{ proposal.price_minimum }} – ${{ proposal.price_maximum }}</div>
													<div class="tx-bold mg-r-10 tx-gray-900 d-inline">Size</div>
													<div class="d-inline">{{ proposal.size }}</div>
													<div class="tx-bold mg-r-10 tx-gray-900 d-inline">Category of property</div>
													<div class="d-inline">{{ proposal.age_of_property }}</div>
												</div>
												<div class="collapsed-listing-row mg-b-8">
													<div class="tx-bold mg-r-10 tx-gray-900 d-inline">Type of property</div>
													<div class="d-inline">{{ proposal.type_of_property }}</div>
												</div>
												<div class="collapsed-listing-row mg-b-8">
													<div class="collapsed-more">and 10 more</div>
												</div>
												<div class="cb"></div>
											</div>
										</div>
                    <div class="header-info float-left wd-100p">
											<button @click="showInterest">propose property</button>
                    </div>
									</div>
								</div>
								<!-- media-body -->
							</a>
							<!-- media -->
						</div>
						<!-- card -->
						<div class="bg-white pd-y-12 tx-center mg-t-15 mg-xs-t-30 shadow-base rounded wd-100p"> <a href="" class="tx-gray-600 hover-info">Load more</a>
						</div>
						<!--/div-->
						<!-- fin -->
					</div>
					<!-- / .column-1 -->
					<div class="col-md-4 column-sidebar">
						<div class="">
							<div class="card shadow-base">
								<div class="card-header">
									<ul class="nav nav-tabs nav-fill card-header-tabs">
										<li class="nav-item"> <a class="nav-link active" href="#popular">Details</a>
										</li>
										<li class="nav-item"> <a class="nav-link" href="#recent">Map</a>
										</li>
									</ul>
								</div>
								<!-- card-header -->
								<div class="card-body">
									<v-map ref="custommap" :location="getMarkers" />
								</div>
							</div>
							<!-- card -->
							<div id="listing_sidebar_map-2" class="widget  widget_listing_sidebar_map"></div>
						</div>
						<div id="listing_sidebar_claim_listing-2" class="widget  widget_listing_sidebar_claim_listing is--independent">
							<h2 class="widget_sidebar_title"><div class="lwa">Is this your business?<span class="claim-verified">Verified Listing</span></div></h2><small class="listing-claim-description">Make sure your information are up to date.</small>
						</div>
					</div>
					<!-- / .column-2 -->
				</div>
			</div>
		</div>
	</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Dashboard'
  import moment from 'moment'

  export default {
    /**
     * The name of the page.
     */
    name: 'buy-list',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        currentPage: 1,
        params: {},
        list: {
          count: null,
          variable: null,
          content: []
        },
        showRefineSearch: false,
        showProposalInterest: false,
        showPricePackage: false
      }
    },

    created: function () {
      this.findAll(this.params)
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      findAll: function (payload) {
        payload.typeOfProposal = 'for_sale'
        this.$http.get('/api/proposals/list', {params: payload}).then(response => {
          // get status
          this.list.count = response.data.count
          this.list.content = this.list.content.concat(response.data.content)
        }, error => {
          // get failed
          console.log(error)
        })
      },
      showInterest: function (e) {
        // this.showPricePackage = true
        // this.$root.$emit('find-package')
        this.showProposalInterest = true
        // this.$root.$emit('find-properties')
        e.preventDefault()
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      },
      handleScroll: function (e) {
        let documentHeight = Math.max(document.body.scrollHeight, document.documentElement.scrollHeight, document.body.offsetHeight, document.documentElement.offsetHeight, document.body.clientHeight, document.documentElement.clientHeight)
        let scrollXY = document.documentElement.scrollTop + window.innerHeight

        if (documentHeight - 10 <= scrollXY) {
          this.params.page = ++this.currentPage
          setTimeout(() => { this.findAll(this.params) }, 2000)
        }
      }
    },

    mounted () {
      window.addEventListener('scroll', this.handleScroll)
    },

    computed: {
      getMarkers: function () {
        let markers = this.$store.state.global.object
        return markers
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
