<template>
  <div id="mapid" style="width: 100%; height: 400px;">{{ markers }}</div>
</template>

<script>
  /* ============
   * Card Component
   * ============
   *
   * A basic card component.
   *
   * Gives an idea how components work.
   */
  import L from 'leaflet'
  export default {
    /**
     * The name of the component.
     */
    name: 'leaflet-map',

    props: ['location'],

    data () {
      return {
        markers: []
      }
    },

    /**
    * The methods the page can use.
    */
    methods: {
      initMap: function (mymap) {
        // let mymap = L.map('mapid', { center: [20.0, 5.0], minZoom: 2, zoom: 2 })
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoieXZhdSIsImEiOiJ5YjNFdUVJIn0.UEbuBPHAHKys2xkQOm3i3g', {
          maxZoom: 18,
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>',
          id: 'mapbox.streets'
        }).addTo(mymap)

        // L.marker([43.075695, -89.401052], {icon: myMarker}).addTo(mymap).bindPopup('<strong>Science Hall</strong><br>Where the GISC was born.').openPopup()
        // L.marker([51.5, -0.09], {icon: myMarker}).addTo(mymap).bindPopup('<b>Hello world!</b><br />I am a popup.').openPopup()
      },
      addMarker: function (L) {

      }
    },

    /**
     * The mounted properties that the component can use.
     */
    mounted: function () {
      // let mymap = L.map('mapid').setView([51.505, -0.09], 13)
      // this.$root.$on('re-init-map', this.initMap())
      window.setTimeout(() => {
        console.log(this.markers)
        // let mymap = L.map('mapid').setView([43.07573, -89.401047], 15)
        // this.initMap(this.mymap)
      }, 2000)
    }

  }
</script>

µ