<template>
	<v-layout>
		<div class="hero" style="background: url('/static/images/defaultHeader.jpg');">
			<div class="wrapper" style="background-color: rgba(0, 74, 139, 0.5) ">
				<div class="container">
					<div class="row">
						<div class="mg-y-40-force rounded-5 bg-white m-auto">
							<div class="pos-relative overflow-hidden wd-100p tx-light m-auto tabs tabs-style-topline">
								<nav class="tx-center">
									<ul class="pos-relative d-flex m-auto">
										<li :class="{ 'tab-current': selectedCategory == 'buying' }" class="">
											<a href="javascript:;" @click="selectedCategory = 'buying'">
												<img src="/static/images/svg/for-sale.svg" width="30" class="m-auto d-block" /><span>Buying proposal</span>
											</a>
										</li>
										<li :class="{ 'tab-current': selectedCategory == 'renting' }" class="">
											<a href="javascript:;" @click="selectedCategory = 'renting'">
												<img src="/static/images/svg/for-rent.svg" width="30" class="m-auto d-block" /><span>Renting proposal</span>
											</a>
										</li>
										<li :class="{ 'tab-current': selectedCategory == 'selling' }" class="">
											<a href="javascript:;" @click="selectedCategory = 'selling'">
												<img src="/static/images/svg/seller.svg" width="30" class="m-auto d-block" /><span>Selling profile</span>
											</a>
										</li>
										<li :class="{ 'tab-current': selectedCategory == 'leasing' }" class="">
											<a href="javascript:;" @click="selectedCategory = 'leasing'">
												<img src="/static/images/svg/lessor.svg" width="30" class="m-auto d-block" /><span>Leasing profile</span>
											</a>
										</li>
									</ul>
								</nav>
								<div class="content-wrap tx-left">
									<section :class="{ 'content-current' : selectedCategory == 'buying' }" class="">
										<h5 class="tx-14 tx-uppercase tx-spacing-1 tx-semibold tx-inverse">Buying profile</h5>
										<div class="card-block pd-0">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label>Choose the buying zone</label>
														<multiselect v-model="selectedCities" id="ajax" label="name" track-by="id" placeholder="Type to search" open-direction="bottom" :custom-label="nameWithProvince" :clear-on-select="true" :options="cities" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :close-on-select="true" :options-limit="300" :max-height="600" :show-no-results="true" @search-change="onChangeLocation"> <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
														</multiselect> <span class="help-block"> </span>
													</div>
												</div>
											</div>
											<div class="row row-sm mg-t-20">
												<div class="col-md-6 col-lg-3">
													<div class="form-group mg-b-0">
														<label class="d-block">Type of agent</label>
														<select class="form-control wd-100p select2">
															<option value="sfo">type of Agent</option>
														</select>
													</div>
													<!-- form-group -->
												</div>
												<!-- col-3 -->
												<div class="col-md-6 col-lg-3 mg-t-10 mg-md-t-0">
													<div class="form-group mg-b-0">
														<label class="d-block">Banner</label>
														<div>
															<select class="form-control wd-100p select2">
																<option value="">Choose a banner</option>
															</select>
														</div>
													</div>
													<!-- form-group -->
												</div>
												<!-- col-3 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Acc number</label>
														<input type="text" class="form-control tx-14" placeholder="No. of passenger">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Pre-approved</label>
														<input type="text" class="form-control form-control-datepicker tx-14" data-language="en" placeholder="Date or origin">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Urgency</label>
														<input type="text" class="form-control form-control-datepicker tx-14" data-language="en" placeholder="Date of return">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
											</div>
											<!-- row --> <a href="" class="btn btn-info tx-11 tx-spacing-1 tx-uppercase tx-semibold tx-mont pd-y-12 pd-x-30 mg-t-30">Leasing profile</a>
										</div>
									</section>
									<section :class="{ 'content-current' : selectedCategory == 'renting' }" class="">
										<h5 class="tx-14 tx-uppercase tx-spacing-1 tx-semibold tx-inverse">Renting profile</h5>
										<div class="card-block pd-0">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label>Choose the renting zone</label>
														<multiselect v-model="selectedCities" id="ajax" label="name" track-by="id" placeholder="Type to search" open-direction="bottom" :custom-label="nameWithProvince" :clear-on-select="true" :options="cities" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :close-on-select="true" :options-limit="300" :max-height="600" :show-no-results="true" @search-change="onChangeLocation"> <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
														</multiselect> <span class="help-block"> </span>
													</div>
												</div>
											</div>
											<div class="row row-sm mg-t-20">
												<div class="col-md-6 col-lg-3">
													<div class="form-group mg-b-0">
														<label class="d-block">Type of agent</label>
														<select class="form-control wd-100p select2">
															<option value="sfo">type of Agent</option>
														</select>
													</div>
													<!-- form-group -->
												</div>
												<!-- col-3 -->
												<div class="col-md-6 col-lg-3 mg-t-10 mg-md-t-0">
													<div class="form-group mg-b-0">
														<label class="d-block">Banner</label>
														<div>
															<select class="form-control wd-100p select2">
																<option value="">Choose a banner</option>
															</select>
														</div>
													</div>
													<!-- form-group -->
												</div>
												<!-- col-3 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Acc number</label>
														<input type="text" class="form-control tx-14" placeholder="No. of passenger">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Pre-approved</label>
														<input type="text" class="form-control form-control-datepicker tx-14" data-language="en" placeholder="Date or origin">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Urgency</label>
														<input type="text" class="form-control form-control-datepicker tx-14" data-language="en" placeholder="Date of return">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
											</div>
											<!-- row --> <a href="" class="btn btn-info tx-11 tx-spacing-1 tx-uppercase tx-semibold tx-mont pd-y-12 pd-x-30 mg-t-30">Leasing profile</a>
										</div>
									</section>
									<section :class="{ 'content-current' : selectedCategory == 'selling' }" class="">
										<h5 class="tx-14 tx-uppercase tx-spacing-1 tx-semibold tx-inverse">Selling profile</h5>
										<div class="card-block pd-0">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label>Choose the selling zone</label>
														<multiselect v-model="selectedCities" id="ajax" label="name" track-by="id" placeholder="Type to search" open-direction="bottom" :custom-label="nameWithProvince" :clear-on-select="true" :options="cities" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :close-on-select="true" :options-limit="300" :max-height="600" :show-no-results="true" @search-change="onChangeLocation"> <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
														</multiselect> <span class="help-block"> </span>
													</div>
												</div>
											</div>
											<div class="row row-sm mg-t-20">
												<div class="col-md-6 col-lg-3">
													<div class="form-group mg-b-0">
														<label class="d-block">Type of agent</label>
														<select class="form-control wd-100p select2">
															<option value="sfo">type of Agent</option>
														</select>
													</div>
													<!-- form-group -->
												</div>
												<!-- col-3 -->
												<div class="col-md-6 col-lg-3 mg-t-10 mg-md-t-0">
													<div class="form-group mg-b-0">
														<label class="d-block">Banner</label>
														<div>
															<select class="form-control wd-100p select2">
																<option value="">Choose a banner</option>
															</select>
														</div>
													</div>
													<!-- form-group -->
												</div>
												<!-- col-3 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Acc number</label>
														<input type="text" class="form-control tx-14" placeholder="No. of passenger">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Pre-approved</label>
														<input type="text" class="form-control form-control-datepicker tx-14" data-language="en" placeholder="Date or origin">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Urgency</label>
														<input type="text" class="form-control form-control-datepicker tx-14" data-language="en" placeholder="Date of return">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
											</div>
											<!-- row --> <a href="" class="btn btn-info tx-11 tx-spacing-1 tx-uppercase tx-semibold tx-mont pd-y-12 pd-x-30 mg-t-30">Leasing profile</a>
										</div>
									</section>
									<section :class="{ 'content-current' : selectedCategory == 'leasing' }" class="">
										<h5 class="tx-14 tx-uppercase tx-spacing-1 tx-semibold tx-inverse">Leasing profile</h5>
										<div class="card-block pd-0">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label>Choose the leasing zone</label>
														<multiselect v-model="selectedCities" id="ajax" label="name" track-by="id" placeholder="Type to search" open-direction="bottom" :custom-label="nameWithProvince" :clear-on-select="true" :options="cities" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :close-on-select="true" :options-limit="300" :max-height="600" :show-no-results="true" @search-change="onChangeLocation"> <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
														</multiselect> <span class="help-block"> </span>
													</div>
												</div>
											</div>
											<div class="row row-sm mg-t-20">
												<div class="col-md-6 col-lg-3">
													<div class="form-group mg-b-0">
														<label class="d-block">Type of agent</label>
														<select class="form-control wd-100p select2">
															<option value="sfo">type of Agent</option>
														</select>
													</div>
													<!-- form-group -->
												</div>
												<!-- col-3 -->
												<div class="col-md-6 col-lg-3 mg-t-10 mg-md-t-0">
													<div class="form-group mg-b-0">
														<label class="d-block">Banner</label>
														<div>
															<select class="form-control wd-100p select2">
																<option value="">Choose a banner</option>
															</select>
														</div>
													</div>
													<!-- form-group -->
												</div>
												<!-- col-3 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Acc number</label>
														<input type="text" class="form-control tx-14" placeholder="No. of passenger">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Pre-approved</label>
														<input type="text" class="form-control form-control-datepicker tx-14" data-language="en" placeholder="Date or origin">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
												<div class="col-md-4 col-lg-2 mg-t-10 mg-lg-t-0">
													<div class="form-group mg-b-0">
														<label>Urgency</label>
														<input type="text" class="form-control form-control-datepicker tx-14" data-language="en" placeholder="Date of return">
													</div>
													<!-- form-group -->
												</div>
												<!-- col-2 -->
											</div>
											<!-- row --> <a href="" class="btn btn-info tx-11 tx-spacing-1 tx-uppercase tx-semibold tx-mont pd-y-12 pd-x-30 mg-t-30">Leasing profile</a>
										</div>
										<!-- card-block -->
									</section>
								</div>
								<!-- /content -->
							</div>
							<!-- /tabs -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="section bg-white pd-y-40 bd-b bd-gray-200">
			<div class="container">
				<h1>How It Works</h1>
				<br />
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-xs-12 mg-xs-b-10">
						<div class="bg-white bd pd-20 rounded-5 shadow-base">
							<h2 class="value-multiplier pd-l-100"><img src="/static/images/svg/presentation.svg" style="width:100px;" /></h2>
							<h2 class="value-heading mg-y-15">Vone concept</h2>
							<p class="tx-15">Percentage of users more likely to purchase on mobile friendly site.</p> <a class="tx-14 mg-t-5" href="/vone-concept/">Find out more <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<div class="col-lg-4 col-xs-12 mg-xs-b-10">
						<div class="bg-white pd-20 bd rounded-5 shadow-base">
							<h2 class="value-multiplier pd-l-100"><img src="/static/images/svg/advantage.svg" style="width: 100px;" /></h2>
							<h2 class="value-heading mg-y-15">Vone advantage</h2>
							<p class="tx-15">Most of the world accesses the internet on multiple devices.</p> <a class="tx-14 mg-t-5" href="/vone-advantage/">Find out more <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<div class="col-lg-4 col-xs-12 mg-xs-b-10">
						<div class="bg-white pd-20 bd rounded-5 shadow-base">
							<h2 class="value-multiplier pd-l-100"><img src="/static/images/svg/relationship.svg" style="width: 100px;" /></h2>
							<h2 class="value-heading mg-y-15">Vone relationship</h2>
							<p class="tx-15">Percentage of users that are frustrated with page load times.</p> <a class="tx-14 mg-t-5" href="/vone-relationship/">Explore now <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section pd-y-40">
			<div class="container d-flex align-items-center justify-content-between">
				<h1>Recent listing in <span class="text-primary">{{ list.variable }}</span></h1>
				<div class="btn-group  btn-group-md pd-r-190">
					<button :class="{ 'btn-primary': category == 'renting_proposal' }" @click="selectCategory('renting_proposal')" type="button" class="btn">Renting proposal</button>
					<button :class="{ 'btn-primary': category == 'buying_proposal' }" @click="selectCategory('buying_proposal')" type="button" class="btn">Buying proposal</button>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<!-- deebut -->
						<div class="row">
							<div v-for="increment in  list.content" :key="increment.id" class="tx-dark tx-15 lh-15 overflow-visible col-md-6 pd-y-10 col-xs-12">
								<div class="shadow-base bg-white pd-10 rounded-5">
									<a class="tx-gray-600 tx-medium" :href="getLink(increment.id, increment.typeOfProposal)">
										<div class="pd-y-5 pd-x-15 tx-12">
											<div class="tx-gray-700 lh-3 ht-25 pd-t-5 pd-x-0 pd-b-0">	<span>id: {{increment.id}}</span>
												<span class="pull-right">
        <span class="badge badge-info">{{ increment.typeOfProposal }}</span>
												<span class="badge badge-info">{{ increment.isUrgent === true ? 'urgent' : 'regular' }}</span>
												</span>
											</div> <span class="pull-right">{{ getTime(increment.date_of_creation) }}</span>
											<div class="tx-gray-700 lh-3 ht-25 pd-t-5 pd-x-0 pd-b-0">Price range: {{ increment.price_minimum }}$ - {{ increment.price_maximum }}$</div>
											<div class="tx-gray-700 lh-3 ht-25 pd-t-5 pd-x-0 pd-b-0">Size: {{ increment.size }} sqft</div>
											<div class="tx-gray-700 lh-3 ht-25 pd-t-5 pd-x-0 pd-b-0">Location: {{ increment.size }} sqft</div>
										</div>
									</a>
									<div class="pos-relative lh-15 pd-r-80 pd-l-15 border border-bottom-0 border-left-0 border-right-0">
										<div class="text-truncate">	<a v-for="typeOfProperty in increment.type_of_property.split(',')" :key="typeOfProperty" class="tx-12 mg-r-10 text-capitalize tx-dark" href="javascript:;">#{{ typeOfProperty }}</a>
										</div>
										<div class="pos-absolute t-0 r-0">
											<a class="d-inline-block tx-20 wd-40 ht-40 border border-top-0 border-bottom-0 border-right-0 border-left-0" href="#">	<i class="ico-share ico--medium"></i>
												<span class="pos-absolute d-inline-block tx-20 wd-40 ht-40 border border-top-0 border-bottom-0 border-right-0"><i class="ico-bookmark ico--medium"></i></span>
											</a>
											<a class="d-inline-block tx-20 wd-40 ht-40 border border-top-0 border-bottom-0 border-right-0" href="#">	<i class="ico-bookmark ico--medium"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end -->
						<div class="bg-white pd-y-12 tx-center mg-t-15 mg-xs-t-30 shadow-base rounded">	<a :href="seeMore()" class="tx-gray-600 hover-info">Load more</a>
						</div>
					</div>
					<div class="col-md-2">
						<div class="full-height bg-success padd@@abcdefgh00ing-20 b-rad-md text-white ht-100p">
							<p class="text-center">Advertising.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-purple pd-y-40">
			<div class="container">
				<h1 class="tx-white">Statistics</h1>
				<div class="row">
					<div class="col-md-6">
						<p class="mg-t-50 tx-15 tx-left tx-white">The theme of this two-level luxury home is all about connecting indoor and outdoor living. Curtain walls of glass open the residence to outdoor spaces while an expansive central skylight floods both levels with light. The extravagant lower level is accessed via a dramatic floating staircase to reveal a full bar, glass-encased commercial wine cellar.</p>
					</div>
					<div class="col-md-6">
						<div class="wd-50p float-left d-flex align-items-center tx-semibold ">
							<div class="icon-box-icon pd-10 pd-l-0 tx-left">
								<img src="/static/images/price-tag.png" width="60">
							</div>
							<div class="icon-box-line1 pd-10 tx-white">	<span class="lh-2 tx-24 tx-left">$1,324,500</span>
								<span class="tx-left tx-white lh-2 tx-14 d-block">Median Listing Price</span>
							</div>
						</div>
						<div class="wd-50p float-left d-flex align-items-center tx-semibold ">
							<div class="icon-box-icon pd-10 pd-l-0 tx-left">
								<img src="/static/images/buyhouse.png" width="60">
							</div>
							<div class="icon-box-line1 pd-10 ">	<span class="tx-white lh-2 tx-24 tx-left">74543523</span>
								<span class="tx-white lh-2 tx-14 tx-left d-block">Buying proposal</span>
							</div>
						</div>
						<div class="wd-50p float-left d-flex align-items-center tx-semibold ">
							<div class="icon-box-icon pd-10 pd-l-0 tx-left">
								<img src="/static/images/renthouse.png" width="60">
							</div>
							<div class="icon-box-line1 pd-10 ">	<span class="lh-2 tx-white tx-24 tx-left">7446463</span>
								<span class="tx-white lh-2 tx-14 tx-left d-block">Renting proposal</span>
							</div>
						</div>
						<div class="wd-50p float-left d-flex align-items-center tx-semibold">
							<div class="icon-box-icon pd-10 pd-l-0 tx-left">
								<img src="/static/images/book.png" width="60">
							</div>
							<div class="icon-box-line1 pd-10">	<span class="tx-white lh-2 tx-24 tx-left">4563565</span>
								<span class="tx-white lh-2 tx-14 tx-left d-block">Articles and blogs for you</span>
							</div>
						</div>
						<div class="wd-50p float-left d-flex align-items-center tx-semibold ">
							<div class="icon-box-icon pd-10 pd-l-0 tx-left">
								<img src="/static/images/real-estate.png" width="60">
							</div>
							<div class="icon-box-line1 pd-10">	<span class="lh-2 tx-24 tx-left tx-white">76543754</span>
								<span class="tx-white lh-2 tx-14 tx-left d-block">Properties for sale</span>
							</div>
						</div>
						<div class="wd-50p float-left d-flex align-items-center tx-semibold">
							<div class="icon-box-icon pd-10 pd-l-0 tx-left ">
								<img src="/static/images/deal.png" width="60">
							</div>
							<div class="icon-box-line1 pd-10">	<span class="lh-2 tx-white tx-24 tx-left">4567</span>
								<span class="tx-white lh-2 tx-14 tx-left d-block">Transaction/day</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</v-layout>
</template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
  <script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Default'
  import moment from 'moment/moment'

  export default {
    /**
     * The name of the page.
     */
    name: 'home-index',

    data () {
      return {
        list: {
          count: null,
          variable: null,
          content: []
        },
        selectedCategory: 'leasing',
        category: 'buying_proposal',
        isLoading: false,
        selectedCities: [],
        cities: [],
        typeOfProposal: null
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    created: function () {
      this.findAll(this.category)
    },
    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      findAll: function (param) {
        this.typeOfProposal = (param === 'buying_proposal') ? 'for_sale' : 'for_rent'

        this.$http.get('api/proposals/list', {params: {status: 'is_active', size: 6, typeOfProposal: this.typeOfProposal}}).then(response => {
          this.list.variable = response.data.variable
          this.list.content = response.data.content
        }, response => {
          // get failed
          console.log(response)
        })
      },
      // function to load cities
      seeMore: function () {
        let returnurl
        returnurl = (this.typeOfProposal === 'for_sale') ? '/buy/list' : '/rent/list'
        return returnurl
      },
      // function to load cities
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('api/city', {params: query}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data.content
        }, response => {
          // get failed
          console.log(response)
        })
      },
      // function to display name of province and name of city
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      // function to start searching for cities after 3 characteres
      onChangeLocation: function (searchQuery) {
        // if the type query is equal or greater than 3 characteres
        // then load cities
        if (searchQuery.length >= 3) {
          let params = { q: searchQuery }
          this.asyncFind(params)
        }
      },
      getLink: function (id, type) {
        let url = (type === 'for_sale') ? '/buy/' + id : '/rent/' + id
        return url
      },
      selectCategory: function (payload) {
        this.findAll(payload)
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
