<template>
<div  class='bg-white'>
    
            <div class="pd-t-20 br-logo mg-x-auto wd-200">
                <a href="/" class="tx-30"><span>[</span>proov <i>+</i><span>]</span></a>
            </div>
        <section class='container pd-y-40'>
            <h1 v-if="$store.state.route.name == 'register'" class="tx-center tx-inverse tx-normal mg-b-30">Create your account in proov!</h1>
            <h1 v-if="$store.state.route.name == 'login'" class="tx-center tx-inverse tx-normal mg-b-30">Welcome back!</h1>
            <div class="row">
                <div class="row col-md-10 m-auto">
            <slot></slot>
            <section class='tx-left col-md-6'>
                <div class="pos-relative mg-b-20 pd-0 tx-24 pos-absolute"><i class="wd-25 ht-25 background-size-100p pos-absolute t-25" style="background:url(/static/images/internet.png) no-repeat;"></i>
                    <h3 class="tx-20 tx-inverse mg-t-0 mg-r-0 mg-b-0 mg-l-60">Don’t miss a thing</h3>
                    <p class="tx-15 mg-l-60 tx-gray-600 mg-b-0">Save your dream homes and stay updated on your favourite searches, across any device.</p>
                </div>
                <div class="pos-relative mg-b-20 pd-0 tx-24 pos-absolute"><i class="wd-25 ht-25 background-size-100p pos-absolute t-25" style="background:url(/static/images/star.png) no-repeat;"></i>
                    <h3 class="tx-20 tx-inverse mg-t-0 mg-r-0 mg-b-0 mg-l-60">Get organised</h3>
                    <p class="tx-15 mg-l-60 tx-gray-600 mg-b-0">Receive open for inspection planners and our comprehensive weekly auction results.</p>
                </div>
                <div class="pos-relative mg-b-20 pd-0 tx-24 pos-absolute"><i class="wd-25 ht-25 background-size-100p pos-absolute t-25" style="background:url(/static/images/clipboards.png) no-repeat;"></i>
                    <h3 class="tx-20 tx-inverse mg-t-0 mg-r-0 mg-b-0 mg-l-60">Make the most of your home</h3>
                    <p class="tx-15 mg-l-60 tx-gray-600 mg-b-0">Claim your home and access insights and tools to help you understand the market.</p>
                </div>
            </section>
            </div>
            </div>
        </section>
    <footer>

                <div class="container">

<div class="pd-x-8 pd-b-15 pd-t-30 d-flex">
    <div class="mg-r-30">
      <ul class="pd-l-0">
          <li class="d-inline-block">
            <a class="d-inline-block pos-relative" href="/buyer/">Buyer</a>
          </li>
          <li class="d-inline-block mg-l-25">
            <a class="d-inline-block pos-relative" href="/tenant/">Tenant</a>
          </li>
          <li class="d-inline-block mg-l-25">
            <a class="d-inline-block pos-relative" href="/seller/">Seller</a>
          </li>
          <li class="d-inline-block mg-l-25">
            <a class="d-inline-block pos-relative" href="/Lessor/">Lessor</a>
          </li>
      </ul>

      

        <small class="tx-13 d-block mg-t-10">
          The vone plus product
        </small>

      <small class="d-block tx-13 mg-t-10">
        © 2017. Proov, Inc. All Rights Reserved.
      </small>
    </div>

    <div class="mg-l-auto mg-t-10">
      <ul>
          <li class="d-inline-block">
            <a class="d-inline-block" rel="nofollow" href="javascript:;">
              <img class="d-inline-block ht-32 wd-32" alt="Twitter" title="Twitter" src="https://public-assets.envato-static.com/assets/header-footer/social/twitter-0ebe984d9b2b8c78b67126b285558581951a217bdd4dededf36127a2fdfcb371.svg">
</a>          </li>
          <li class="d-inline-block mg-l-15">
            <a class="d-inline-block" rel="nofollow" href="javascript:;">
              <img class="d-inline-block ht-32 wd-32" alt="Facebook" title="Facebook" src="https://public-assets.envato-static.com/assets/header-footer/social/facebook-1f1edee9e1cd28cd2df88ff3a916f5f67f39fa61031a2276a81406d5ec264d08.svg">
</a>          </li>
          <li class="d-inline-block mg-l-15">
            <a class="d-inline-block" rel="nofollow" href="javascript:;">
              <img class="d-inline-block ht-32 wd-32" alt="YouTube" title="YouTube" src="https://public-assets.envato-static.com/assets/header-footer/social/youtube-6e2be9a9ee897454619f4a137cbe6e5e17be834536a4ea74a5638e2d8f6b9649.svg">
</a>          </li>
          <li class="d-inline-block mg-l-15">
            <a class="d-inline-block" rel="nofollow" href="javascript:;">
              <img class="d-inline-block ht-32 wd-32" alt="Instagram" title="Instagram" src="https://public-assets.envato-static.com/assets/header-footer/social/instagram-7527061010a48c8afcf551be64441f1e32396592b1fdb7bb71572ca65e46e877.svg">
</a>          </li>
          <li class="d-inline-block mg-l-15">
            <a class="d-inline-block" rel="nofollow" href="javascript:;">
              <img class="d-inline-block ht-32 wd-32" alt="Pinterest" title="Pinterest" src="https://public-assets.envato-static.com/assets/header-footer/social/pinterest-bab0087092edff09204c4954d3ef72c5805281d8f10cca6b51955235722e530b.svg">
</a>          </li>
      </ul>
    </div>
  </div>

                      

                </div>
  
        </footer>
    </div>
</template>

<script>
/* ============
 * uthentication Layout
 * ============
 *
 * Used for the register and login pages.
 *
 * Layouts are used to store a lot of shared code.
 * This way the app stays clean.
 */

export default {
  /**
   * The name of the layout.
   */
  name: 'authentication-layout'
}
</script>
