<template>
  <div>
    <menu-layout context="default" />
    <div v-if="$store.state.route.name !== 'home.index'" class="bg-white">
      <div class="container">
        <ol class="breadcrumb breadcrumb-alt">
          <li class="breadcrumb-item"><a href="#">Home</a>
          </li>
          <li class="breadcrumb-item active">Form layouts</li>
        </ol>
      </div>
    </div>
    <!-- Content will be placed here -->
    <slot></slot>


        <footer>

                <div class="container">

<div class="pd-x-8 pd-b-15 pd-t-30 d-flex">
    <div class="mg-r-30">
      <ul class="pd-l-0">
          <li class="d-inline-block">
            <a class="d-inline-block pos-relative" href="/buyer/">Buyer</a>
          </li>
          <li class="d-inline-block mg-l-25">
            <a class="d-inline-block pos-relative" href="/tenant/">Tenant</a>
          </li>
          <li class="d-inline-block mg-l-25">
            <a class="d-inline-block pos-relative" href="/seller/">Seller</a>
          </li>
          <li class="d-inline-block mg-l-25">
            <a class="d-inline-block pos-relative" href="/Lessor/">Lessor</a>
          </li>
      </ul>

      

        <small class="tx-13 d-block mg-t-10">
          The vone plus product
        </small>

      <small class="d-block tx-13 mg-t-10">
        © 2017. Proov, Inc. All Rights Reserved.
      </small>
    </div>

    <div class="mg-l-auto mg-t-10">
      <ul>
          <li class="d-inline-block">
            <a class="d-inline-block" rel="nofollow" href="javascript:;">
              <img class="d-inline-block ht-32 wd-32" alt="Twitter" title="Twitter" src="https://public-assets.envato-static.com/assets/header-footer/social/twitter-0ebe984d9b2b8c78b67126b285558581951a217bdd4dededf36127a2fdfcb371.svg">
</a>          </li>
          <li class="d-inline-block mg-l-15">
            <a class="d-inline-block" rel="nofollow" href="javascript:;">
              <img class="d-inline-block ht-32 wd-32" alt="Facebook" title="Facebook" src="https://public-assets.envato-static.com/assets/header-footer/social/facebook-1f1edee9e1cd28cd2df88ff3a916f5f67f39fa61031a2276a81406d5ec264d08.svg">
</a>          </li>
          <li class="d-inline-block mg-l-15">
            <a class="d-inline-block" rel="nofollow" href="javascript:;">
              <img class="d-inline-block ht-32 wd-32" alt="YouTube" title="YouTube" src="https://public-assets.envato-static.com/assets/header-footer/social/youtube-6e2be9a9ee897454619f4a137cbe6e5e17be834536a4ea74a5638e2d8f6b9649.svg">
</a>          </li>
          <li class="d-inline-block mg-l-15">
            <a class="d-inline-block" rel="nofollow" href="javascript:;">
              <img class="d-inline-block ht-32 wd-32" alt="Instagram" title="Instagram" src="https://public-assets.envato-static.com/assets/header-footer/social/instagram-7527061010a48c8afcf551be64441f1e32396592b1fdb7bb71572ca65e46e877.svg">
</a>          </li>
          <li class="d-inline-block mg-l-15">
            <a class="d-inline-block" rel="nofollow" href="javascript:;">
              <img class="d-inline-block ht-32 wd-32" alt="Pinterest" title="Pinterest" src="https://public-assets.envato-static.com/assets/header-footer/social/pinterest-bab0087092edff09204c4954d3ef72c5805281d8f10cca6b51955235722e530b.svg">
</a>          </li>
      </ul>
    </div>
  </div>

                      

                </div>
  
        </footer>
  </div>
</template>

<script>
  /* ============
   * Default Layout
   * ============
   *
   * Used for the home and account pages.
   *
   * Layouts are used to store a lot of shared code.
   * This way the app stays clean.
   */
  import MenuLayout from '@/components/Menu'

  export default {
    /**
     * The name of the layout.
     */
    name: 'default-layout',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        menuCollapsed: false
      }
    },

    /**
     * The methods that the layout can use.
     */
    methods: {
      /**
       * Will log the user out.
       */
      logout: function () {
        this.$store.dispatch('auth/logout')
      },

      /**
       * Will toggle the menu.
       */
      toggleMenu: function () {
        this.menuCollapsed = !this.menuCollapsed
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      MenuLayout
    }

  }
</script>
