<template>
 <transition name="modal">
 <div class="modal-mask" @click="close" v-show="show">
   <div class="modal-wrapper">
     <div class="modal-container wd-100p">
           <div class="card" @click.stop>
           <div class="card-body pd-x-20 pd-xs-40">
             <h5 class="tx-xs-24 tx-normal tx-gray-900 mg-b-15">Forgot password</h5>
             <p class="mg-b-30 tx-14">Don't remember your password? send a reset link by filling the input field, it only takes less than a minute.</p>
             <div class="form-layout form-layout-1">
               <div class="row mg-b-25">
                 <div class="col-lg-12">
                   <div class="form-group mg-b-10-force" id="location">
                     <label>City</label>
     <multiselect
       v-model="model.location"
       id="ajax"
       label="name"
       track-by="id"
       placeholder="Type to search"
       open-direction="bottom"
       :custom-label="nameWithProvince"
       :clear-on-select="true"
       :options="cities"
       :searchable="true"
       :loading="isLoading"
       :internal-search="false"
       :close-on-select="true"
       :options-limit="300"
       :max-height="600"
       :show-no-results="true"
       :multiple="true"
       @search-change="onChangeLocation">
       <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
     </multiselect>
     <span class="error"></span>
                   </div>
                 </div><!-- col-4 -->
                 <div class="col-lg-3">
                   <div class="form-group mg-b-10-force" id="status">
                     <label>Status of proposal</label>
    <select v-model="model.status" class="form-control input-md">
                                         <option value="">Select a value</option>
                                         <option v-for="increment in isActivated" :value="increment">{{ increment }}</option>
                                       </select>
                                       <span class="error"></span>
                   </div>
                 </div><!-- col-4 -->
                 <div class="col-lg-3">
                   <div class="form-group mg-b-10-force" id="urgent">
                     <label>Urgency of proposal</label>
   <select v-model="model.urgent" class="form-control input-md">
                                                                               <option value="">Select a value</option>
                                                                               <option value="urgency_regular">regular</option>
                                                                               <option value="urgency_in_rush">in rush</option>
                                                                           </select>
                                                                           <span class="error"></span>
                   </div>
                 </div><!-- col-4 -->
                 <div class="col-lg-3">
                   <div class="form-group mg-b-10-force" id="ageOfProperty">
                     <label>age of property</label>
                                                                           <select v-model="model.ageOfProperty" class="form-control input-md">
                                                                               <option value="">Select a value</option>
                                                                               <option value="is_new">new </option>
                                                                               <option value="is_used">in use</option>
                                                                           </select>
                                                                           <span class="error"></span>
                   </div>
                 </div><!-- col-8 -->
                 <div class="col-lg-3">
                   <div class="form-group mg-b-10-force" id="size">
                     <label>Size of property</label>
                                                                           <numeral-input v-model="model.size" placeholderValue="Size of property" className="form-control" />
   <span class="error"></span>
                   </div>
                 </div><!-- col-4 -->
                 <div class="col-lg-6">
                   <div class="form-group mg-b-10-force" id="priceMinimum">
                     <label>price min</label>
   <numeral-input v-model="model.priceMinimum" format="$ 0,0" placeholderValue="Minimum price" className="form-control" />
   <span class="error"></span>
                   </div>
                 </div><!-- col-4 -->
                 <div class="col-lg-6">
                   <div class="form-group mg-b-10-force" id="priceMaximum">
                     <label>price max</label>
   <numeral-input v-model="model.priceMaximum" format="$ 0,0" placeholderValue="Maximum price" className="form-control" />
   <span class="error"></span>
                   </div>
                 </div><!-- col-4 -->
                 <div class="col-lg-6">
                   <div class="form-group mg-b-10-force" id="bedrooms">
                     <label>Bedroom min</label>
                                                                           <select v-model="model.bedrooms" class="form-control input-md">
                                                                               <option value="">Select a value</option>
                                                                               <option v-for="n in 9" :value="n">{{n}}</option>
                                                                               <option value="10">10+</option>
                                                                           </select>
                                                                           <span class="error"></span>
                   </div>
                 </div><!-- col-4 -->
                 <div class="col-lg-6">
                   <div class="form-group mg-b-10-force" id="bathrooms">
                     <label>Bathroom min</label>
                                                                           <select v-model="model.bathrooms" class="form-control input-md">
                                                                               <option value="">Select a value</option>
                                                                               <option v-for="n in 9" :value="n">{{n}}</option>
                                                                               <option value="10">10+</option>
                                                                           </select>
                                                                           <span class="error"></span>
                   </div>
                 </div><!-- col-4 -->
                 <div class="col-lg-12">
                   <div class="form-group mg-b-10-force" id="typeOfProperty">
                   <label>Characteristics</label>
                     <div class="row">
   <div v-for="increment in typeOfProperty" class="col-md-4">
     <label class="form-check-label">
       <input class="form-check-input" type="checkbox" v-model="model.typeOfProperty" :value="increment"> {{ increment }}
     </label>
   </div>
   </div>
   <span class="error"></span>
                   </div>
                 </div><!-- col-4 -->
               </div><!-- row -->

             </div><!-- form-layout -->
           </div><!-- card-body -->
         </div>
     </div>
   </div>
 </div>
</transition>
 </template>

<script>
/* ============
* Home page
* ============
*
* Home page of the entire web app.
*/
import NumeralInput from '@/components/NumeralInput'
import * as constants from '@/constants/index'

export default {
/**
* The name of the page.
*/
  name: 'modalrefinesearch',
  props: ['show'],
  /**
  * The data that can be used by the page.
  *
  * @returns {Object} The view-model data.
  */
  data () {
    return {
      model: {
        location: [],
        status: '',
        urgent: '',
        ageOfProperty: '',
        bathrooms: '',
        bedrooms: '',
        typeOfProperty: [],
        typeOfProposal: 'for_sale',
        priceMinimum: null,
        priceMaximum: null,
        size: null
      },
      isLoading: false,
      cities: [],
      message: {
        status: false,
        body: {
          field: null,
          message: null
        }
      }
    }
  },
  /**
   * The methods the page can use.
   */
  methods: {
  /**
   * Will log the user in.
   *
   * @param {Object} user The user to be logged in.
   */
    close: function () {
      this.$emit('close')
    },
    nameWithProvince: function ({ name, province }) {
      return `${province.name}, ${name}`
    },
    asyncFind: function (query) {
      this.isLoading = true
      this.$http.get('/rest/city', {params: {q: query}}).then(response => {
        // get status
        this.isLoading = false
        this.cities = response.data
      }, response => {
        // get failed
        console.log(response)
      })
    },
    onChangeLocation: function (searchQuery) {
      if (searchQuery.length >= 3) {
        this.asyncFind(searchQuery)
      }
    }
  },

  computed: {
    isActivated: function () {
      return constants.IS_ACTIVATED
    },
    typeOfProperty: function () {
      return constants.TYPE_FOR_SALE
    },
    getMessage: function () {
      if (this.$store.state.message.object.status) {
        this.model = {password: null, rePassword: null, oldPassword: null}
      }
      return this.$store.state.message
    }
  },
  mounted: function () {
    document.addEventListener('keydown', (e) => {
      if (this.show && e.keyCode === 27) {
        this.close()
      }
    })
  },
  /**
   * The components the page can use.
   */
  components: {
    NumeralInput
  }
}
</script>
