<template>
 <transition name="modal">
 <div class="modal-mask" @click="close" v-show="show">
   <div class="modal-wrapper">
     <div class="modal-container wd-950" @click.stop>

hjhjh
          <div v-show="false" id="pricing-and-setup" class="page-section bg-gray">
    <div class="container-lg p-responsive">
      <h2 class="f1 mb-4">Pricing and setup</h2>
      <div id="marketplace-plans-container" class="clearfix" data-pjax-container="">
        
<div class="col-md-6 float-md-left pr-md-6 mb-4 mb-md-0">
  
<ul class="filter-list ml-md-n3 mr-md-n3">
    <li>
      <a href="javascript:;" class="filter-item ws-normal d-flex flex-justify-between p-2 p-md-3 mb-0 selected" data-pjax="" data-pjax-preserve-scroll="">
        
<div class="flex-auto flex-self-center">
  <h4 class="f3 d-inline-block marketplace-plan-emphasis">Open Source
  </h4>
  <p class="text-small mb-0 pr-2">We offer free CI/CD for Open Source projects with 4x parallelism.</p>
</div>
  <span class="f3 float-right marketplace-plan-emphasis">$0</span>

      </a>
    </li>
    <li>
      <a href="javascript:;" class="filter-item ws-normal d-flex flex-justify-between p-2 p-md-3 mb-0 " data-pjax="" data-pjax-preserve-scroll="">
        
<div class="flex-auto flex-self-center">
  <h4 class="f3 d-inline-block marketplace-plan-emphasis">Free for Small Projects
  </h4>
  <p class="text-small mb-0 pr-2">Free and unlimited plan for private repositories.</p>
</div>
  <span class="f3 float-right marketplace-plan-emphasis">$0</span>

      </a>
    </li>
    <li>
      <a href="javascript:;" class="filter-item ws-normal d-flex flex-justify-between p-2 p-md-3 mb-0 " data-pjax="" data-pjax-preserve-scroll="">
        
<div class="flex-auto flex-self-center">
  <h4 class="f3 d-inline-block marketplace-plan-emphasis">Bootstrap
  </h4>
  <p class="text-small mb-0 pr-2">CI/CD with 2x parallelism for small teams.</p>
</div>
  <div class="text-small text-right lh-condensed flex-self-center">
    <span class="f3 marketplace-plan-emphasis">$69</span>
    <span class="marketplace-plan-per-time d-block">/&nbsp;month</span>
  </div>
  <div class="text-small text-right lh-condensed d-none flex-self-center">
    <span class="f3 marketplace-plan-emphasis">$690</span>
    <span class="marketplace-plan-per-time d-block">/&nbsp;year</span>
  </div>

      </a>
    </li>
    <li>
      <a href="javascript:;" class="filter-item ws-normal d-flex flex-justify-between p-2 p-md-3 mb-0 " data-pjax="" data-pjax-preserve-scroll="">
        
<div class="flex-auto flex-self-center">
  <h4 class="f3 d-inline-block marketplace-plan-emphasis">Startup
  </h4>
  <p class="text-small mb-0 pr-2">CI/CD with 4x parallelism for teams that are shipping regularly.</p>
</div>
  <div class="text-small text-right lh-condensed flex-self-center">
    <span class="f3 marketplace-plan-emphasis">$189</span>
    <span class="marketplace-plan-per-time d-block">/&nbsp;month</span>
  </div>
  <div class="text-small text-right lh-condensed d-none flex-self-center">
    <span class="f3 marketplace-plan-emphasis">$1,890</span>
    <span class="marketplace-plan-per-time d-block">/&nbsp;year</span>
  </div>

      </a>
    </li>
</ul>

</div>
<div class="col-md-6 float-md-left pl-md-6">
  
<div class="position-relative overflow-hidden bg-white rounded-1 box-shadow-large p-4 mb-3">
  <div class="position-absolute top-0 left-0 width-full bg-blue pt-1"></div>
  <div class="lh-condensed text-gray-light text-small">Semaphore</div>
  <h3 class="f2 text-normal lh-condensed mb-2">Open Source</h3>
  <p class="mb-3 lh-condensed">We offer free CI/CD for Open Source projects with 4x parallelism.</p>
    <ul class="list-style-none mb-4">
        <li class="mb-1"><svg class="octicon octicon-check text-green mr-2" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>
          Unlimited public repositories
        </li>
        <li class="mb-1"><svg class="octicon octicon-check text-green mr-2" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>
          Unlimited users
        </li>
        <li class="mb-1"><svg class="octicon octicon-check text-green mr-2" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>
          4x parallel CI/CD jobs
        </li>
    </ul>


  <form action="/marketplace/semaphore/order/MDIyOk1hcmtldHBsYWNlTGlzdGluZ1BsYW41MjA=" accept-charset="UTF-8" method="get">
    <div class="d-lg-flex flex-items-center">
      <div class="mb-2 mb-lg-0">
          <button class="btn btn-primary px-6 py-2 d-block d-md-inline-block text-center width-full">
            Buy Open source pack
          </button>
      </div>
      <div class="" style="white-space:normal;">
          <p class="text-small ml-lg-3 mb-0 lh-condensed">Next: Confirm your installation location.</p>
      </div>
    </div>
</form></div>
  <p class="text-small text-center text-gray mx-6 lh-condensed">
    Semaphore is provided by a third-party and is governed by
      separate <a href="https://semaphoreci.com/tos?utm_source=github&amp;utm_medium=partner&amp;utm_campaign=ghmarketplace">terms</a>,
      <a href="https://semaphoreci.com/privacy?utm_source=github&amp;utm_medium=partner&amp;utm_campaign=ghmarketplace">privacy policy</a>,
    and
      <a href="https://semaphoreci.com/support?utm_source=github&amp;utm_medium=partner&amp;utm_campaign=ghmarketplace">support documentation</a>.
  </p>

</div>

      </div>
    </div>
  </div>

  <div v-show="false" class="page-section bg-gray">
  <div class="container-lg p-responsive">
      <h1 class="f1 mb-4">Review your order</h1>
    <div class="clearfix">
      <div class="col-md-6 pr-md-6 float-md-left mb-4 mb-md-0">
        <div class="position-relative bg-white rounded-1 box-shadow-large p-4 mb-3">
          <div class="position-absolute top-0 left-0 width-full bg-blue pt-1"></div>
          <div class="lh-condensed text-gray-light text-small">
            Semaphore
          </div>
          <div class="dropdown js-menu-container">
              <h2 class="f2 text-normal lh-condensed mb-2 ">Open Source</h2>
          </div>
          <p class="mb-3 lh-condensed">We offer free CI/CD for Open Source projects with 4x parallelism.</p>
          <ul class="list-style-none mb-4">
              <li class="mb-1"><svg class="octicon octicon-check mr-2 text-green" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>Unlimited public repositories</li>
              <li class="mb-1"><svg class="octicon octicon-check mr-2 text-green" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>Unlimited users</li>
              <li class="mb-1"><svg class="octicon octicon-check mr-2 text-green" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>4x parallel CI/CD jobs</li>
          </ul>
            <div class="border-top pt-2 mb-2 d-flex flex-md-items-center flex-justify-between">
              <div class="d-flex flex-md-items-center">
                  <span class="f2 pr-2">$0</span>
                  <span class="text-small text-gray-light lh-condensed-ultra d-block mt-2 mt-md-0">
                    / month
                  </span>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-6 pl-md-6 float-md-left js-marketplace-order-preview">
        



  <div class="border-bottom pb-3 clearfix">
      <div class="float-left lh-condensed">
          <h4>Order total</h4>
          <span class="text-small text-gray d-block">
            Open Source
          </span>
      </div>
        <p class="float-right mb-0 lh-condensed">
          <span class="f4 d-block">$0.00</span><span class="text-small text-gray d-block text-right">/ month</span>
        </p>
  </div>

      <div class="border-bottom py-3 clearfix">
        <div class="float-left lh-condensed">
          <h4>Due today</h4>
          <span class="text-small text-gray d-block">Prorated for 6/6-7/5</span>
        </div>
        <p class="float-right mb-0 lh-condensed"><span class="h2 d-block">$0.00</span></p>
      </div>
<div class="border-bottom py-3">
  <div class="clearfix mb-2">
    <h4 class="float-left">Billing information</h4>
  </div>
  <div class="clearfix d-sm-flex">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="d-flex flex-items-center">
        <div class="pr-2">
          <img src="https://avatars1.githubusercontent.com/u/1109161?s=96&amp;v=4" alt="avatar" width="48" height="48" class="avatar">
        </div>
        <div>
          <ul class="list-style-none lh-condensed mb-0">
            <li>
              <strong>Mobiot Yves André</strong>
            </li>
            <li class="text-gray text-small">
                Personal account
            </li>
          </ul>
          <div class="select-menu js-menu-container position-relative">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-3">
  <p class="text-small text-gray text-center mb-0 lh-condensed">
    By clicking "Complete order and begin installation", you are agreeing to
      the <a href="#marketplace-end-user-agreement-modal" rel="facebox[.facebox-responsive]">Marketplace Terms of Service</a>,
    Semaphore’s <a target="_blank" rel="noopener noreferrer" href="https://semaphoreci.com/tos?utm_source=github&amp;utm_medium=partner&amp;utm_campaign=ghmarketplace">Terms of Service</a> and
    the <a target="_blank" rel="noopener noreferrer" href="https://semaphoreci.com/privacy?utm_source=github&amp;utm_medium=partner&amp;utm_campaign=ghmarketplace">Privacy Policy</a>.

</p>

  
<div id="marketplace-end-user-agreement-modal" style="display: none;">
  <h2 class="facebox-header" data-facebox-id="facebox-header" id="facebox-header">
    GitHub Marketplace Terms of Service <span class="text-gray f4">v1.11 Marketplace Terms of Ser</span>
  </h2>
  <div class="markdown-body " style="max-height: 400px; overflow-y:auto;">
    <h2>GitHub Marketplace Terms of Service</h2>
<p>Welcome to GitHub Marketplace ("Marketplace")! We're happy you're here. Please read these Terms of Service ("Marketplace Terms") carefully before accessing or using GitHub Marketplace. GitHub Marketplace is a platform that allows you to purchase developer products (for free or for a charge) that can be used with your GitHub.com account ("Developer Products"). Although sold by GitHub, Inc. ("GitHub", "we", "us"), Developer Products may be developed and maintained by either GitHub or by third-party software providers, and may require you to agree to a separate terms of service. Your use and/or purchase of Developer Products is subject to these Marketplace Terms and to the applicable fees and may also be subject to additional terms as provided by the third party licensor of that Developer Product (the "Product Provider").</p>
<p>By using Marketplace, you are agreeing to be bound by these Marketplace Terms.</p>
<p>Effective Date: May 22, 2017</p>
<h3>A. GitHub.com's Terms of Service</h3>
<p>Marketplace is provided by GitHub, and is governed by either the <a href="https://help.github.com/articles/github-terms-of-service/">Terms of Service</a> or the <a href="https://help.github.com/articles/github-corporate-terms-of-service/">Corporate Terms of Service</a> ("GitHub Terms"), depending on the type of account you're on, as well as these Marketplace Terms. If you configure the Developer Products to work with one or more accounts on the GitHub.com website, your use of the Developer Products will also be governed by your applicable GitHub Terms. Any capitalized terms not defined in this document will be defined in your applicable GitHub Terms.</p>
<p>You may not use a Developer Product to violate your applicable GitHub Terms. Many of these Developer Products are used exclusively for performing automated tasks. In addition, multiple Users may direct the actions of a Developer Product. However, if you purchase and/or set up a Developer Product on your account, or you are an owner of an account with an integrated Developer Product, then you will be responsible for the Developer Product's actions that are performed on or through your account.</p>
<h3>B. Use Requirements</h3>
<p>In order to use Marketplace, you must be 13 years of age or older (if you live in the United States; if you live in another country, you must comply with your country's minimum age laws), have a valid GitHub account, and have agreed to your applicable GitHub Terms and these Marketplace Terms.</p>
<p>If you are agreeing to these Marketplace Terms on behalf of a company, organization, or other legal entity, you represent that you have the authority to bind that entity, its affiliates, and all users who access the Marketplace on its behalf to these Marketplace Terms. If you do not have authority, you must not accept these Marketplace Terms and you may not use the Marketplace services.</p>
<h3>C. Developer Products and Product Providers</h3>
<p>If you install and/or purchase a Developer Product, then you are purchasing the Developer Products from GitHub and you are required to make the related payments directly to GitHub. However, you are receiving access to and the rights to use that Developer Product from a Product Provider, not from GitHub (unless it's a GitHub-owned Developer Product). The Product Provider is solely responsible for the Developer Product it provides, the content therein, and any claims that you or any other party may have relating to that Developer Product or your use of that Developer Product.</p>
<p>We are not a party to the agreement between you and the Product Provider with respect to that Developer Product. We are not responsible for that Developer Product, the content in it, or any claims that you or any other party may have relating to that Developer Product or your use of that Developer Product. However, we are a third party beneficiary of the agreement between you and the Product Provider for each Developer Product, and we will have the right (and will be deemed to have accepted the right) to enforce that agreement against you as a third party beneficiary.</p>
<h3>D. Payment, Billing Schedule, and Cancellation</h3>
<p>All payments for Developer Products will go through GitHub. The terms of your payment and fees will be governed by <a href="https://help.github.com/articles/github-terms-of-service/#k-payment">Section K. Payment</a>, or the analogous section of your applicable GitHub Terms. By using the Marketplace, you agree to pay GitHub any charge incurred in connection with your purchase of the Developer Product. Each purchase is an electronic contract between you and GitHub, and you and the Product Provider. You are responsible for providing us with a valid means of payment for purchases of Developer Products. If you are only purchasing free Developer Products, you are not required to provide payment information.</p>
<p><strong>Billing Schedule; No Refunds.</strong> Your payment schedule is determined by the payment schedule you chose when you created your GitHub account (e.g. free, monthly, annual). For monthly or yearly payment plans, Marketplace purchases are billed in advance on a monthly or yearly basis respectively and are non-refundable. There will be no refunds or credits for partial months of service, downgrade refunds, or refunds for months unused; however, the service will remain active for the length of the paid billing period. If you would like to cancel the Developer Product services, you can do so by going into your Settings in the global navigation bar at the top of the screen.</p>
<p>If you would have a question, concern, or dispute regarding your billing, please contact <a href="https://github.com/contact">GitHub Support</a>.</p>
<h3>E. Your Data and GitHub's Privacy Policy</h3>
<p><strong>Privacy.</strong> When you purchase or subscribe to a Developer Product, GitHub must share certain Personal Information (as defined in the <a href="https://help.github.com/articles/github-privacy-statement/">GitHub Privacy Statement</a>) with the Product Provider in order to provide you with the Developer Product, regardless of your privacy settings. Depending on the requirements of the Developer Product you choose, GitHub may share as little as your user account name, ID, and primary email address or as much as access to the content in your repositories, including the ability to read and modify your private data. You will be able to view the scope of the permissions the Developer Product is requesting, and accept or deny them, when you grant it authorization via OAuth. In line with <a href="https://help.github.com/articles/github-privacy-statement/">GitHub's Privacy Statement</a>, we will only provide the Product Provider with the minimum amount of information necessary for the purpose of the transaction.</p>
<p>If you cancel your Developer Product services and revoke access through your account settings, the Product Provider will no longer be able to access your account. The Product Provider is responsible for deleting your Personal Information from its systems within its defined window. Please contact the Product Provider to ensure that your account has been properly terminated.</p>
<p><strong>Data Security Disclaimer.</strong> When you purchase or subscribe to a Developer Product, the Developer Product security and their custodianship of your data is the responsibility of the Product Provider. You are responsible for understanding the security considerations of the purchase and use of the Developer Product for your own security, risk and compliance considerations.</p>
<h3>F. Rights to Developer Products</h3>
<p>The rights granted to you to use any Developer Product are personal to you, and are not transferrable to any third parties, such as your end users. Any rights to provide or resell Developer Products to third parties must be granted directly by the Product Provider.</p>
<h3>G. Updates to Developer Products</h3>
<p>From time to time, GitHub.com may check with remote servers (hosted by GitHub or by third parties) for available updates to Developer Products, including but not limited to bug fixes or enhanced functionality. You agree that such updates will be automatically requested, downloaded, and installed without further notice to you.</p>
<h3>H. Developer Product Blocking</h3>
<p>GitHub may block a Developer Product from our servers, or disable its functionality, for legal or policy reasons. In the event that we must block or disable a Developer Product, we will work with the Product Provider to notify affected users.</p>
<h3>I. Disclaimer; Limitation of Liability; Release and Indemnification</h3>
<p><strong>Disclaimer.</strong> Your use of Marketplace and any Developer Products obtained through Marketplace is at your sole risk. Other than as expressly stated, GitHub provides Marketplace and Developer Products “AS IS” and “AS AVAILABLE.” GitHub does not make or imply any warranties or commitments about Marketplace and Developer Products, including but not limited to the specific functionality available through Marketplace and Developer Products, their reliability, availability, or ability to meet your need.</p>
<p>We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently, Marketplace (or any part of it) with or without notice.</p>
<p><strong>Limitation of Liability.</strong> You understand and agree that GitHub will not be liable to you or any third party for any loss of profits, use, goodwill, or data, or for any incidental, indirect, special, consequential or exemplary damages, however arising, that result from: (i) your use or inability to use Marketplace or any Developer Products; (ii) any modification, price change, suspension or discontinuance of Marketplace or Developer Products; (iii) Marketplace generally or the software or systems that make Marketplace available; (iv) unauthorized access to or alterations of your transmissions or data; (v) statements or conduct of any third party, Product Provider, or Developer Product on Marketplace; (vi) any other user interactions that you input or receive through your use of Marketplace; or (vii) any other matter relating to Marketplace.</p>
<p><strong>Release and Indemnification.</strong> If you have a dispute with one or more Product Providers, you agree to release GitHub from any and all claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such disputes.</p>
<p>You agree to indemnify us, defend us, and hold us harmless from and against any and all claims, liabilities, and expenses, including attorneys’ fees, arising out of your use of Marketplace, including but not limited to your violation of these Marketplace Terms, provided that GitHub (1) promptly gives you written notice of the claim, demand, suit or proceeding; (2) gives you sole control of the defense and settlement of the claim, demand, suit or proceeding (provided that you may not settle any claim, demand, suit or proceeding unless the settlement unconditionally releases GitHub of all liability); and (3) provides to you all reasonable assistance, at your expense.</p>
<h3>J. Miscellanea</h3>
<ol>
<li>
<p><strong>Governing Law.</strong> You agree that these Marketplace Terms and your use of the Developer Products are governed under California law and any dispute related to the Developer Products must be brought in a tribunal of competent jurisdiction located in or near San Francisco, California.</p>
</li>
<li>
<p><strong>Non-Assignability.</strong> GitHub may assign or delegate these Marketplace Terms and/or the  <a href="https://help.github.com/articles/github-privacy-statement/">GitHub's Privacy Statement</a>, in whole or in part, to any person or entity at any time with or without your consent. You may not assign or delegate any rights or obligations under the Marketplace Terms or Privacy Statement without our prior written consent, and any unauthorized assignment and delegation by you is void.</p>
</li>
<li>
<p><strong>Severability, No Waiver, and Survival.</strong> If any part of these Marketplace Terms are held invalid or unenforceable, that portion of the Marketplace Terms will be construed to reflect the parties’ original intent. The remaining portions will remain in full force and effect. The failure of GitHub to exercise or enforce any right or provision of these Marketplace Terms shall not constitute a waiver of such right or provision. Our rights under these Marketplace Terms will survive any termination of these Marketplace Terms.</p>
</li>
<li>
<p><strong>No Modifications; Complete Agreement.</strong> These Marketplace Terms may only be modified by a written amendment signed by an authorized representative of GitHub, or by the posting by GitHub of a revised version. These Marketplace Terms, together with <a href="https://help.github.com/articles/github-privacy-statement/">GitHub's Privacy Statement</a>, represent the complete and exclusive statement of the agreement between you and us. These Marketplace Terms supersede any proposal or prior agreement oral or written, and any other communications between you and GitHub relating to the subject matter of these terms.</p>
</li>
<li>
<p><strong>Section Headings.</strong> Throughout these Marketplace Terms, each section includes titles of the following terms and conditions. These section titles are not legally binding.</p>
</li>
<li>
<p><strong>License to GitHub Policies.</strong> These Marketplace Terms are licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution license</a>. You may use it freely under the terms of the Creative Commons license.</p>
</li>
<li>
<p><strong>Contact Us.</strong> Questions about the Marketplace Terms? <a href="https://github.com/contact">Contact us</a>.</p>
</li>
</ol>
  </div>
</div>


</div>
<!-- '"` --><!-- </textarea></xmp> --><form action="/marketplace/semaphore/order/MDIyOk1hcmtldHBsYWNlTGlzdGluZ1BsYW41MjA=" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="viKvSPeGNqf5gsO5QF/wBQId9erQU+1C0LuIZtyL+4KiwLRPptZh2dtnAWIIzpnVK23G0Ez1QuB7incQeDITdw==">
  <input type="hidden" name="quantity" id="quantity" value="1" class="form-control">
  <input type="hidden" name="account" id="account" value="yvau" class="form-control">
    <input type="hidden" name="marketplace_listing_id" id="marketplace_listing_id" value="MDE4Ok1hcmtldHBsYWNlTGlzdGluZzI2NA==" class="form-control">
    <input type="hidden" name="marketplace_agreement_id" id="marketplace_agreement_id" value="MDIwOk1hcmtldHBsYWNlQWdyZWVtZW50OA==" class="form-control">


    <button data-disable-with="Loading..." type="submit" class="btn btn-primary btn-block py-2 js-marketplace-complete-order" data-octo-click="marketplace-listing_complete_click" data-octo-dimensions="marketplace_listing_id:264,plan_monthly_price_in_cents:0" data-ga-click="Marketplace listing, complete order and begin installation, marketplace_id:264, 0">Complete order and begin installation</button>
</form>
  <p class="mt-2 text-center text-small">
    Next: Authorize Semaphore to access your account.
  </p>

      </div>
    </div>
  </div>
</div>

<div class="bg-gray mx-auto page-section" style="max-width: 530px;">
  <div class="px-3 pt-4">
    <div class="DashedConnection mb-0 mx-auto d-none d-md-block" style="width: 300px;">
      <div class="d-flex flex-justify-between flex-items-center py-4">

        <div class="CircleBadge CircleBadge--medium" style="background-color:#fff">
          <img class="CircleBadge-icon" src="https://avatars0.githubusercontent.com/ml/264?s=100&amp;v=4" height="50" width="50" alt="">
        </div>
        <div class="position-relative bg-green text-center" style="border-radius: 50%; width:32px; height:32px;">
          <svg class="octicon octicon-check text-white mt-2" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>
        </div>
        <div class="CircleBadge CircleBadge--medium box-shadow-none" style="background-color: #fff; overflow: hidden;">
          <svg class="octicon octicon-mark-github width-full height-full" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
        </div>
      </div>
    </div>
    <div class="DashedConnection mb-0 mx-auto d-block d-md-none" style="width: 200px;">
      <div class="d-flex flex-justify-between flex-items-center py-4">

        <div class="CircleBadge CircleBadge--small">
          <img class="CircleBadge-icon" src="https://avatars0.githubusercontent.com/ml/264?s=62&amp;v=4" height="31" width="31" alt="">
        </div>
        <div class="position-relative bg-green text-center" style="border-radius: 50%; width:32px; height:32px;">
          <svg class="octicon octicon-check text-white mt-2" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>
        </div>
        <div class="CircleBadge CircleBadge--small box-shadow-none" style="background-color: #fff; overflow: hidden;">
          <svg class="octicon octicon-mark-github width-full height-full" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
        </div>
      </div>
    </div>
      <h2 class="f2 text-normal text-center lh-condensed mb-4">Authorize Semaphore</h2>
  </div>
  <div class="px-3 mt-5">
    <div class="Box box-shadow">
      <div class="Box-body p-3 p-md-4">
        <div class="mb-2 position-relative lh-default" style="padding-left:45px;">
          <img class="avatar position-absolute mr-3 mt-1 top-0 left-0" src="https://avatars0.githubusercontent.com/u/1109161?s=64&amp;v=4" width="32" height="32" alt="@yvau">
          <strong>Semaphore</strong> by
            <strong><a href="/renderedtext">renderedtext</a></strong>
            <small class="d-block text-gray">wants to access your <strong>yvau</strong> account</small>
        </div>

        <div class="">
            <div class="px-0 border-bottom-0 oauth-user-permissions oauth-permissions-details js-details-container Details limited limited-email js-transitionable open Details--on">
  <button type="button" class="btn-link pr-0 oauth-details-toggle js-details-target" aria-label="More information about this request" aria-expanded="true" data-initial-state="false">
    <svg height="24" class="octicon octicon-chevron-down" viewBox="0 0 10 16" version="1.1" width="15" aria-hidden="true"><path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"></path></svg>
    <svg height="24" class="octicon octicon-chevron-up" viewBox="0 0 10 16" version="1.1" width="15" aria-hidden="true"><path fill-rule="evenodd" d="M10 10l-1.5 1.5L5 7.75 1.5 11.5 0 10l5-5 5 5z"></path></svg>
  </button>

  <svg height="32" class="octicon octicon-person text-gray-light" viewBox="0 0 12 16" version="1.1" width="24" aria-hidden="true"><path fill-rule="evenodd" d="M12 14.002a.998.998 0 0 1-.998.998H1.001A1 1 0 0 1 0 13.999V13c0-2.633 4-4 4-4s.229-.409 0-1c-.841-.62-.944-1.59-1-4 .173-2.413 1.867-3 3-3s2.827.586 3 3c-.056 2.41-.159 3.38-1 4-.229.59 0 1 0 1s4 1.367 4 4v1.002z"></path></svg>
  <div class="permission-summary lh-condensed">
    <strong class="permission-title">Personal user data</strong>
    <small class="access-details">
      <span class="full-access">Full access</span>
      <span class="limited-access">Follow users, profile information (read-only), email addresses (read-only)</span>
      <span class="limited-access-emails-followers">Follow users, email addresses (read-only)</span>
      <span class="limited-access-emails-profile">Email addresses (read-only), profile information (read-only)</span>
      <span class="limited-access-followers-profile">Follow users, profile information (read-only)</span>
      <span class="limited-access-profile">Profile information (read-only)</span>
      <span class="limited-access-followers">Follow users</span>
      <span class="limited-access-emails">Email addresses (read-only)</span>
      <span class="no-access">No access</span>
    </small>
  </div>

  <div class="content">
    <div class="permission-help pt-2">
        <p>This application will be able to read your private email addresses.</p>
      <a href="https://help.github.com/articles/authorizing-oauth-apps/"><svg class="octicon octicon-question mr-1" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M6 10h2v2H6v-2zm4-3.5C10 8.64 8 9 8 9H6c0-.55.45-1 1-1h.5c.28 0 .5-.22.5-.5v-1c0-.28-.22-.5-.5-.5h-1c-.28 0-.5.22-.5.5V7H4c0-1.5 1.5-3 3-3s3 1 3 2.5zM7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7z"></path></svg> Learn more</a>
    </div>
  </div> <!-- content -->
</div> <!-- details-container -->













        </div>



      </div>
      <div class="Box-footer p-3 p-md-4 clearfix">
        <div class="col-sm-12">
          <!-- '"` --><!-- </textarea></xmp> --><form action="/login/oauth/authorize" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="7Z/DOqtawrCr1SgKGeA8zSWHu+coJjk6pU5qEm9OlbUlCdYfHf+4ZCyNB+RnTyHm/Ih9qXpN1MU7+nTWZAOH+A==">
              <input type="hidden" name="client_id" id="client_id" value="eb03bb1b0fb539ed83ae" class="form-control">
              <input type="hidden" name="redirect_uri" id="redirect_uri" value="https://semaphoreci.com/auth/github/callback" class="form-control">
              <input type="hidden" name="state" id="state" value="0837b355cf10bc6d04e8681302b1cd7f6e9c47549b6f6dfc" class="form-control">
            <input type="hidden" name="scope" id="scope" value="user:email" class="form-control">
            <button data-octo-click="oauth_application_authorization" data-octo-dimensions="marketplace_listing_id:264,came_from_marketplace:true,paid_marketplace_plan_purchased:false" data-ga-click="Oauth, oauth application authorized, oauth_application_id:3443; listing_id:47; came_from_integrations_directory:false; came_from_marketplace:true; paid_marketplace_plan_purchased:false; marketplace_listing_id:264" type="submit" name="authorize" value="1" tabindex="1" id="js-oauth-authorize-btn" class="btn btn-primary d-block width-full ws-normal">Authorize renderedtext</button>
</form>        </div>
        <div class="col-sm-12 mt-2">
          <p class="text-small text-gray mb-0 text-center">Authorizing will redirect to <br><strong class="text-gray-dark">https://semaphoreci.com</strong></p>
        </div>
      </div>
    </div>
    <div class="Box bg-gray-light px-4 py-3 mt-3 text-small text-gray clearfix">
      <div class="gutter-condensed lh-condensed">
        <div class="col-12 mb-3 mb-md-0 col-md-4 float-md-left">
            <div class="position-relative pl-4"><svg class="octicon octicon-circle-slash position-absolute left-0" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm0 1.3c1.3 0 2.5.44 3.47 1.17l-8 8A5.755 5.755 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zm0 11.41c-1.3 0-2.5-.44-3.47-1.17l8-8c.73.97 1.17 2.17 1.17 3.47 0 3.14-2.56 5.7-5.7 5.7z"></path></svg> <strong>Not</strong> owned or operated by GitHub</div>
        </div>
        <div class="col-12 mb-3 mb-md-0 col-md-4 float-md-left ">
          <div class="position-relative pl-4"><svg class="octicon octicon-clock position-absolute left-0" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8 8h3v2H7c-.55 0-1-.45-1-1V4h2v4zM7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7z"></path></svg> Created <strong class="d-inline-block">7 years ago</strong></div>
        </div>
        <div class="col-12 col-md-4 float-md-left ">
          <div class="position-relative pl-4"><svg class="octicon octicon-organization position-absolute left-0" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M16 12.999c0 .439-.45 1-1 1H7.995c-.539 0-.994-.447-.995-.999H1c-.54 0-1-.561-1-1 0-2.634 3-4 3-4s.229-.409 0-1c-.841-.621-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.442.58 2.5 3c.058 2.41-.159 2.379-1 3-.229.59 0 1 0 1s1.549.711 2.42 2.088C9.196 9.369 10 8.999 10 8.999s.229-.409 0-1c-.841-.62-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.437.581 2.495 3c.059 2.41-.158 2.38-1 3-.229.59 0 1 0 1s3.005 1.366 3.005 4z"></path></svg> <strong>More than 1K</strong> <span class="d-inline-block">GitHub users</span></div>
        </div>
      </div>
    </div>
    <div class="text-center my-3">
      <a href="https://help.github.com/articles/authorizing-oauth-apps" target="_blank" class="muted-link text-small">Learn more about OAuth</a>
    </div>
  </div>
</div>



           
            </div><!-- // .container -->
           </div><!-- card-body -->
         </div>
 </transition>
 </template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
   */

  import {StateMachine, StateHelper} from 'state-machine'
  import {style} from '@/config/index'
  import { Card, createToken } from 'vue-stripe-elements-plus'

  export default {
    /**
     * The name of the page.
     */
    name: 'modal-proposition-payment',

    props: ['show'],

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          description: 'mob',
          token: '',
          packageProduct: 4,
          amount: 500
        },
        app: {
          error: false
        },
        complete: false,
        input: {
          email: '',
          password: '',
          terms: false
        },
        state: null,
        stripeOptions: {
          style,
          hidePostalCode: true
          // see https://stripe.com/docs/stripe.js#element-options for details
        }
      }
    },

    created: function () {
      // create state machine
      this.fsm = StateMachine.create({
        transitions: [
          'next    : intro > form > finish',
          'back    : intro < form           < error',
          'error   :         form >           error',
          'restart : intro        < finish'
        ],
        handlers: {
          'form': this.onForm,
          'form@next': this.onSubmit,
          'finish': this.onComplete
        }
      })
      // create and assign state helper object / data to application state
      this.state = StateHelper.object(this.fsm).data
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      close: function () {
        this.$emit('close')
        // this.model = { credential: null }
      },
      doAction: function (event) {
        this.fsm.do(event.target.name)
      },
      onForm: function (event, fsm) {
        // this.$validator.errorBag.clear()
      },
      onSubmit: function (event, fsm) {
        fsm.cancel()
        this.submit()
      },
      onComplete: function () {
        console.log('Yay! We submitted the form :)')
        this.reset()
      },
      submit: function () {
        this.fsm.pause()
        console.log('Submitting data...')
        setTimeout(function () {
          if (this.app.error) {
            console.log('There was an error submitting your data!')
            this.fsm.go('error', true)
          } else {
            console.log('Data submitted!')
            this.fsm.resume()
          }
        }.bind(this), 2000)
      },
      reset: function () {
        this.input.email = ''
        this.input.password = ''
        this.input.terms = false
      },
      submitCard: function (payload) {
        this.$http.post('/auth/payment/charge', this.model).then(response => {
          // get status
          console.log(response)
        }, response => {
          // get failed
          console.log(response)
        })
        // payload = {method: 'post', url: 'auth/payment/charge', data: this.model}
        // this.$store.dispatch('form/submit', payload)
      },
      submitPaypal: function (payload) {
        console.log(this.model)
        payload = {method: 'post', url: 'auth/payment/paypal', data: this.model}
        this.$store.dispatch('form/submit', payload)
      },
      pay () {
        // createToken returns a Promise which resolves in a result object with
        // either a token or an error key.
        // See https://stripe.com/docs/api#tokens for the token object.
        // See https://stripe.com/docs/api#errors for the error object.
        // More general https://stripe.com/docs/stripe.js#stripe-create-token.
        createToken().then(data => {
          this.model.token = data.token.id
          this.submitCard(this.model)
        }).catch(err => console.log(err))
      }
    },
    mounted: function () {
      document.addEventListener('keydown', (e) => {
        if (this.show && e.keyCode === 27) {
          this.close()
        }
      })
    },
    components: {
      Card
    }
  }
</script>
