   <template>
    <transition name="modal">
        <transition name="modal">
    <div class="modal-mask" @click="close" v-show="show">
      <div class="modal-wrapper">
        <div class="modal-container wd-450">
              <div class="card" @click.stop>
              <div class="card-body pd-x-20 pd-xs-40">
                <h5 class="tx-xs-24 tx-normal tx-gray-900 mg-b-15">Forgot password</h5>
                <p class="mg-b-30 tx-14">Don't remember your password? send a reset link by filling the input field, it only takes less than a minute.</p>
                <form @submit.prevent="submitForm(model)" class="p-t-15" role="form">
                  <div class="alert alert-success alert-bordered pd-y-20" role="alert" v-show="message.status">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="d-flex align-items-center justify-content-start">
                      <i class="tx-success icon ion-ios-close alert-icon tx-52 mg-r-20"></i>
                      <div>
                        <h5 class="mg-b-2">{{ message.body.field }}</h5>
                        <p class="mg-b-0 tx-gray">{{ message.body.message }}</p>
                      </div>
                    </div><!-- d-flex -->
                  </div><!-- alert -->
                <div id="credential" class="form-group">
                  <input
                v-model="model.credential"
                type="text"
                placeholder="Email"
                class="form-control"
               />
               <span class="error"></span>
                </div><!-- form-group -->
                <button id="form-recover" class="btn btn-info btn-block">Send reset link</button>
                </form>
              </div><!-- card-body -->
            </div>
        </div>
      </div>
    </div>
  </transition>
    </transition>
    </template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
   */

  import service from '@/services/index'

  export default {
    /**
     * The name of the page.
     */
    name: 'modalforgotpassword',

    props: ['show'],

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        message: {
          status: false,
          body: {
            field: null,
            message: null
          }
        },
        model: {
          credential: null
        }
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      close: function () {
        this.$emit('close')
        service.removeMessage()
        this.model = { credential: null }
        this.message = { status: false, body: { field: null, message: null } }
      },
      submitForm: function (payload) {
        // Some save logic goes here...
        let button = window.$('#form-recover')
        button.addClass('disabled sending')
        this.$http.post('/auth/recover', this.model).then(response => {
          button.removeClass('disabled sending')
          try {
            service.errorMessage(response.data)
          } catch (err) {
            if (response.data.field !== undefined) {
              this.message = {status: true, body: response.data}
            }
          }
        }, response => {
          // get failed
          console.log(response)
        })
        // payload = {method: 'post', url: '/auth/recover', data: this.model, button: window.$('#form-recover')}
        // this.$store.dispatch('global/submit', payload)
      }
    },
    mounted: function () {
      document.addEventListener('keydown', (e) => {
        if (this.show && e.keyCode === 27) {
          this.close()
        }
      })
    }
  }
</script>
