   <template>
   <transition name="modal">
        <transition name="modal">
    <div class="modal-mask" @click="close" v-show="show">
      <div class="modal-wrapper">
        <div class="modal-container wd-90p">
              <div class="card" @click.stop>
              <div class="card-body pd-x-20 pd-xs-40">
                <h5 class="tx-xs-24 tx-normal tx-gray-900 mg-b-15">Property</h5>
                
 
              </div><!-- card-body -->
            </div>
        </div>
      </div>
    </div>
  </transition>
    </transition>
    </template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
  <script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  export default {
    /**
     * The name of the page.
     */
    name: 'modalProposal-index',

    props: ['show'],

    data: function () {
      return {
        title: '',
        body: ''
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      close: function () {
        this.$emit('close')
        this.title = ''
        this.body = ''
      },
      savePost: function () {
        // Some save logic goes here...
        this.close()
      }
    },

    mounted: function () {
      document.addEventListener('keydown', (e) => {
        if (this.show && e.keyCode === 27) {
          this.close()
        }
      })
    }
  }
</script>