   <template>
    <transition name="modal">
   <div class="application" @click="close" v-show="show">
    <div class="panel panel--full panel--visible" @click.stop><div class="panel__topbar">
    <a href="javascript:;" @click="close">
    <svg viewBox="0 0 24 24" class="panel__close"><path fill="#BABCBF" fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12s4.477 10 10 10 10-4.477 10-10zm-10-1.414L9.875 8.46c-.38-.38-1.02-.386-1.41.004-.394.394-.393 1.023-.004 1.41L10.587 12 8.46 14.125c-.38.38-.386 1.02.004 1.41.394.394 1.023.393 1.41.004L12 13.413l2.125 2.125c.38.38 1.02.386 1.41-.004.394-.394.393-1.023.004-1.41L13.413 12l2.125-2.125c.38-.38.386-1.02-.004-1.41-.394-.394-1.023-.393-1.41-.004L12 10.587zM0 12C0 5.373 5.373 0 12 0s12 5.373 12 12-5.373 12-12 12S0 18.627 0 12z"></path></svg>
    </a>

    </div><div class="scrollable panel__scrollable scrollable--overflow-bottom">

    <div class="scrollable__content" style="margin-right: 0px;">

    <div class="panel__content apps">

<div class="SpaceLayout__wrapper___2rlgu" data-test-marker="space-details"><div>

<div class="sc-bxivhb emQcvF">
  <div class="Row__Row-kNtYPA fBYWkP row">
    <div class="SpaceDisplayPage__sidebar___3Auo4 Col__Col-hCQanm hgqeDG col-md-5">
      <div class="Card__fullWidth___1hz4J Card__card___28qZh">
      <h2 class="ContactDetails__header___2ou0X">Contact details</h2>
      {{ feedObject.proposal }}
      {{ 12 - selected.length }}
      <div class="card-description padding-0">
    <div class="project-child-listings">

            <div v-for="increment in proposalHasProperties" class="child">
                <div class="propertyImage"><img src="https://i1.au.reastatic.net/134x84/dee7b17f7af7613d459cf48d6b626edd6238307eb23d13184c92f35afa73b99b/main.jpg" width="134" height="84" alt="203 Castlereagh St, Sydney, NSW 2000" title="203 Castlereagh St, Sydney, NSW 2000"></div>
                <div class="priceAndPropertyTypeContainer"><span class="price rui-truncate">${{ increment.property.price }}</span> <span class="propertyType rui-truncate">{{ increment.property.type }}</span></div>
                <div class="features">
                    <dl class="rui-property-features rui-clearfix"><dt class="rui-icon rui-icon-bed"><span class="rui-visuallyhidden">Bedrooms</span></dt>
                        <dd>{{ increment.property.bedrooms }}</dd> <dt class="rui-icon rui-icon-bath"><span class="rui-visuallyhidden">Bathrooms</span></dt>
                        <dd>{{ increment.property.bathrooms }}</dd>
                    </dl>
                </div>
                <div class="moreDetailsContainer"><span class="rui-icon rui-icon-arrow-right"></span></div>
            </div>


            <div v-for="property in selected" class="child">
                <div class="propertyImage"><img src="https://i1.au.reastatic.net/134x84/dee7b17f7af7613d459cf48d6b626edd6238307eb23d13184c92f35afa73b99b/main.jpg" width="134" height="84" alt="203 Castlereagh St, Sydney, NSW 2000" title="203 Castlereagh St, Sydney, NSW 2000"></div>
                <div class="priceAndPropertyTypeContainer"><span class="price rui-truncate">${{ property.price }}</span> <span class="propertyType rui-truncate">{{ property.type }}</span></div>
                <div class="features">
                    <dl class="rui-property-features rui-clearfix"><dt class="rui-icon rui-icon-bed"><span class="rui-visuallyhidden">Bedrooms</span></dt>
                        <dd>{{ property.bedrooms }}</dd> <dt class="rui-icon rui-icon-bath"><span class="rui-visuallyhidden">Bathrooms</span></dt>
                        <dd>{{ property.bathrooms }}</dd>
                    </dl>
                </div>
                <div class="moreDetailsContainer"><span class="fa fa-trash" @click="remove(property)"></span></div>
            </div>
    </div>
    <button type="button" class="btn btn-primary" @click="submitProperties(selected)" :disabled="selected.length <= 0">submit properties</button>
</div>



      </div>




    </div>
    <div class="Col__Col-hCQanm dWWOGH col-md-7">
<h2 class="ContactDetails__header___2ou0X">Contact details</h2>
      <div class="row">

      <div v-for="property in properties.content" class="item-card col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <input type="checkbox" name="chk1" v-model="selected" :id="'chk'+property.id" :value="property" class="hidden" />
      <label class="card" :for="'chk'+property.id">

                    <!--a href="http://mariusn.com/themes/reales-wp/properties/sophisticated-residence/" class="card" id="card-309"-->
                        <div class="figure">
                                                            <div class="featured-label">
                                    <div class="featured-label-left"></div>
                                    <div class="featured-label-content"><span class="fa fa-star"></span></div>
                                    <div class="featured-label-right"></div>
                                    <div class="clearfix"></div>
                                </div>
                                                        <div class="img" style="background-image:url(http://mariusn.com/themes/reales-wp/wp-content/uploads/2015/02/img-prop-600x400.jpg);"></div>
                            <div class="figCaption">
                                                                <div>$799,000 </div>
                                                                <span><span class="icon-eye"></span> 9999+</span>
                                                                <span><span class="icon-heart"></span> 1</span>
                                <span><span class="icon-bubble"></span> 1</span>
                            </div>
                            <div class="figView"><span class="icon-eye"></span></div>
                                                            <div class="figType">For Sale</div>
                                                    </div>
                        <h2>{{ property.type }}</h2>
                        <div class="cardAddress">
                {{ property.location.address }}, {{ property.location.city.name }}, {{ property.location.province.name }} {{ property.location.postalCode }}, {{ property.location.country.name }} </div>
                        <ul class="cardFeat">
                                                            <li><span class="fa fa-moon-o"></span> {{ property.bedrooms }}</li>
                                                                                        <li><span class="icon-drop"></span> {{ property.bathrooms }}</li>
                                                                                        <li><span class="icon-frame"></span> {{ property.size }} sq ft</li>
                                                    </ul>
                        <div class="clearfix"></div>
                    <!--/a-->
                    </label>
                </div>

      </div>

    </div>
  </div>
</div>

</div>
</div>

</div>

</div>

<div class="scrollable__scrollbar scrollable__scrollbar--visible">
  <div class="scrollable__scrollbar-thumb" style="height: 46.488px; transform: translateY(0px);"></div>
</div>
</div>
</div>

    <nav class="nav nav--with-panel nav--loaded">
      <ul class="nav__items">
        <li class="nav__item"><a href="/help" class="nav__label">Help</a>
        </li>
        <li class="nav__item nav_item--expanded nav__item--active"><span class="nav__label">About us</span>
          <ul class="nav__subitems" style="width: 230.547px;">
            <li class="nav__subitem"><a href="/about" class="nav__label">WeTransfer</a>
            </li>
            <li class="nav__subitem"><a href="/plus?trk=WT201610_AboutPlus" class="nav__label">Plus</a>
            </li>
            <li class="nav__subitem nav__subitem--active nav__item--active"><span class="nav__label">Apps</span>
            </li>
            <li class="nav__subitem"><a href="/advertise" class="nav__label">Advertise</a>
            </li>
          </ul>
        </li>
        <li class="nav__item"><a href="/sign-in?trk=WT201610_HalfPanel_GotPlusClick" class="nav__label">Got Plus?</a>
        </li>
      </ul>
    </nav>
    </div>
    </div>
    </transition>
    </template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Page where the user can login.
   */
/* eslint-disable no-unused-expressions */
  export default {
    /**
     * The name of the page.
     */
    name: 'modalProposal-index',

    props: ['show', 'feedActivity'],

    data: function () {
      return {
        title: '',
        isLoading: false,
        properties: {},
        proposalHasProperties: {},
        selected: [],
        proposalHasProperty: []
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      close: function () {
        this.$emit('close')
        this.title = ''
      },
      findProperties: function (e) {
        this.isLoading = true
        let proposalType = this.$store.state.form.globalObject.typeOfProposal
        this.$http.get('/api/property/list', {params: {saleType: proposalType}}).then(response => {
          // get status
          this.isLoading = false
          this.properties = response.data
        }, response => {
          // get failed
          console.log(response)
        })
      },
      findProposalHasProperties: function (e) {
        this.isLoading = true
        let idValue = this.$store.state.form.globalObject.id
        this.$http.get('/api/propose/list', {params: {'proposal.id': idValue}}).then(response => {
          // get status
          this.isLoading = false
          this.proposalHasProperties = response.data.content
        }, response => {
          // get failed
          console.log(response)
        })
      },
      remove: function (payload) {
        let index = this.selected.indexOf(payload)
        this.selected.splice(index, 1)
      },
      submitProperties: function (payload) {
        // let $this = this
        /* this.selected.forEach(function (property) {
          $this.proposalHasProperty.push({feedActivity: $this.feedObject.id, property: property.id, proposal: $this.feedObject.proposal.id})
        }) */

        payload = {method: 'post', url: '/api/propose/new', data: this.proposalHasProperty, form: window.$('#submit_proposition')}
        this.$store.dispatch('form/submit', payload)

        this.selected = []
        this.close()
      }
    },

    computed: {
      feedObject: function () {
        return this.feedActivity
      }
    },

    mounted: function () {
      this.$root.$on('find-properties', this.findProperties)
      this.$root.$on('find-proposalHasProperties', this.findProposalHasProperties)
      document.addEventListener('keydown', (e) => {
        if (this.show && e.keyCode === 27) {
          this.close()
        }
      })
    }
  }
</script>
