<template>
 <transition name="modal">
     <transition name="modal">
 <div class="modal-mask" @click="close" v-show="show">
   <div class="modal-wrapper">
     <div class="modal-container wd-100p">
           <div class="card" @click.stop>
                          <div class="row flex-row-reverse no-gutters">
                            <div class="col-lg-6">
                              <div class="row">
                                <div v-for="property in properties.content" :key="property.id" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                              <a href="javascript:;" class="card">
                                                  <div class="figure">
                                                                                      <div class="featured-label">
                                                              <div class="featured-label-left"></div>
                                                              <div class="featured-label-content"><span class="fa fa-star"></span></div>
                                                              <div class="featured-label-right"></div>
                                                              <div class="clearfix"></div>
                                                          </div>
                                                                                  <div class="img" style="background-image:url(http://mariusn.com/themes/reales-wp/wp-content/uploads/2015/02/img-prop-600x400.jpg);"></div>
                                                      <div class="figCaption">
                                                                                          <div>$799,000 </div>
                                                                                          <span><span class="icon-eye"></span> 9999+</span>
                                                                                          <span><span class="icon-heart"></span> 1</span>
                                                          <span><span class="icon-bubble"></span> 1</span>
                                                      </div>
                                                      <div class="figView"><span class="icon-eye"></span></div>
                                                                                      <div class="figType">{{ property.sale_type }}</div>
                                                                              </div>
                                                  <h2>{{ property.type }}</h2>
                                                  <div class="cardAddress">
                                          {{ property.location.address }}, {{ property.location.city.name }}, {{ property.location.province.name }} {{ property.location.postal_code }}, {{ property.location.country.name }}
                                          </div>
                                                  <ul class="cardFeat">
                                                                                      <li><span class="fa fa-moon-o"></span> {{ property.bedrooms }}</li>
                                                                                                                  <li><span class="icon-drop"></span> {{ property.bathrooms }}</li>
                                                                                                                  <li><span class="icon-frame"></span> {{ property.size }} sq ft</li>
                                                                              </ul>
                                                                               <div class="col-md-12">
                                  <button class="btn" @click="submitThisProperty(property)" :ref="property.id">Submit this property</button>
                                </div>
                                                  <div class="clearfix"></div>
                                                 
                                              </a>
                                
                                          </div>
                                            </div>

                            </div><!-- col-6 -->
                            <div class="col-lg-6 rounded-left">
                              <div class="pd-40">
                                <div class="c-card u-p-medium panel bg-white">
                                <div class="r-list js-list flex-row media">
                                    <div class="card-content flex-column">
                                        <div class="card-head flex-row">
                                            <div>
                                                <h3>
                                                  <span class="lh-1">
                                                    'proposal.typeOfProposal'
                                                  </span>
                                                  <span class="tx-13 badge badge-danger">proposal.isUrgent</span>
                                                </h3>
                                                    <div class="tx-2">
                                                      <span>
                                                        typeOfProperty
                                                      </span>
                                                    </div>
                                                    <div class="pd-t-6">
                                                      <span class="couple-friendly-tag mg-r-5">
                                                        location.city.name, location.province.name
                                                      </span>
                                                    </div>
                                            </div>
                                            <div style="">
                                                <div class="mg-b-6 mg-b-1 tx-right">
                                                  getTime(proposal.dateOfCreation)
                                                </div>
                                                <div class="flex-row">
                                                    <div class="mg-b-6">
                                                      Price between: $ proposal.priceMinimum - $ proposal.priceMaximum
                                                    </div>
                                                </div>
                                                <div class="tx-13 tx-right">Id proposal: proposal.id</div>
                                            </div>
                                        </div>
                                        <div class="card-bottom flex-row row--bottom">
                                            <div>

                                            </div>
                                            <button class="btn btn-danger">
                                              <i></i> favorite
                                            </button>
                                            <button class="button r-hotel__action">
                                              <i></i> Quick Book
                                            </button>
                                        </div>
                                    </div>
                                </div>
                              </div>
                                
                               <ol id="dsidx-listings">

<li class="dsidx-listing-container" onclick="location.href='/themes/reales-wp/idx/mls-8753516-3516_sunny_st_huntington_beach_ca_92648'">
    <div class="dsidx-listing" data-last-updated="3/21/2017 6:37:00 AM">
        <div class="dsidx-media">
            <div class="dsidx-photo">
                <a href="/themes/reales-wp/idx/mls-8753516-3516_sunny_st_huntington_beach_ca_92648">
                    <img src="https://images.marketleader.com/HouseImages/DEMO/516/8753516.jpg?f2867155-5cfe-417e-9e8b-3ffb443c6588" alt="Photo of 3516 Sunny St, Huntington Beach, CA 92648 (MLS # 8753516)" title="Photo of 3516 Sunny St, Huntington Beach, CA 92648 (MLS # 8753516)">
                </a>
                    <div class="dsidx-photo-count">10</div>
            </div>
        </div>
        <div class="dsidx-data">
            <div class="dsidx-primary-data">
                <div class="dsidx-address">
                    <a href="/themes/reales-wp/idx/mls-8753516-3516_sunny_st_huntington_beach_ca_92648">3516 Sunny St <span>Huntington Beach, CA</span></a>
                </div>
                <div class="dsidx-price">$695,000</div>
                <div style="clear:right"></div>
            </div>
            <div class="dsidx-secondary-data">
                    <div class="dsidx-secondary-data-line dsidx-secondary-data-bedsbaths">
                        <span class="dsidx-results-bed">2</span> beds,&nbsp;
                        <span class="dsidx-results-bath">3</span> baths
                    </div>
				
                    <div class="dsidx-secondary-data-line dsidx-secondary-data-lot-size">
                            <span class="dsidx-results-home-size">1,430</span> sqft &nbsp;
                    </div>
				
				

                <div class="dsidx-secondary-data-mls-number">
                    MLS <span>8753516</span>
                </div>
            </div>
        </div>
    </div>
</li> 

<li class="dsidx-listing-container" onclick="location.href='/themes/reales-wp/idx/mls-8752803-2803_sunny_st_huntington_beach_ca_92647'">
    <div class="dsidx-listing" data-last-updated="3/20/2017 2:18:00 AM">
        <div class="dsidx-media">
            <div class="dsidx-photo">
                <a href="/themes/reales-wp/idx/mls-8752803-2803_sunny_st_huntington_beach_ca_92647">
                    <img src="https://images.marketleader.com/HouseImages/DEMO/803/8752803.jpg?87e635b2-f3b5-41bc-a183-dbcc02cd8bbf" alt="Photo of 2803 Sunny St, Huntington Beach, CA 92647 (MLS # 8752803)" title="Photo of 2803 Sunny St, Huntington Beach, CA 92647 (MLS # 8752803)">
                </a>
                    <div class="dsidx-photo-count">11</div>
            </div>
        </div>
        <div class="dsidx-data">
            <div class="dsidx-primary-data">
                <div class="dsidx-address">
                    <a href="/themes/reales-wp/idx/mls-8752803-2803_sunny_st_huntington_beach_ca_92647">2803 Sunny St <span>Huntington Beach, CA</span></a>
                </div>
                <div class="dsidx-price">$1,089,000</div>
                <div style="clear:right"></div>
            </div>
            <div class="dsidx-secondary-data">
                    <div class="dsidx-secondary-data-line dsidx-secondary-data-bedsbaths">
                        <span class="dsidx-results-bed">7</span> beds,&nbsp;
                        <span class="dsidx-results-bath">5</span> baths
                    </div>
				
                    <div class="dsidx-secondary-data-line dsidx-secondary-data-lot-size">
                            <span class="dsidx-results-home-size">3,263</span> sqft &nbsp;
                    </div>
				
				

                <div class="dsidx-secondary-data-mls-number">
                    MLS <span>8752803</span>
                </div>
            </div>
        </div>
    </div>
</li>


<li class="dsidx-listing-container" onclick="location.href='/themes/reales-wp/idx/mls-8758298-8298_sunny_st_lake_forest_ca_92630'">
    <div class="dsidx-listing" data-last-updated="3/23/2017 1:54:00 PM">
        <div class="dsidx-media">
            <div class="dsidx-photo">
                <a href="/themes/reales-wp/idx/mls-8758298-8298_sunny_st_lake_forest_ca_92630">
                    <img src="https://images.marketleader.com/HouseImages/DEMO/298/8758298.jpg?d904faff-ffbf-4e6a-8f27-f267e8e9d46a" alt="Photo of 8298 Sunny St, Lake Forest, CA 92630 (MLS # 8758298)" title="Photo of 8298 Sunny St, Lake Forest, CA 92630 (MLS # 8758298)">
                </a>
            </div>
        </div>
        <div class="dsidx-data">
            <div class="dsidx-primary-data">
                <div class="dsidx-address">
                    <a href="/themes/reales-wp/idx/mls-8758298-8298_sunny_st_lake_forest_ca_92630">8298 Sunny St <span>Lake Forest, CA</span></a>
                </div>
                <div class="dsidx-price">$524,900</div>
                <div style="clear:right"></div>
            </div>
            <div class="dsidx-secondary-data">
                    <div class="dsidx-secondary-data-line dsidx-secondary-data-bedsbaths">
                        <span class="dsidx-results-bed">3</span> beds,&nbsp;
                        <span class="dsidx-results-bath">2</span> baths
                    </div>
				
                    <div class="dsidx-secondary-data-line dsidx-secondary-data-lot-size">
                            <span class="dsidx-results-home-size">1,224</span> sqft &nbsp;
                    </div>
				
				

                <div class="dsidx-secondary-data-mls-number">
                    MLS <span>8758298</span>
                </div>
            </div>
        </div>
    </div>
</li>


<li class="dsidx-listing-container" onclick="location.href='/themes/reales-wp/idx/mls-8741279-1279_sunny_st_irvine_ca_92604'">
    <div class="dsidx-listing" data-last-updated="3/15/2017 1:02:00 PM">
        <div class="dsidx-media">
            <div class="dsidx-photo">
                <a href="/themes/reales-wp/idx/mls-8741279-1279_sunny_st_irvine_ca_92604">
                    <img src="https://images.marketleader.com/HouseImages/DEMO/279/8741279.jpg?7b98c9d2-0bae-4dcf-b1dd-706223b203b6" alt="Photo of 1279 Sunny St, Irvine, CA 92604 (MLS # 8741279)" title="Photo of 1279 Sunny St, Irvine, CA 92604 (MLS # 8741279)">
                </a>
            </div>
        </div>
        <div class="dsidx-data">
            <div class="dsidx-primary-data">
                <div class="dsidx-address">
                    <a href="/themes/reales-wp/idx/mls-8741279-1279_sunny_st_irvine_ca_92604">1279 Sunny St <span>Irvine, CA</span></a>
                </div>
                <div class="dsidx-price">$1,099,900</div>
                <div style="clear:right"></div>
            </div>
            <div class="dsidx-secondary-data">
                    <div class="dsidx-secondary-data-line dsidx-secondary-data-bedsbaths">
                        <span class="dsidx-results-bed">4</span> beds,&nbsp;
                        <span class="dsidx-results-bath">4</span> baths
                    </div>
				
                    <div class="dsidx-secondary-data-line dsidx-secondary-data-lot-size">
                            <span class="dsidx-results-home-size">2,680</span> sqft &nbsp;
                    </div>
				
				

                <div class="dsidx-secondary-data-mls-number">
                    MLS <span>8741279</span>
                </div>
            </div>
        </div>
    </div>
</li>


	</ol>
                                </div>
                              </div><!-- col-6 -->
                            </div><!-- row -->
         </div>
     </div>
   </div>
 </div>
</transition>
 </transition>
 </template>

<script>
/* ============
* Home page
* ============
*
* Home page of the entire web app.
*/

export default {
/**
* The name of the page.
*/
  name: 'modalrefinesearch',
  props: ['show'],
  /**
  * The data that can be used by the page.
  *
  * @returns {Object} The view-model data.
  */
  data () {
    return {
      properties: {},
      selected: []
    }
  },
  /**
   * The methods the page can use.
   */
  methods: {
  /**
   * Will log the user in.
   *
   * @param {Object} user The user to be logged in.
   */
    close: function () {
      this.$emit('close')
    },
    findProperties: function (e) {
      this.isLoading = true
      // let proposalType = this.$store.state.form.globalObject.typeOfProposal
      let proposalType = 'for_rent'
      this.$http.get('/api/properties/list', {params: {saleType: proposalType}}).then(response => {
        // get status
        this.isLoading = false
        this.properties = response.data
      }, response => {
        // get failed
        console.log(response)
      })
    },
    submitThisProperty: function (payload) {
      this.selected.push(payload)
    }
  },
  mounted: function () {
    this.$root.$on('find-properties', this.findProperties)
    document.addEventListener('keydown', (e) => {
      if (this.show && e.keyCode === 27) {
        this.close()
      }
    })
  }
}
</script>
