<template>
  <div class="col-md-9">
      <div class="bg-white pd-30 shadow-base rounded-5">
                    <div class="bd-b pd-y-30 pd-x-0">
        <div class="pos-relative d-table wd-100p ht-100p">
            <div class="wd-100p align-middle d-table-row wd-100p d-flex justify-content-between">
                <div class="pos-relative ht-100p wd-70p align-top d-table-cell">
                    <h2>
                        701 S Miami Ave                    </h2>
                </div>
                <div class="tx-right-force ht-100p wd-30p align-top pos-relative d-table-cell">
            <span class="badge badge-info">
            For Rent        </span>
                </div>
            </div>
            <div class="d-table-row wd-100p valign-middle d-flex justify-content-between">
                <div class="clearfix">
                    <div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light">
                        August 25, 2017                    </div>
                    <div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light">
                        <span class="tx-11 tx-spacing-8">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
    </span>
                    </div>
                    <div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light">
                        <span class="">
	<a href="javascript:void(0)" class="" data-property-id="431">
        <i class="fa fa-heart-o"></i>
        <span class="">
            3        </span>
    </a>
</span>
                    </div>
                                        <div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light">
                        <i class="lnr lnr-eye" aria-hidden="true"></i>
                        <span class="">1070</span>
                    </div>
                                        <div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light">
                        
                    </div>
                </div>
                <div class="d-table-cell ht-100p wd-30p tx-right valign-top">
        
                        <span class="tx-semibold">
                            Property ID:                        </span>
                        <span class="tx-semibold tx-black">
                            1234                        </span>
   
                </div>
            </div>
        </div>
</div>
                    <div class="pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
    <div class="pos-relative ht-100p  align-top wd-20p">
        <h5>
            Specification        </h5>
    </div>
    <div class="clearfix wd-80p align-top pos-relative d-table-cell ht-100p valign-top valign-middle">
        
            <div class="row">
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-bedrooms.png" alt="Property bedroom icon"/>                                </span>
                                <span class="valign-middle">
                                    Bedrooms:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                3                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-bathrooms.png" alt="Property bathroom icon"/>                                </span>
                                <span class="valign-middle">
                                    Bathrooms:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                2                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-property-size.png" alt="Property size icon"/>                                </span>
                                <span class="valign-middle">
                                    Property size:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                650sq ft                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-floor.png" alt="Property floor icon"/>                                </span>
                                <span class="valign-middle">
                                    Floor:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                12                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-total-floors.png" alt="Property total floors icon"/>                                </span>
                                <span class="valign-middle">
                                    Total floors:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                16                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-year-built.png" alt="Property year built icon"/>                                </span>
                                <span class="valign-middle">
                                    Year Built:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                2010                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-heating.png" alt="Property heating icon"/>                                </span>
                                <span class="valign-middle">
                                    Heating:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                Floor Heating                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-accommodation.png" alt="Property accommodation icon"/>                                </span>
                                <span class="valign-middle">
                                    Accommodation:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                Furnished                            </span>
                        </div>
                    </div>
        </div>
        <div class="pd-t-35 mb-t-15 border border-bottom-0 border-right-0 border-left-0 border-light">
            <div class="row">
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-ceiling-height.png" alt="Property ceiling height icon"/>                                </span>
                                    <span class="valign-middle">
                                    Ceiling height:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                3.2 m                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-parking.png" alt="Property parking icon"/>                                </span>
                                    <span class="valign-middle">
                                    Parking:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                Free zone                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-d-f-center.png" alt="Property distance from center icon"/>                                </span>
                                    <span class="valign-middle">
                                    From center:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                8.6 mi                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-publication-date.png" alt="Property publication date"/>                                </span>
                                    <span class="valign-middle">
                                    Publication date:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                August 25, 2017                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-area-size.png" alt="Property area size icon"/>                                </span>
                                    <span class="valign-middle">
                                    Area size:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                1.300sq ft                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-garages.png" alt="Property garages icon"/>                                </span>
                                    <span class="valign-middle">
                                    Garages:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                Yes                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-garages-size.png" alt="Property garages size icon"/>                                </span>
                                    <span class="valign-middle">
                                    Garages size:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                500 sq ft                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-additional-space.png" alt="Property additional space icon"/>                                </span>
                                    <span class="valign-middle">
                                    Additional space:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                Storage space                            </span>
                        </div>
                    </div>
                            </div>
        </div>
    </div>
</div>

<div class="pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
    <div class="pos-relative ht-100p  align-top valign-middle c-table-cell">
    
    
        <h5>
            Leasing terms       </h5>
    </div>
    <div class="clearfix wd-80p align-top pos-relative d-table-cell ht-100p valign-top valign-middle">
    
            <div class="row">
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/uploads/2017/10/leasing-terms-icon-1.png" alt="Property bedroom icon"/>                                </span>
                                <span class="valign-middle">
                                    Deposit:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                $3000                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/uploads/2017/10/leasing-terms-icon-3.png" alt="Property bathroom icon"/>                                </span>
                                <span class="valign-middle">
                                    Allowed Pets:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                Dogs, Cats                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/uploads/2017/10/leasing-terms-icon-2.png" alt="Property size icon"/>                                </span>
                                <span class="valign-middle">
                                    Payment period:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                Monthly                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/uploads/2017/10/leasing-terms-icon-5.png" alt="Property floor icon"/>                                </span>
                                <span class="valign-middle">
                                    Habitable:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                Instantly                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/uploads/2017/10/leasing-terms-icon-4.png" alt="Property total floors icon"/>                                </span>
                                <span class="valign-middle">
                                    Minimum lease:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                6 months                           </span>
                        </div>
                    </div>
                                
                             
                            </div>
        
    
    </div>
</div>


<div class="pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
    <div class="pos-relative ht-100p  align-top wd-20p">
        <h5>
            Costs       </h5>
    </div>
    <div class="clearfix wd-80p align-top pos-relative d-table-cell ht-100p valign-top valign-middle">
        
            <div class="row">
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/uploads/2017/10/costs-icon-1.png" alt="Property bedroom icon"/>                                </span>
                                <span class="valign-middle">
                                    Utilities:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                $260                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/uploads/2017/10/costs-icon-2.png" alt="Property bathroom icon"/>                                </span>
                                <span class="valign-middle">
                                    Cable TV:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                120$                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/uploads/2017/10/costs-icon-3.png" alt="Property size icon"/>                                </span>
                                <span class="valign-middle">
                                    Electricity:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                Monthly                            </span>
                        </div>
                    </div>
                                
                             
                            </div>
        
    
    </div>
</div>


            

                        <div class="pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
        <div class="wd-20p pos-relative d-table-cell ht-100p valign-middle align-top">
            <h5>
                Features            </h5>
        </div>
        <div class="clearfix wd-80p align-top pos-relative d-table-cell ht-100p valign-top valign-middle">
            <div class="row">
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            AC &amp; Heating                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Balcony                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="tx-gray-500 pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Clubhouse                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Dishwasher                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Elevator                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Fitness Center                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Granite Countertops                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Laundry Facilities                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Modern Kitchen                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Pet Friendly                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="tx-gray-500 pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Pool                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="tx-gray-500 pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Spa                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Storage Units                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="tx-gray-500 pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Tennis Court                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Valet Parking                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Walk-In Closets                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Washer/Dryer                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="tx-gray-500 pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Wi Fi in Common Areas                        </span>
                    </div>
                </div>
                            </div>
        </div>
    </div>
                    <div class="pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
    <div class="pos-relative ht-100p  align-top wd-20p">
        <h5>
            Location        </h5>
    </div>


        <div class="mg-t-30 mg-x-0 mg-b-0">
            <div class="row">
 
 
                
                
               
               
            </div>
        </div>

</div>                       
  <div class="pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
    <div class="pos-relative ht-100p  align-top">
        <h5>
            Property tags       </h5>
    </div>
    <div class="clearfix wd-80p align-top pos-relative d-table-cell ht-100p valign-top valign-middle">
                      <div class="d-inline-block float-left">
                  <a href="javascript:;" class="mg-t-0 mg-r-9 mg-b-9 mg-l-0 pd-t-10 pd-x-20 pd-b-8 tx-12 lh-1 border rounded d-inline-block border-light" target="_self">
                    Colorful                  </a>
              </div>
                      <div class="d-inline-block float-left">
                  <a href="javascript:;" class="mg-t-0 mg-r-9 mg-b-9 mg-l-0 pd-t-10 pd-x-20 pd-b-8 tx-12 lh-1 border rounded d-inline-block border-light" target="_self">
                    Comfortable                  </a>
              </div>
                      <div class="d-inline-block float-left">
                  <a href="javascript:;" class="mg-t-0 mg-r-9 mg-b-9 mg-l-0 pd-t-10 pd-x-20 pd-b-8 tx-12 lh-1 border rounded d-inline-block border-light" target="_self">
                    Cost-effective                  </a>
              </div>
                      <div class="d-inline-block float-left">
                  <a href="javascript:;" class="mg-t-0 mg-r-9 mg-b-9 mg-l-0 pd-t-10 pd-x-20 pd-b-8 tx-12 lh-1 border rounded d-inline-block border-light" target="_self">
                    Design                  </a>
              </div>
                      <div class="d-inline-block float-left">
                  <a href="javascript:;" class="mg-t-0 mg-r-9 mg-b-9 mg-l-0 pd-t-10 pd-x-20 pd-b-8 tx-12 lh-1 border rounded d-inline-block border-light" target="_self">
                    Interior                  </a>
              </div>
                      <div class="d-inline-block float-left">
                  <a href="javascript:;" class="mg-t-0 mg-r-9 mg-b-9 mg-l-0 pd-t-10 pd-x-20 pd-b-8 tx-12 lh-1 border rounded d-inline-block border-light" target="_self">
                    Listing                  </a>
              </div>
                      <div class="d-inline-block float-left">
                  <a href="javascript:;" class="mg-t-0 mg-r-9 mg-b-9 mg-l-0 pd-t-10 pd-x-20 pd-b-8 tx-12 lh-1 border rounded d-inline-block border-light" target="_self">
                    Modern                  </a>
              </div>
                      <div class="d-inline-block float-left">
                  <a href="javascript:;" class="mg-t-0 mg-r-9 mg-b-9 mg-l-0 pd-t-10 pd-x-20 pd-b-8 tx-12 lh-1 border rounded d-inline-block border-light" target="_self">
                    Property                  </a>
              </div>
            </div>
</div>            
      </div>            
            </div>
</template>
<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Dashboard'
  import moment from 'moment'
  import transformer from '@/transformers/ProposalTransformer'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
      }
    },

    created: function () {
      // this.find()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      find: function () {
        let payload = {url: 'api/proposal', data: this.$route.params.id, transformer: transformer}
        this.$store.dispatch('global/find', payload)
      },
      getLink: function (id, type) {
        let url = (type === 'for_sale') ? '/buy/' + id : '/rent/' + id
        return url
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      },
      getDate: function (time) {
        time = moment(time).format('DD MMM YYYY')
        return time
      }
    },

    computed: {
      proposal: function () {
        return this.$store.state.global.object
      },
      getTab: function () {
        return this.$route.query.tab ? this.$route.query.tab !== undefined : 'null'
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
