<template>
<v-layout>
<div class="row" style=" margin-top: 20px;">
<div class=" container    container-fixed-lg">

<div class="card card-default m-t-20">
<div class="card-block">
<div class="invoice padding-50 sm-padding-10">
<div>
<div class="pull-right sm-m-t-20">
<h2 class="font-montserrat all-caps hint-text">Invoice</h2>
</div>
<div class="clearfix"></div>
</div>
<br>
<div class="col-12">
<div class="row">
<div class="col-lg-9 col-sm-height sm-no-padding">
<p class="small no-margin">Invoice to</p>
<h5 class="semi-bold m-t-0">Darren Forthway</h5>
<address>
<strong>Pages Incoperated.</strong>
<br>page.inc
<br>
1600 Amphitheatre Pkwy, Mountain View,<br>
CA 94043, United States
</address>
</div>
<div class="col-lg-3 sm-no-padding sm-p-b-20 d-flex align-items-end justify-content-between">
<div>
<div class="font-montserrat bold all-caps">Invoice No :</div>
<div class="font-montserrat bold all-caps">Invoice date :</div>
<div class="clearfix"></div>
</div>
<div class="text-right">
<div class="">0047</div>
<div class="">29/09/14</div>
<div class="clearfix"></div>
</div>
</div>
</div>
</div>
<div class="table-responsive table-invoice">
<table class="table m-t-50">
<thead>
<tr>
<th class="">Task Description</th>
<th class="text-center">Rate</th>
<th class="text-center">Hours</th>
<th class="text-right">Total</th>
</tr>
</thead>
<tbody>
<tr>
<td class="">
<p class="text-black">Character Illustration</p>
<p class="small hint-text">
Character Design projects from the latest top online portfolios on Behance.
</p>
</td>
<td class="text-center">$65.00</td>
<td class="text-center">84</td>
<td class="text-right">$5,376.00</td>
</tr>
<tr>
<td class="">
<p class="text-black">Cross Heart Charity Branding</p>
<p class="small hint-text">
Attempt to attach higher credibility to a new product by associating it with a well established company name
</p>
</td>
<td class="text-center">$89.00</td>
<td class="text-center">100</td>
<td class="text-right">$8,900.00</td>
</tr>
<tr>
<td class="">
<p class="text-black">iOs App</p>
<p class="small hint-text">
A video game franchise Inspired primarily by a sketch of stylized wingless - Including Branding / Graphics / Motion Picture &amp; Videos
</p>
</td>
<td class="text-center">$100.00</td>
<td class="text-center">500</td>
<td class="text-right">$50,000.00</td>
</tr>
</tbody>
</table>
</div>
<br>
</div>
 </div>
</div>

</div>

</div>
</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import Transformer from '@/transformers/ProposalTransformer'
  import VLayout from '@/layouts/Dashboard'
  import * as constants from '@/constants/index'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          location: [],
          status: '',
          urgent: '',
          ageOfProperty: '',
          bathrooms: '',
          bedrooms: '',
          typeOfProperty: [],
          typeOfProposal: 'for_sale',
          priceMinimum: null,
          priceMaximum: null,
          size: null
        },
        isLoading: false,
        cities: []
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'post', url: 'api/profile/proposal/new', data: Transformer.send(this.model)}
        this.$store.dispatch('form/submit', payload)
      },
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('rest/city', {params: {q: query}}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data
        }, response => {
          // get failed
          console.log(response)
        })
      },
      onChangeLocation: function (searchQuery) {
        if (searchQuery.length >= 3) {
          this.asyncFind(searchQuery)
        }
      }
    },

    computed: {
      isActivated: function () {
        return constants.IS_ACTIVATED
      },
      typeOfProperty: function () {
        return constants.TYPE_FOR_SALE
      },
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
