<template>
  <v-layout>
  <div v-show="message.display" class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="alert-heading">{{message.object.field}}</h4>
  <p>{{message.object.message}}.</p>
</div>
      <form @submit.prevent="submit(model)" id="form-register" class="p-t-15" autocomplete="off" role="form">
        <div class="row">
          <div class="col-md-12">
            <div id="password" class="form-group form-group-default required">
              <label>New Password</label>
              <input type="password" v-model="model.password" placeholder="Minimum of 6 Charactors" class="form-control">
            </div>
            <span class="error"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="password" class="form-group form-group-default required">
              <label>Confirm new password</label>
              <input type="password" name="pass" v-model="model.rePassword" placeholder="Minimum of 6 Charactors" class="form-control">
            </div>
            <span class="error"></span>
          </div>
        </div>
        <div class="row m-t-10">
          <div class="col-lg-6">
            <p><small>I agree to the <a href="#" class="text-info">Pages Terms</a> and <a href="#" class="text-info">Privacy</a>.</small>
            </p>
          </div>
          <div class="col-lg-6 text-right">
            <a href="#" class="text-info small">Help? Contact Support</a>
          </div>
        </div>
        <button class="btn btn-primary btn-cons m-t-10" type="submit">Create a new account</button>
      </form>
  </v-layout>
</template>

<script>
  /* ============
   * Register Index Page
   * ============
   *
   * Page where the user can register.
   */

  import VLayout from '@/layouts/Minimal'

  export default {
    /**
     * The name of the page.
     */
    name: 'recover-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          password: null,
          rePassword: null
        }
      }
    },

    /**
     * The created method to init some methods
     */
    created: function () {
      // init recover method to get the token from query url
      this.recover(this.$route.query.token)
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will submit the form.
       *
       * @param {Object} payload The payload to be registered.
       */
      submit: function (payload) {
        // set url data and data from the form
        this.model.token = this.$route.query.token
        payload = {method: 'post', url: 'auth/password/reset', data: this.model}
        this.$store.dispatch('form/submit', payload)
      },

      recover: function (token) {
        setTimeout(function () {
          this.$store.dispatch('auth/recover', token)
        }.bind(this), 2000)
      }
    },

    /**
     * The computed the page going to use
     */
    computed: {
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.model = {credential: null}
        }
        return message
      }

    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
