<template>
	<div class="panel-wrapper">
		<div class="feature-panel--benefits-container">	<a href="//www.invisionapp.com" class="invision-logo-inversed">InVision</a>
			<div class="feature-panel feature-panel--benefits">
				<div>
					<h2 class="feature-panel--benefits__header">See how millions of people create the world's best user experiences</h2>
					<ul class="feature-panel--benefits__list">
						<li><span>Explore and curate design ideas</span>
						</li>
						<li><span>Build interactive prototypes</span>
						</li>
						<li><span>Collaborate with your team in real time</span>
						</li>
						<li><span>Present and get feedback on your designs</span>
						</li>
						<li><span>Create pixel-perfect stylesheets for developers</span>
						</li>
					</ul>
				</div>
				<div class="feature-panel--benefits__footer">
					<p class="feature-panel--benefits__footer__lead">TRUSTED BY</p>
					<img src="/assets/apps/d/img/login-signup/enterprise-logos-2.png" class="enterprise-panel__logos" />
				</div>
			</div>
		</div>
		<div class="feature-panel--quotes-container">	<a href="//www.invisionapp.com" class="invision-logo">InVision</a>
			<div class="feature-panel feature-panel--quotes quotes--twitter">
				<div class="sign-up__quote selected mg-t-50">
					<p class="sign-up__quote__excerpt">“InVision really gets all of our best work in one place for the entire company to see. It has let us concentrate on the real work, and not on the plumbing.”</p>
					<p class="sign-up__quote__name">Mike Davidson</p>	<i class="sign-up__quote__logo sign-up__quote__logo--twitter"></i>
				</div>
				<section class="tx-left col-md-6 tx-white">
					<div class="pos-relative mg-b-20 pd-0 tx-24 pos-absolute"><i class="wd-25 ht-25 background-size-100p pos-absolute t-25" style="background: url(&quot;/static/images/png/internet.png&quot;) no-repeat;"></i> 
						<h3 class="tx-20 tx-light mg-t-0 mg-r-0 mg-b-0 mg-l-60">Don’t miss a thing</h3> 
						<p class="tx-15 mg-l-60 tx-gray-500 mg-b-0">Save your dream homes and stay updated on your favourite searches, across any device.</p>
					</div>
					<div class="pos-relative mg-b-20 pd-0 tx-24 pos-absolute"><i class="wd-25 ht-25 background-size-100p pos-absolute t-25" style="background: url(&quot;/static/images/png/star.png&quot;) no-repeat;"></i> 
						<h3 class="tx-20 tx-light mg-t-0 mg-r-0 mg-b-0 mg-l-60">Get organised</h3> 
						<p class="tx-15 mg-l-60 tx-gray-500 mg-b-0">Receive open for inspection planners and our comprehensive weekly auction results.</p>
					</div>
					<div class="pos-relative mg-b-20 pd-0 tx-24 pos-absolute"><i class="wd-25 ht-25 background-size-100p pos-absolute t-25" style="background: url(&quot;/static/images/png/clipboards.png&quot;) no-repeat;"></i> 
						<h3 class="tx-20 tx-light mg-t-0 mg-r-0 mg-b-0 mg-l-60">Make the most of your home</h3> 
						<p class="tx-15 mg-l-60 tx-gray-500 mg-b-0">Claim your home and access insights and tools to help you understand the market.</p>
					</div>
				</section>
			</div>
		</div>
		<div class="main-panel">
			<div class="main-panel__table">
				<div class="main-panel__table-cell">
					<div class="main-panel__switch">	<span class="main-panel__switch__text">Already have an account?</span>
						<a class="main-panel__switch__button" href="/d/login?redir=&redirHash=">
							Sign in
						</a>
					</div>
					<div class="main-panel__content">
						<slot></slot>
					</div>
					<!-- main-panel__content -->
				</div>
			</div>
		</div>
		<!-- main-panel -->
	</div>
	<!-- panel-wrapper -->
</template>

<script>
  /* ============
   * Minimal Layout
   * ============
   *
   * Used for the register and login pages.
   *
   * Layouts are used to store a lot of shared code.
   * This way the app stays clean.
   */

  export default {
    /**
     * The name of the layout.
     */
    name: 'minimal-layout'
  }
</script>
