<template>
    <div class="o-page o-page--center">
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
<span class="tx-normal">[</span> proov 
          <span class="tx-info">+</span> 
          <span class="tx-normal">]</span>


<div v-show="message.display" class="alert alert-danger alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="alert-heading">{{message.object.field}}</h4>
  <p>{{message.object.body.error}}.</p>
</div>
        <div class="o-page__card">
            <div class="c-card u-mb-xsmall">
                <header class="c-card__header u-pt-large">
                    <span class="c-card__icon pd-t-25">
                        <img src="http://samherbert.net/svg-loaders/svg-loaders/rings.svg" class="u-h2 img-fluid mg-b-25" />
                    </span>
                    <h1 class="u-h3 u-text-center u-mb-zero">Activation page !</h1>
                </header>
                <div class="c-card__body">
                    <h2 class="u-h5 u-text-center">We are processing your token. Righ now. Thanks for your patience.</h2>
                </div>
            </div>

            <div class="o-line u-justify-center">
                <a class="u-text-mute" href="#">
                    <i class="fa fa-long-arrow-left u-mr-xsmall"></i>Our Maintenance Schedule
                </a>
            </div>
        </div>
    </div>

</template>

<script>
  export default {
    /**
     * The name of the page.
     */
    name: 'activate-index',

    created: function () {
      this.activate(this.$route.query.t)
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will register the user.
       *
       * @param {Object} user The user to be registered.
       */
      activate: function (token) {
        setTimeout(function () {
          this.$store.dispatch('auth/activate', token)
        }.bind(this), 2000)
      }
    },

    /**
     * The computed the page going to use
     */
    computed: {
      message: function () {
        let message = this.$store.state.message
        return message
      }

    }
  }
</script>
