<template>
	<v-layout>
    <modal-forgot-password :show="showForgotPassword" @close="showForgotPassword = false" />
		<div class="row col-md-10 m-auto">
				<div class="tx-left pd-x-20 mg-r-20">
					<h6 class="tx-gray-800 tx-uppercase tx-bold">Sign In</h6> 
					<p class="tx-gray-600 mg-b-10">Signin using your account credentials.</p>
					<form role="form" class="p-t-15" @submit.prevent="login(user)">
            <message-alert :alert="getMessage" />
						<div class="form-group">
							<input type="email" v-model="user.credential" placeholder="Email" class="form-control pd-y-12">
						</div>
						<div class="form-group">
							<input type="password" v-model="user.password" placeholder="Password" class="form-control pd-y-12">
						</div>
						<div class="row form-group"><a href="/register/" class="col-xs-12 col-md-6">
                        Create an account
                      </a>  <a @click="forgotPassword" href="javascript:;" class="col-xs-12 col-md-6 tx-right">
                        Forgot password
                      </a>
						</div>
						<button id="form-login" class="btn btn-primary btn-block pd-y-10 mg-b-30">Sign In</button>
					</form>
					<p class="tx-11 tx-uppercase tx-spacing-2">Or Sign In With</p>
					<a href="#" class="btn btn-primary btn-icon">
						<div><i class="fa fa-facebook"></i>
						</div>
					</a>
					<a href="#" class="btn btn-primary btn-icon mg-l-5">
						<div><i class="fa fa-twitter"></i>
						</div>
					</a>
					<a href="#" class="btn btn-danger btn-icon mg-l-5">
						<div><i class="fa fa-google-plus"></i>
						</div>
					</a>
					<div class="privacy-policy">
						<div class="privacy-statement">Please view our <span>Personal Information Collection Statement</span>
						</div>
					</div>
				</div>
		</div>
	</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Minimal'
  import VCard from '@/components/Card'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        showForgotPassword: false,
        user: {
          credential: null,
          password: null
        }
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      login (user) {
        this.$store.dispatch('auth/login', user)
      },
      forgotPassword: function (e) {
        let payload = {status: false, object: {message: null}}
        this.$store.dispatch('alert/message', payload)
        this.showForgotPassword = true
        e.preventDefault()
      }
    },

    computed: {
      getMessage: function () {
        let message = this.$store.state.alert
        return message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout,
      VCard
    }
  }
</script>
