<template>
<v-layout>
  <div class="container  container-fixed-lg pd-y-40">
  <div class="row no-gutters widget-1 shadow-base">
            <div class="col-sm-6 col-lg-3">
              <div class="card">
                <div class="card-header">
                  <h6 class="card-title">Today's Sales</h6>
                  <a href=""><i class="icon ion-android-more-horizontal"></i></a>
                </div><!-- card-header -->
                <div class="card-body">
                  <!--peity :type="'bar'" :data="'5,3,9,6,5,9,7,3,5,2'"></peity-->
                  <!--span id="spark1">5,3,9,6,5,9,7,3,5,2</span-->
                  <spark-line-bar :data='[5,3,9,6,5,9,7,3,5,2]' width="89" height="30"></spark-line-bar>
                  <span>$1,850</span>
                </div><!-- card-body -->
                <div class="card-footer">
                  <div>
                    <span class="tx-11">Gross Sales</span>
                    <h6 class="tx-inverse">$2,210</h6>
                  </div>
                  <div>
                    <span class="tx-11">No. of Items</span>
                    <h6 class="tx-inverse">68</h6>
                  </div>
                  <div>
                    <span class="tx-11">Tax Return</span>
                    <h6 class="tx-danger">$320</h6>
                  </div>
                </div><!-- card-footer -->
              </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-1 mg-sm-t-0">
              <div class="card">
                <div class="card-header">
                  <h6 class="card-title">This Week's Sales</h6>
                  <a href=""><i class="icon ion-android-more-horizontal"></i></a>
                </div><!-- card-header -->
                <div class="card-body">
                  <span id="spark2">2,8,7,8,2,6,5,3,5,2</span>
                  <span class="tx-medium tx-inverse tx-32">$3,324</span>
                </div><!-- card-body -->
                <div class="card-footer">
                  <div>
                    <span class="tx-11">Gross Sales</span>
                    <h6 class="tx-inverse">$5,471</h6>
                  </div>
                  <div>
                    <span class="tx-11">Purchase</span>
                    <h6 class="tx-inverse">211</h6>
                  </div>
                  <div>
                    <span class="tx-11">Tax Return</span>
                    <h6 class="tx-danger">$1,988</h6>
                  </div>
                </div><!-- card-footer -->
              </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-1 mg-lg-t-0">
              <div class="card">
                <div class="card-header">
                  <h6 class="card-title">This Month's Sales</h6>
                  <a href=""><i class="icon ion-android-more-horizontal"></i></a>
                </div><!-- card-header -->
                <div class="card-body">
                  <span id="spark3">8,6,5,9,8,4,9,3,5,9</span>
                  <span>$12,324</span>
                </div><!-- card-body -->
                <div class="card-footer">
                  <div>
                    <span class="tx-11">Gross Sales</span>
                    <h6 class="tx-inverse">$18,433</h6>
                  </div>
                  <div>
                    <span class="tx-11">Purchase</span>
                    <h6 class="tx-inverse">654</h6>
                  </div>
                  <div>
                    <span class="tx-11">Tax Return</span>
                    <h6 class="tx-danger">$3,314</h6>
                  </div>
                </div><!-- card-footer -->
              </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-1 mg-lg-t-0">
              <div class="card">
                <div class="card-header">
                  <h6 class="card-title">Overall Sales</h6>
                  <a href=""><i class="icon ion-android-more-horizontal"></i></a>
                </div><!-- card-header -->
                <div class="card-body">
                  <span id="spark4">8,3,9,6,3,7,1,3,8,5</span>
                  <span>$32,324</span>
                </div><!-- card-body -->
                <div class="card-footer">
                  <div>
                    <span class="tx-11">Gross Sales</span>
                    <h6 class="tx-inverse">$56,433</h6>
                  </div>
                  <div>
                    <span class="tx-11">Purchases</span>
                    <h6 class="tx-inverse">1,654</h6>
                  </div>
                  <div>
                    <span class="tx-11">Tax Return</span>
                    <h6 class="tx-danger">$15,354</h6>
                  </div>
                </div><!-- card-footer -->
              </div><!-- card -->
            </div><!-- col-3 -->
          </div><!-- row -->

<div class="row">
<div class="col-lg-12 mg-t-20 ">
            <div class="card shadow-base bd-0">
              <div class="card-header pd-20 bg-transparent">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Buying proposal</h6>
              </div><!-- card-header -->
              <table class="table table-responsive mg-b-0 tx-12">
                <thead>
                  <tr class="tx-10">
                    <th class="wd-10p pd-y-5">&nbsp;</th>
                    <th class="pd-y-5">Item Details</th>
                    <th class="pd-y-5 tx-right">Sold</th>
                    <th class="pd-y-5">Gain</th>
                    <th class="pd-y-5 tx-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img23.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">The Dothraki Shoes</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-danger mg-r-5 rounded-circle"></span> 20 remaining</span>
                    </td>
                    <td class="valign-middle tx-right">3,345</td>
                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>33.34%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img24.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">Westeros Sneaker</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                    </td>
                    <td class="valign-middle tx-right">720</td>
                    <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>21.20%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img25.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">Selonian Hand Bag</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                    </td>
                    <td class="valign-middle tx-right">1,445</td>
                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>23.34%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img26.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">Kel Dor Sunglass</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-warning mg-r-5 rounded-circle"></span> 45 remaining</span>
                    </td>
                    <td class="valign-middle tx-right">2,500</td>
                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>28.78%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img27.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">Kubaz Sunglass</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                    </td>
                    <td class="valign-middle tx-14 tx-right">223</td>
                    <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>18.18%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="card-footer tx-12 pd-y-15 bg-transparent">
                <a href=""><i class="fa fa-angle-down mg-r-5"></i>View All Products</a>
              </div><!-- card-footer -->
            </div><!-- card -->
          </div><!-- col-6 -->
</div>
</div>
</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import Transformer from '@/transformers/ProposalTransformer'
  import VLayout from '@/layouts/Dashboard'
  import * as constants from '@/constants/index'
  import NumeralInput from '@/components/NumeralInput'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          location: [],
          status: '',
          urgent: '',
          ageOfProperty: '',
          bathrooms: '',
          bedrooms: '',
          typeOfProperty: [],
          typeOfProposal: 'for_sale',
          priceMinimum: null,
          priceMaximum: null,
          size: null
        },
        isLoading: false,
        cities: []
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'post', url: '/api/profile/proposal/new', data: Transformer.send(this.model)}
        this.$store.dispatch('form/submit', payload)
      },
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('/rest/city', {params: {q: query}}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data
        }, response => {
          // get failed
          console.log(response)
        })
      },
      onChangeLocation: function (searchQuery) {
        if (searchQuery.length >= 3) {
          this.asyncFind(searchQuery)
        }
      }
    },

    computed: {
      isActivated: function () {
        return constants.IS_ACTIVATED
      },
      typeOfProperty: function () {
        return constants.TYPE_FOR_SALE
      },
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      NumeralInput,
      VLayout
    }
  }
</script>
