<template>
  <v-layout>
<div class="br-section-wrapper pd-0">
   <div class="br-section-header">
          <h6 class="br-section-label">Edit renting proposal</h6>
          <p class="br-section-text">A form with a label on top of each form control.</p>
</div>

<div class="br-section-body pd-70-force">
          <div class="form-layout form-layout-1">
            <div class="row mg-b-25">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>City</label>
  <multiselect
    v-model="model.location" 
    id="ajax" 
    label="name" 
    track-by="id" 
    placeholder="Type to search" 
    open-direction="bottom" 
    :custom-label="nameWithProvince"
    :clear-on-select="true"
    :options="cities" 
    :searchable="true" 
    :loading="isLoading" 
    :internal-search="false" 
    :close-on-select="true" 
    :options-limit="300"
    :max-height="600" 
    :show-no-results="true"
    :multiple="true" 
    @search-change="onChangeLocation">
    <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
  </multiselect>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Status of proposal</label>
                                    <select v-model="model.status" class="form-control input-md">
                                      <option value="">Select a value</option>
                                      <option v-for="increment in isActivated" :value="increment">{{ increment }}</option>
                                    </select>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Urgency of proposal</label>
                                    <select v-model="model.isUrgent" class="form-control input-md">
                                      <option value="">Select a value</option>
                                      <option value="is_not_urgent">is_not_urgent</option>
                                      <option value="is_urgent">is_urgent</option>
                                    </select>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group mg-b-10-force">
                  <label>age of property</label>
<select v-model="model.ageOfProperty" class="form-control input-md">
                                      <option value="">Select a value</option>
                                      <option value="is_new">new </option>
                                      <option value="is_used">in use</option>
                                      <option value="any">any</option>
                                    </select>
                </div>
              </div><!-- col-8 -->
              <div class="col-lg-6">
                <div class="form-group mg-b-10-force">
                  <label>Size of property</label>
                  <numeral-input v-model="model.size" placeholderValue="Size of property" className="form-control" />
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-4">
                <div class="form-group mg-b-10-force">
                  <label>is furnished</label>
                                    <select v-model="model.isFurnished" class="form-control input-md">
                                      <option value="">Select a value</option>
                                      <option value="is_furnished">is furnished</option>
                                      <option value="not_furnished">not furnished</option>
                                    </select>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-4">
                <div class="form-group mg-b-10-force">
                  <label>price min</label>
<numeral-input v-model="model.priceMinimum" format="$ 0,0" placeholderValue="Minimum price" className="form-control" />
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-4">
                <div class="form-group mg-b-10-force">
                  <label>price max</label>
<numeral-input v-model="model.priceMaximum" format="$ 0,0" placeholderValue="Maximum price" className="form-control" />
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-12">
                <div class="form-group mg-b-10-force">
                  <label>type of property</label><br />
<div class="row">
<div v-for="increment in typeOfProperty" class="col-md-4">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" v-model="model.typeOfProperty" :value="increment"> {{ increment }}
  </label>
</div>
</div>
                </div>
              </div><!-- col-4 -->
            </div><!-- row -->

          </div><!-- form-layout -->
          </div>

          <div class="br-section-footer">
            
              <button id="edit_rent" class="btn btn-info">Submit Form</button>
              <button class="btn btn-secondary">Cancel</button>

          </div>

        </div>

  </v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import Transformer from '@/transformers/ProposalTransformer'
  import VLayout from '@/layouts/Dashboard'
  import * as constants from '@/constants/index'
  import NumeralInput from '@/components/NumeralInput'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        isLoading: false,
        cities: []
      }
    },

    mounted: function () {
      this.find()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'post', url: '/api/rent/update', data: Transformer.send(this.model), button: window.$('#edit_rent')}
        this.$store.dispatch('global/submit', payload)
      },
      find: function () {
        let payload = {url: 'api/rent', data: this.$route.params.id, transformer: Transformer}
        this.$store.dispatch('global/find', payload)
      },
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('api/city', {params: {q: query}}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data
        }, response => {
          // get failed
          console.log(response)
        })
      },
      onChangeLocation: function (searchQuery) {
        if (searchQuery.length >= 3) {
          this.asyncFind(searchQuery)
        }
      }
    },

    computed: {
      model: function () {
        let model = Object.assign({}, this.$store.state.global.object)
        return model
      },
      isActivated: function () {
        return constants.IS_ACTIVATED
      },
      urgencyOfProposal: function () {
        // constants.URGENCY_OF_PROPOSAL.splice(2)
        return constants.URGENCY_OF_PROPOSAL
      },
      typeOfProperty: function () {
        return constants.TYPE_FOR_RENT
      },
      characteristics: function () {
        return constants.CHARACTERISTICS
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      NumeralInput,
      VLayout
    }
  }
</script>
