<template>
  <v-layout>



  		<!-- /.hs-footer -->

  	<!-- /bodyWrap -->




<div class="mg-t-0 mg-b-0 pd-70 tx-center bg-black-9 pos-relative">
  <div class="ht-100p op-6 pos-absolute wd-100p tx-center t-0 l-0 background-size-cover background-center-no-repeat" style="background-image: url('https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/Death_to_stock_photography_community_premium_5.jpg')"></div>
  <div class="pos-relative">
    <h1 class="tx-white tx-64">About us</h1>
    <span class="tx-white">Add your business to Listable, so customers can easily find it.</span>
  </div>
</div>

            <section class="tx-center bg-white pd-y-40">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <h2 class="tx-30 mg-b-20">Built on passion and ingenuity</h2>
                            <p class="tx-18-force tx-normal lh-7">
                                Medium Rare is an elite author known for offering high-quality, high-value products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions for producing consistently outstanding products, it's no wonder over 20,000 customers enjoy using Medium Rare templates.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

        			<section>

        					<div class="container ht-650 pd-b-65-force">
        						<div class="row">
        							<div class="container pos-relative">
        								<div class="wd-80p m-auto pd-n-60 pos-relative" style="padding-bottom: 53.5%;">
                          <button type="button" data-role="none" class="bg-dark pos-absolute ht-60 l-md-auto wd-60 mg-b-55 mt-auto d-inline-block z-index-100 l--35 l-0 r-0 slick-prev slick-arrow" style="text-indent:-9999px;bottom:45px;" aria-label="Previous" role="button">Previous</button>
                          <button type="button" data-role="none" class="bg-dark pos-absolute ht-60 l-md-auto wd-60 mg-b-55 mt-auto d-inline-block z-index-100 r--60 slick-next slick-arrow" style="text-indent:-9999px;bottom:45px;" aria-label="Next" role="button">Next</button>
        									<div class="c-slider">
        										<div class="b-0 l-0 mg-0 mx-wd-100p pos-absolute r-0 t-0">
        											<img src="https://www.helpscout.net/images/home/customers/ugmonk--bg.jpg">
        										</div>
        									</div>
        									<div class="c-slider">
        										<div class="b-0 l-0 mg-0 mx-wd-100p pos-absolute r-0 t-0">
        											<img src="https://www.helpscout.net/images/home/customers/threadless--bg.jpg">
        										</div>
        									</div>
        									<div class="c-slider">
        										<div class="b-0 l-0 mg-0 mx-wd-100p pos-absolute r-0 t-0">
        											<img src="https://www.helpscout.net/images/home/customers/pr-repat--bg.jpg">
        										</div>
        									</div>
        								</div>
        							</div>
        						</div>
        					</div>


        			</section>


        		<!-- /home -->
            <section class="bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature">
                                <h2 class="tx-30 mg-b-20">Inclusion</h2>
                                <p>
                                    With rich modal and notification functionality and a robust suite of options, Stack makes building feature-heavy pages simple and enjoyable.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature">
                                <h4>Ingenuity</h4>
                                <p>
                                    Drastically reduce the time it takes to move from initial concept to production-ready with Stack and Variant Page Builder. Your clients will love you for it!
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature">
                                <h4>Innovation</h4>
                                <p>
                                    Our customers love the comfort that comes with six-months free support. Our dedicated support forum makes interacting with us hassle-free and efficient.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="tx-center">
                <div class="container">
                  <h2 class="tx-30 mg-b-20">Meet the makers</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="wd-200 pd-b-20 m-auto">
                                <img alt="Image" class="mg-b-10" src="http://trystack.mediumra.re/img/avatar-round-1.png" />
                                <h5>Vera Duncan</h5>
                                <span>Founder &amp; CEO</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wd-200 pd-b-20 m-auto">
                                <img alt="Image" class="mg-b-10" src="http://trystack.mediumra.re/img/avatar-round-3.png" />
                                <h5>Zach Smith</h5>
                                <span>Co-Founder &amp; CTO</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wd-200 pd-b-20 m-auto">
                                <img alt="Image" class="mg-b-10" src="http://trystack.mediumra.re/img/avatar-round-2.png" />
                                <h5>Bernice Lucas</h5>
                                <span>Chief of Operations</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wd-200 pd-b-20 m-auto">
                                <img alt="Image" class="mg-b-10" src="http://trystack.mediumra.re/img/avatar-round-4.png" />
                                <h5>Cameron Nguyen</h5>
                                <span>Lead Designer</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wd-200 pd-b-20 m-auto">
                                <img alt="Image" class="mg-b-10" src="http://trystack.mediumra.re/img/avatar-round-5.png" />
                                <h5>Josie Web</h5>
                                <span>Head of Development</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wd-200 pd-b-20 m-auto">
                                <img alt="Image" class="mg-b-10" src="http://trystack.mediumra.re/img/avatar-round-6.png" />
                                <h5>Bryce Vaughn</h5>
                                <span>Marketing Director</span>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
  </v-layout>
</template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
  <script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Default'

  export default {
    /**
     * The name of the page.
     */
    name: 'about-us',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
    },

    computed: {
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
