<template>
  <div id="c27-single-listing" class="single-job-listing ">


<div class="mkdf-property-single-holder" style="margin-top:30px">
  <div class="container">
				<div class="row">
          <div class="col-md-9">
      <div class="bg-white pd-30 shadow-base rounded-5">
                
                    <div class="mkdf-property-specification pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
    <div class="mkdf-property-label-style pos-relative ht-100p  align-top wd-20p">
        <h5>
            About Me        </h5>
    </div>
    <div class="mkdf-property-spec-items mkdf-property-items-style clearfix wd-80p align-top pos-relative">
        <div class="mkdf-spec">
            <div class="row">
                                    
                         <div class="col-md-12">   
                              Licensed Real Estate Professional

Specialties: Buyer's Agent, Listing Agent, Foreclosure
A licensed real estate professional with Elliott Real Property Inc. We provide a level of client relations unparalleled to any other firm! One on one attention guiding you through every step, weather it is buying your first home or selling your first home Elliott Real Property Inc. is there day and night!
</div>
                            </div>
        </div>

    </div>
</div>


                    <div class="mkdf-property-leasing-terms pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
    <div class="mkdf-property-leasing-label mkdf-property-label-style">
        <h5>
            Active Listings        </h5>
    </div>
    <div class="mkdf-property-spec-items mkdf-property-items-style clearfix">
        <div class="row">
                        
                      
                        <div class="col-md-12">
                <table class="table table-responsive mg-b-0 tx-12">
                <thead>
                  <tr class="tx-10">
                    <th class="wd-10p pd-y-5">&nbsp;</th>
                    <th class="pd-y-5">Item Details</th>
                    <th class="pd-y-5 tx-right">Sold</th>
                    <th class="pd-y-5">Gain</th>
                    <th class="pd-y-5 tx-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img23.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">The Dothraki Shoes</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-danger mg-r-5 rounded-circle"></span> 20 remaining</span>
                    </td>
                    <td class="valign-middle tx-right">3,345</td>
                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>33.34%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img24.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">Westeros Sneaker</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                    </td>
                    <td class="valign-middle tx-right">720</td>
                    <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>21.20%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img25.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">Selonian Hand Bag</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                    </td>
                    <td class="valign-middle tx-right">1,445</td>
                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>23.34%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img26.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">Kel Dor Sunglass</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-warning mg-r-5 rounded-circle"></span> 45 remaining</span>
                    </td>
                    <td class="valign-middle tx-right">2,500</td>
                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>28.78%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img27.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">Kubaz Sunglass</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                    </td>
                    <td class="valign-middle tx-14 tx-right">223</td>
                    <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>18.18%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
                    </div>
    </div>
</div>
                    <div class="mkdf-property-costs pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
    <div class="mkdf-property-cost-label mkdf-property-label-style valign-top wd-20p pos-relative ht-100p">
        <h5>
            Past listing        </h5>
    </div>
    <div class="mkdf-property-cost-items mkdf-property-items-style clearfix ht-100p valign-top pos-relative wd-80p d-table-cell">
        <div class="row">
                        
                        
                        <div class="col-md-12">
                            <table class="table table-responsive mg-b-0 tx-12">
                <thead>
                  <tr class="tx-10">
                    <th class="wd-10p pd-y-5">&nbsp;</th>
                    <th class="pd-y-5">Item Details</th>
                    <th class="pd-y-5 tx-right">Sold</th>
                    <th class="pd-y-5">Gain</th>
                    <th class="pd-y-5 tx-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img23.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">The Dothraki Shoes</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-danger mg-r-5 rounded-circle"></span> 20 remaining</span>
                    </td>
                    <td class="valign-middle tx-right">3,345</td>
                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>33.34%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img24.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">Westeros Sneaker</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                    </td>
                    <td class="valign-middle tx-right">720</td>
                    <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>21.20%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img25.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">Selonian Hand Bag</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                    </td>
                    <td class="valign-middle tx-right">1,445</td>
                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>23.34%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img26.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">Kel Dor Sunglass</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-warning mg-r-5 rounded-circle"></span> 45 remaining</span>
                    </td>
                    <td class="valign-middle tx-right">2,500</td>
                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>28.78%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img27.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">Kubaz Sunglass</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                    </td>
                    <td class="valign-middle tx-14 tx-right">223</td>
                    <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>18.18%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
                
            </div>
                    </div>
    </div>
</div>
                        
                    <div class="mkdf-property-map pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
    <div class="mkdf-property-map-label mkdf-property-label-style">
        <h5>
            Location        </h5>
    </div>
    <div class="mkdf-property-map-items mkdf-property-items-style clearfix">
        <div class="mkdf-property-map-object">
            <div class="mkdf-google-map-holder">
	<div class="mkdf-google-map" id="mkdf-map-2253911" data-addresses='["701 S Miami Ave, Miami, FL 33130, USA"]' data-custom-map-style=no data-color-overlay=#393939 data-saturation=-100 data-lightness=-60 data-zoom=12 data-pin=http://zuhaus.mikado-themes.com/wp-content/themes/zuhaus/assets/img/pin.png data-unique-id=2253911 data-scroll-wheel=no data-height=600 ></div>
			<div class="mkdf-google-map-overlay"></div>
	</div>
        </div>
        <div class="mkdf-property-map-address">
            <div class="row">
                <div class="col-md-6">
                    <span class="mkdf-full-address mkdf-label-items-item">
                        <span class="mkdf-label-items-label">
                            <span class="mkdf-address-icon lnr lnr-map-marker"></span>
                            <span class="mkdf-address-label-text">
                                Full Address:                            </span>
                        </span>
                        <span class="mkdf-label-items-value">
                            701 S Miami Ave, Miami, FL 33130, USA                        </span>
                    </span>
                </div>
                <div class="col-md-6">
                    <span class="mkdf-simple-address mkdf-label-items-item">
                        <span class="mkdf-label-items-label">
                            <span class="mkdf-address-icon lnr lnr-map-marker"></span>
                            <span class="mkdf-address-label-text">
                                Simple Address:                            </span>
                        </span>
                        <span class="mkdf-label-items-value">
                            701 S Miami Ave                        </span>
                    </span>
                </div>
                <div class="col-md-6">
                    <span class="mkdf-zip-code mkdf-label-items-item">
                        <span class="mkdf-label-items-label">
                            <span class="mkdf-address-icon lnr lnr-cloud"></span>
                            <span class="mkdf-address-label-text">
                                ZIP Code:                            </span>
                        </span>
                        <span class="mkdf-label-items-value">
                            33130                        </span>
                    </span>
                </div>
                <div class="col-md-6">
                    <span class="mkdf-country mkdf-label-items-item">
                        <span class="mkdf-label-items-label">
                            <span class="mkdf-address-icon lnr lnr-earth"></span>
                            <span class="mkdf-address-label-text">
                                Country:                            </span>
                        </span>
                        <span class="mkdf-label-items-value">
                            US                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>                       
  <div class="mkdf-property-tags pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
    <div class="mkdf-property-tags-label mkdf-property-label-style">
        <h5>
            Property Tags        </h5>
    </div>
    <div class="mkdf-property-tags-items mkdf-property-items-style clearfix">
                      <div class="mkdf-tag-item">
                  <a href="http://zuhaus.mikado-themes.com/property-tag/colorful/" target="_self">
                    Colorful                  </a>
              </div>
                      <div class="mkdf-tag-item">
                  <a href="http://zuhaus.mikado-themes.com/property-tag/comfortable/" target="_self">
                    Comfortable                  </a>
              </div>
                      <div class="mkdf-tag-item">
                  <a href="http://zuhaus.mikado-themes.com/property-tag/cost-effective/" target="_self">
                    Cost-effective                  </a>
              </div>
                      <div class="mkdf-tag-item">
                  <a href="http://zuhaus.mikado-themes.com/property-tag/design/" target="_self">
                    Design                  </a>
              </div>
                      <div class="mkdf-tag-item">
                  <a href="http://zuhaus.mikado-themes.com/property-tag/interior/" target="_self">
                    Interior                  </a>
              </div>
                      <div class="mkdf-tag-item">
                  <a href="http://zuhaus.mikado-themes.com/property-tag/listing/" target="_self">
                    Listing                  </a>
              </div>
                      <div class="mkdf-tag-item">
                  <a href="http://zuhaus.mikado-themes.com/property-tag/modern/" target="_self">
                    Modern                  </a>
              </div>
                      <div class="mkdf-tag-item">
                  <a href="http://zuhaus.mikado-themes.com/property-tag/property/" target="_self">
                    Property                  </a>
              </div>
            </div>
</div>            
      </div>            
            </div>
          <div class="mkdf-sidebar-holder mkdf-grid-col-3 col-md-3">
						<aside class="mkdf-sidebar pos-relative mg-t-0 mg-r-0 mg-b-60">
							<div class="widget mkdf-contact-property-widget pd-t-20 pd-r-15 pd-b-20 rounded bg-white shadow-base">
								<div class="mkdf-contact-holder">
									<div class="mkdf-widget-title-holder">
										<h5 class="mkdf-widget-title">Contact Info</h5>
									</div>
									<div class="mkdf-contact-name"> <span class="mkdf-contact-icon icon-user"></span>
										<span class="mkdf-contact-label">
                             The Agency                        </span>
									</div>
									<div class="mkdf-contact-phone"> <span class="mkdf-contact-icon icon-call-end"></span>
										<span class="mkdf-contact-label">
                            <a href="tel:+12345678900" target="_self">
                                +12345678900                            </a>
                        </span>
									</div>
									<div class="mkdf-contact-link"> <span class="mkdf-contact-icon icon-envelope"></span>
										<span class="mkdf-contact-label">
                            <a href="mailto:theagency@example.com" target="_self">
                                theagency@example.com                            </a>
                        </span>
									</div>
									<div class="mkdf-contact-social">
										<h5 class="mkdf-contact-title">
                            Connect with us                        </h5>
										<div class="mkdf-contact-social-icons clearfix">
											<a itemprop="url" href="" target="_blank"> <span aria-hidden="true" class="mkdf-icon-font-elegant social_facebook mkdf-author-social-facebook mkdf-author-social-icon "></span> 
											</a>
											<a itemprop="url" href="" target="_blank"> <span aria-hidden="true" class="mkdf-icon-font-elegant social_twitter mkdf-author-social-twitter mkdf-author-social-icon "></span> 
											</a>
											<a itemprop="url" href="" target="_blank"> <span aria-hidden="true" class="mkdf-icon-font-elegant social_linkedin mkdf-author-social-linkedin mkdf-author-social-icon "></span> 
											</a>
											<a itemprop="url" href="" target="_blank"> <span aria-hidden="true" class="mkdf-icon-font-elegant social_instagram mkdf-author-social-instagram mkdf-author-social-icon "></span> 
											</a>
											<a itemprop="url" href="" target="_blank"> <span aria-hidden="true" class="mkdf-icon-font-elegant social_pinterest mkdf-author-social-pinterest mkdf-author-social-icon "></span> 
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="widget mkdf-mortgage-calculator-widget pd-t-20 pd-r-15 pd-b-20 rounded bg-white shadow-base">
								<div class="mkdf-widget-title-holder d-block bd-b pd-t-20 pd-r-15 pd-b-10">
									<h5 class="mkdf-widget-title">Mortgage Calculator</h5>
								</div>
								<div class="pd-l-20 pd-t-30 pd-r-15 pd-b-20">
									<div class="pd-t-30 pd-r-15 pd-b-20">
										<label>Sale price</label>
										<input type="text" name="price" id="price" placeholder="$" value="" />
									</div>
									<input type="submit" class="mkdf-btn mkdf-btn-solid" value="Calculate" />
								</div>
							</div>
						</aside>
					</div>
				</div>
        </div>
  </div>


</div>
</template>


<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Dashboard'
  import * as constants from '@/constants/index'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          location: [],
          status: '',
          urgent: '',
          ageOfProperty: '',
          bathrooms: '',
          bedrooms: '',
          typeOfProperty: [],
          typeOfProposal: 'for_sale',
          priceMinimum: null,
          priceMaximum: null,
          size: null
        },
        showModal: false,
        isLoading: false,
        cities: []
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    created: function () {
      this.findOne()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      findOne: function () {
        let payload = {url: 'api/account/33', parameters: {role: 'ROLE_SELLER,ROLE_LESSOR'}}
        this.$store.dispatch('form/findAll', payload)
      }
    },

    computed: {
      isActivated: function () {
        return constants.IS_ACTIVATED
      },
      typeOfProperty: function () {
        return constants.TYPE_FOR_SALE
      },
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
