<template>
<v-layout>
<section class='col-md-6'>
                <div class="tx-left pd-x-20 mg-r-20">
                    <h6 class="tx-gray-800 tx-uppercase tx-bold">Register</h6>
                    <p class="tx-gray-600 mg-b-10">Register an account it's free.</p>

                    <form @submit.prevent="register(user)" class="p-t-15" role="form">
        <message-alert :alert="getMessage" />
        <div class="row row-xs">
          <div class="col-sm-6">
        <div class="form-group" id="firstName">
          <input type="text" v-model="user.firstName" placeholder="Enter your firstName" class="form-control">
          <span class="error"></span>
        </div>
      </div>
      <div class="col-sm-6">
    <div class="form-group" id="lastName">
      <input type="text" v-model="user.lastName" placeholder="Enter your lastName" class="form-control">
      <span class="error"></span>
    </div>
  </div>
      </div>
        <div class="form-group" id="credential">
          <input type="text" v-model="user.credential" placeholder="Enter your email" class="form-control">
          <span class="error"></span>
        </div>
        <div class="form-group" id="password">
          <input type="password" v-model="user.password" class="form-control" placeholder="Enter your password">
          <span class="error"></span>
        </div>
        <div class="form-group" id="rePassword">
          <input type="password" v-model="user.rePassword" class="form-control" placeholder="Retype your password">
          <span class="error"></span>
        </div>
        <div class="form-group" id="birthDate">
          <label class="d-block tx-11 tx-uppercase tx-medium tx-spacing-1">Birthday</label>
          <div class="row row-xs">
            <div class="col-sm-4">
              <select v-model="day" class="form-control select2" data-placeholder="Day">
                <option label="Day"></option>
                <option :key="n" v-for="n in 31" :value="n > 9 ? n : '0' + n">{{ n > 9 ? n : '0' + n }}</option>
              </select>
            </div>
            <div class="col-sm-4 mg-t-20 mg-sm-t-0">
              <select v-model="month" class="form-control select2" data-placeholder="Month">
                <option label="Month"></option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
            </div>
            <div class="col-sm-4 mg-t-20 mg-sm-t-0">
              <select v-model="year" class="form-control select2" data-placeholder="Year">
                <option label="Year"></option>
                <option :key="n" v-for="n in getYearIteration" :value="n">{{n}}</option>
              </select>
            </div>
          </div>
          <span class="error"></span>
        </div>
        <div class="row form-group">
                      <a class="col-xs-12 col-md-12 tx-left" href="/login/">
                        Already have an account? Sign in
                      </a>
                    </div>
        <button id="form-register" class="btn btn-primary btn-block pd-y-10 mg-b-30">Register</button>
      </form>
      
                    <p class="tx-11 tx-uppercase tx-spacing-2">Or Register In With</p>
                    <a href="#" class="btn btn-primary btn-icon">
                      <div><i class="fa fa-facebook"></i></div>
                    </a>
                    <a href="#" class="btn btn-primary btn-icon mg-l-5">
                      <div><i class="fa fa-twitter"></i></div>
                    </a>
                    <a href="#" class="btn btn-danger btn-icon mg-l-5">
                      <div><i class="fa fa-google-plus"></i></div>
                    </a>
                    <div class="privacy-policy">
                    <div class="tx-size-xs mg-b-30 tx-center">By creating this account, you agree to our <router-link :to="{ name: 'termofuse' }">Terms of Use</router-link> and <router-link :to="{ name: 'privacypolicy' }">Privacy Policy</router-link> upon using this website.</div>
                </div>
                  </div>

            </section>
    
</v-layout>
</template>

<script>
/* ============
 * Register Index Page
 * ============
 *
 * Page where the user can register.
 */

import VLayout from '@/layouts/Authentication'

export default {
  /**
   * The name of the page.
   */
  name: 'register-index',

  /**
   * The data that can be used by the page.
   *
   * @returns {Object} The view-model data.
   */
  data () {
    return {
      store: this,
      user: {
        firstName: null,
        lastName: null,
        credential: null,
        rePassword: null,
        password: null,
        birthDate: null
      },
      day: '',
      month: '',
      year: ''
    }
  },

  /**
   * The methods the page can use.
   */
  methods: {
    /**
     * Will register the user.
     *
     * @param {Object} user The user to be registered.
     */
    register: function (user) {
      this.user.birthDate = this.year + '-' + this.month + '-' + this.day
      this.$store.dispatch('auth/register', user)
    }
  },
  computed: {
    getMessage: function () {
      let message = this.$store.state.alert
      if (message.status) {
        this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        this.day = ''
        this.month = ''
        this.year = ''
      }
      return message
    },
    getYearIteration: function () {
      let iterationArray = []
      for (let i = 2000; i > 1905; i--) {
        iterationArray.push(i)
      }
      return iterationArray
    }
  },

  /**
   * The components the page can use.
   */
  components: {
    VLayout
  }
}
</script>
