
 .header-info .tags .tag {
	font-size: 12px;
	color: #aaa;
	font-weight: 400;
	margin-right: 12px
}
 .header-info .collapsed-listing-row div {
	display: inline
}
 .header-info .collapsed-listing-row .collapsed-title {
	font-weight: 700;
	margin-right: 10px
}
 .feedback-row {
	-webkit-font-smoothing: antialiased;
	background: #fff;
	margin-top: 16px;
	border: 1px solid #e7e9eb;
	border-radius: 4px
}
html.ms  .feedback-row {
	margin-left: -17px;
	margin-right: -17px;
	margin-bottom: -17px;
	border-radius: 0
}





 .buttons .archive-button.interested_tab {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding-right: 18px
}
 .buttons .add-note-button {
	float: left
}
 .buttons .add-note-button a {
	color: #fff;
	font-size: 16px;
	width: 47px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-right: 14px;
	border-left: 1px solid hsla(0, 0%, 100%, .15);
	padding-left: 15px
}
 .buttons .add-note-button.interested_tab a {
	color: #222;
	border-left: 1px solid rgba(0, 0, 0, .1)
}
 .buttons-right {
	float: right;
	margin: 7px
}
html.ms  .buttons-right {
	float: left;
	margin: 7px 0 14px
}
 .buttons-right a.refer-button {
	text-decoration: none;
	color: #9a9c9f
}
 .buttons-right a.refer-button:hover {
	color: #3c3c3e
}
 .buttons-right a.refer-button .fontello-icon {
	margin-right: 2px
}
html.ml  .buttons-right a.refer-button {
	padding: 25px 0
}
 .not-interested-icon {
	position: absolute;
	right: 17px;
	top: 37px;
	font-size: 18px;
	color: #9a9c9f
}
 .not-interested-icon .fontello-icon {
	font-size: 18px;
	line-height: 16px;
	position: relative;
	top: 1px
}
 .not-interested-icon:hover {
	color: #3c3c3e
}
 .note-prompt {
	display: none
}
 .note-prompt input[type=text],
 .note-prompt textarea {
	box-sizing: border-box;
	height: inherit;
	font-size: 14px;
	padding: 9.33333px;
	color: #333;
	font-weight: 400;
	border: 1px solid #e2e3e4;
	border-radius: 3px;
	outline: none;
	width: 100%
}
html.ms  .note-prompt input[type=text],
html.ms  .note-prompt textarea {
	width: 100%
}
 .note-prompt input[type=text]:focus,
 .note-prompt textarea:focus {
	border: 1px solid #94caf3;
	box-shadow: 0 0 5px #7dbef1
}
 .note-prompt input[type=text]:disabled,
 .note-prompt textarea:disabled {
	background-color: #f3f4f5
}
 .note-prompt textarea {
	margin-top: 5px;
	height: 140px;
	margin-bottom: 5px
}
 .note-prompt .g-button {
	font-size: 1em;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-right: 5px
}
html.ms  .note-prompt .g-button {
	margin-bottom: 15px
}
 .star {
	unicode-bidi: bidi-override;
	cursor: pointer;
	font-size: 1.5em;
	margin-top: 2px;
	text-align: left;
	width: 40px;
	color: #ccc
}
 .star.starred,
 .star.starred:hover {
	color: gold
}
 .star:hover {
	color: #4d4d4d
}
 .browse-table-row-pic {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .05);
	width: 37px;
	height: 37px;
	line-height: 35px;
	vertical-align: middle;
	border-radius: 4px;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #e9eaec;
	border-left: 1px solid #e9eaec;
	border-top: 1px solid #f7f8f9;
	float: left;
	cursor: pointer;
	margin-right: 11px
}
 .browse-table-row-pic img {
	max-height: 37px;
	max-width: 37px;
	min-height: inherit;
	width: 100%;
	border: none;
	padding: 0
}
 .header-info {
	float: left;
}
html.ms  .header-info {
	width: 81%
}
 .header-info .browse-table-row-name {
	float: left;
	line-height: 1.5em;
	font-size: 16px;
	margin-right: 8px;
	margin-top: -2px
}
 .header-info .browse-table-row-name a {
	color: #333;
	font-weight: 700
}
 .header-info .browse-table-row-name a:hover {
	color: #3078ca
}
 .header-info .tagline {
	font-size: 14px;
	font-weight: 400;
	color: #666;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
 .header-info .tagline a {
	color: #666
}
 .header-info .tag-row {
	float: left
}
 .header-info .tag-row .tag {
	float: left;
	font-size: 12px;
	color: #aaa;
	margin-right: 24px;
	font-weight: 400;
	width: 140px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
 .header-info .tag-row .tag.applicants {
	width: 150px
}
 .header-info .tag-row .tag.locations {
	width: 110px
}
 .header-info .tag-row .tag.active {
	width: 150px
}
html.ms  .header-info .tag-row .tag,
html.ms  .header-info .tag-row .tag.active,
html.ms  .header-info .tag-row .tag.applicants,
html.ms  .header-info .tag-row .tag.locations {
	width: 100%;
	margin-right: 0
}
 .header-info .icon {
	color: #bdbdbd;
	margin-right: 2px
}
 .header-info .notification {
	float: left;
	margin-right: 10px
}
html.ms  .header-info .notification {
	clear: both
}
 .details {
	*zoom: 1;
	display: none
}
 .details:after {
	content: "";
	display: table;
	clear: both
}
 .details .startup-info-table {
	box-sizing: border-box
}
html.ml  .details .startup-info-table {
	margin-left: 50px;
	margin-right: 15px
}
html.mm  .details .startup-info-table {
	margin-left: 50px
}
 .details .details-loading {
	text-align: center
}
.djl87.fpd4,
.djl87.fpw29 {
	font-size: 14px;
	font-weight: 600;
	background-color: #f6f7f7!important;
	box-shadow: none!important;
	text-shadow: none!important;
	cursor: default!important;
	color: #646771;
	padding: 15px 20px;
	float: left;
	position: relative;
	width: 100%;
	box-sizing: border-box
}
.warning.djl87.fpd4 .explanation,
.warning.djl87.fpw29 .explanation {
	color: #9f1117!important
}
.djl87.fpd4 .explanation,
.djl87.fpd4 .explanation-new,
.djl87.fpw29 .explanation,
.djl87.fpw29 .explanation-new {
	margin-top: 3px
}
.djl87.fpd4 .right-buttons a,
.djl87.fpw29 .right-buttons a {
	font-weight: 300;
	cursor: pointer
}
.djl87.fpd4 .job-listings-section,
.djl87.fpw29 .job-listings-section {
	width: 100%;
	max-width: 600px
}
.djl87.fpd4 .job-listings-section .job-listings-header,
.djl87.fpw29 .job-listings-section .job-listings-header {
	color: #a5a6a7;
	font-size: 12px
}
.djl87.fpd4 .job-listings-section .job-listing,
.djl87.fpw29 .job-listings-section .job-listing {
	padding: 6px 12px;
	background-color: #fff;
	margin: 12px 0;
	border-radius: 6px
}
.djl87.fpd4 .job-listings-section .job-listing .title a,
.djl87.fpw29 .job-listings-section .job-listing .title a {
	color: #777778;
	font-weight: 600
}
.djl87.fpd4 .job-listings-section .job-listing .tags,
.djl87.fpw29 .job-listings-section .job-listing .tags {
	font-size: 11px;
	color: #b8b8b9
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons {
	margin-top: 5px
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input {
	display: none
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons label,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons label {
	font-size: 11px;
	padding: 6px 8px;
	width: 80px;
	font-weight: 400!important
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons label,
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons label:link,
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons label:visited,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons label,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons label:link,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons label:visited {
	margin: 0;
	border-radius: 3px;
	border: none;
	background: none;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	font-family: helvetica neue, arial, helvetica, freesans, liberation sans, numbus sans l, sans-serif;
	font-weight: 400;
	text-decoration: none;
	text-align: center;
	display: inline-block
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons label:active,
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons label:hover,
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons label:link:active,
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons label:link:hover,
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons label:visited:active,
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons label:visited:hover,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons label:active,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons label:hover,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons label:link:active,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons label:link:hover,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons label:visited:active,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons label:visited:hover {
	outline: none;
	text-decoration: none
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons label:hover,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons label:hover {
	cursor: pointer
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons .interested,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons .interested {
	border-radius: 4px 0 0 4px
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons .not-interested,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons .not-interested {
	border-radius: 0 4px 4px 0;
	margin-left: -4px
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:checked+label.interested,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:checked+label.interested {
	border: 1px solid #3f81c7
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:checked+label.interested,
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:checked+label.interested:link,
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:checked+label.interested:visited,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:checked+label.interested,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:checked+label.interested:link,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:checked+label.interested:visited {
	color: #f0f0f0;
	background-color: #3f81c7;
	background-image: linear-gradient(#3f81c7, #3f81c7);
	text-shadow: none
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:checked+label.interested:hover,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:checked+label.interested:hover {
	background-color: #4a88cb;
	background-image: linear-gradient(#4a88cb, #4a88cb);
	text-shadow: none
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:checked+label.interested:active,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:checked+label.interested:active {
	background-color: #3779bf;
	background-image: linear-gradient(#3779bf, #3779bf);
	text-shadow: none
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:checked+label.interested.alternate,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:checked+label.interested.alternate {
	background-color: #669bd3
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:checked+label.interested.alternate:hover,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:checked+label.interested.alternate:hover {
	background-color: #528ecd;
	cursor: pointer
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.interested,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.interested {
	border: 1px solid #8198af;
	border: 1px solid #ebeced
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.interested,
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.interested:link,
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.interested:visited,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.interested,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.interested:link,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.interested:visited {
	color: #6b7c8d;
	background-color: transparent;
	background-image: linear-gradient(transparent, transparent);
	text-shadow: none
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.interested:hover,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.interested:hover {
	background-color: rgba(8, 8, 8, 0);
	background-image: linear-gradient(rgba(8, 8, 8, 0), rgba(8, 8, 8, 0));
	text-shadow: none
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.interested:active,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.interested:active {
	background-color: transparent;
	background-image: linear-gradient(transparent, transparent);
	text-shadow: none
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:checked+label.not-interested,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:checked+label.not-interested {
	color: #fff!important;
	background-color: #b6b7b8!important;
	border: 1px solid #b6b7b8
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.not-interested,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.not-interested {
	border: 1px solid #8198af;
	border: 1px solid #ebeced
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.not-interested,
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.not-interested:link,
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.not-interested:visited,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.not-interested,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.not-interested:link,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.not-interested:visited {
	color: #6b7c8d;
	background-color: transparent;
	background-image: linear-gradient(transparent, transparent);
	text-shadow: none
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.not-interested:hover,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.not-interested:hover {
	background-color: rgba(8, 8, 8, 0);
	background-image: linear-gradient(rgba(8, 8, 8, 0), rgba(8, 8, 8, 0));
	text-shadow: none
}
.djl87.fpd4 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.not-interested:active,
.djl87.fpw29 .job-listings-section .job-listing .interested-buttons input:not(:checked)+label.not-interested:active {
	background-color: transparent;
	background-image: linear-gradient(transparent, transparent);
	text-shadow: none
}
.job-list-item {
	box-shadow: none
}
.promo {
	position: relative
}
.job_listings .character-count-container {
	display: inline-block
}
.job_listings.report_company {
	width: 350px
}
.job_listings.report_company .header {
	background-color: #333;
	height: 60px;
	width: 100%;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	padding-left: 16px;
	box-sizing: border-box
}
.job_listings.report_company .header h2 {
	font-size: 16px;
	color: #fff;
	line-height: 60px;
	text-shadow: 0 -2px #000
}
.job_listings.report_company form {
	padding: 10px
}
.job_listings.report_company form textarea {
	font-size: 12px;
	width: 100%;
	height: 150px
}
.job_listings.list table {
	width: 100%
}
@media only screen and (min-width: 768px) {
	.job_listings.list table .actions-cell,
	.job_listings.list table .job-cell,
	.job_listings.list table .recruiter-cell {
		display: table-cell;
		box-sizing: border-box;
		vertical-align: top
	}
	.job_listings.list table .job-cell {
		width: 60%;
		padding: 14px 21px
	}
	.job_listings.list table .recruiter-cell {
		width: 10%;
		text-align: center;
		padding: 14px 7px
	}
	.job_listings.list table .actions-cell {
		width: 30%;
		text-align: center;
		padding: 14px 7px
	}
}
@media only screen and (max-width: 767px) {
	.job_listings.list table .job-cell {
		padding-right: 70px
	}
}
.job_listings.list table .listing-th {
	border-top: 1px solid #e8eef3
}
@media only screen and (min-width: 768px) {
	.job_listings.list table .listing-th {
		display: table;
		width: 100%
	}
	.job_listings.list table .listing-th .actions-cell,
	.job_listings.list table .listing-th .job-cell,
	.job_listings.list table .listing-th .recruiter-cell {
		font-size: 10px;
		font-weight: 600;
		color: #909cab;
		letter-spacing: .2px;
		text-transform: uppercase;
		padding-top: 7px;
		padding-bottom: 7px
	}
}
