/* ----------------- GLOBAL ------------------*/
body
  color: #7a8994;
  margin: 0;
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .01em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1
/* ----------------- HEADER ------------------*/

.layout_default .topbar p,
.layout_default .topbar ul.breadcrumb_top li a,
.layout_default .topbar ul.breadcrumb_top > li + li::before
  color: #1f1f1f;

.topbar p, .topbar ul.breadcrumb_top
  margin: 10px 0;

.topbar ul.breadcrumb_top, .topbar ul.breadcrumb_top li
  display: inline-block;

.topbar ul.breadcrumb_top > li + li::before
  content: "|";
  padding-left: 0.5rem;
  padding-right: 0.5rem;

.topbar ul.breadcrumb_top li a
  font-size: 12px;

.topbar ul.breadcrumb_top li a.router-link-active,
.topbar ul.breadcrumb_top li a:hover
  text-decoration: underline;

@media screen and (max-width: 1024px)
  .topbar ul.breadcrumb_top li a
    font-size: 10px;

  .topbar p
    font-size: 12px;


@media screen and (max-width: 992px)
  .topbar p
    display: none;

  .topbar ul.breadcrumb_top
    display: inline-block;
    float: left;


@media screen and (max-width: 767px)
  .topbar .text-right
    text-align: left;

  .topbar ul.breadcrumb_top
    display: block;
    text-align: center;


/* ----------------- PANEL ------------------*/
.br-section-footer
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);

.br-section-header
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

@media only screen and (min-width:768px)
    .br-section-header
        padding: 22.5px

/* ----------------- PROPOSAL ----------------- */
.proposal_show .column-sidebar
	position: relative;
	z-index: 3;

.proposal_show .entry-header
	position: relative;
	z-index: 1;

.proposal_show .entry-header:before
	background: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.075);
	bottom: 0;
	content: "";
	display: block;
	left: -68.4%;
	pointer-events: none;
	position: absolute;
	right: -68.4%;
	top: 0;
	z-index: -1;

/* ----------------- UPLOAD ------------------*/
/* Close Button */

[class*='close-']
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 0px;
  text-decoration: none;
  top: 5px;

.close-classic:after
  content: 'X'; /* ANSI X letter */

.upload-wrapper
  position: relative;



/** ------  form  ------ **/
.checkbox-wrapper
  padding: 5px;
.form-group.has-error>.checkbox-wrapper
  border-radius: 3px 3px 0 0;
  padding-bottom: 20px;
  border: #ee4036 1px solid;

.form-group.has-error>span.error
  display: block!important;

.form-group.has-error>input[type=text],
.form-group.has-error>input[type=password]
  border-radius: 3px 3px 0 0;
  border-color: #DC3545;

.form-group.has-error>span.error
  font-size: 11px;
  font-size: .6875rem;
  display: block;
  color: #fff;
  background-color: #ee4036;
  padding: 5px;
  border-radius: 0 0 3px 3px

button:active
  outline: 0 none;
  position: relative;
  top: 1px;

button:focus
  outline: none!important;

/** ------  modal  ------ **/

.modal-mask
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;


.modal-wrapper
  display: table-cell;
  vertical-align: middle;


.modal-container
  margin: 0px auto;
  transition: all .3s ease;


/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter
  opacity: 0;


.modal-leave-active
  opacity: 0;


.modal-enter .modal-container,
.modal-leave-active .modal-container
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

/** ------  image  ------ **/
img
  display: inline-block;
  max-width: 100%;
  height: auto;
  border-style: none;


